[2021-08-11 23:18] RussTreadon-NOAA commented on #186
We need to get changes for a commercial gpsro upgrade into operations in
addition to the CrIS NPP & Metop-C IASI changes.   The order of these
various implementations isn't clear.

TAC2BUFR does not require a new DA tag.  TAC2BUFR is an ObsProc
implementation.   ObsProc exists outside the GFS.

There is a disconnect between how the operational gfs and developer
parallels specify the global ObsProc

[2021-08-11 23:29] HaixiaLiu-NOAA commented on #186
@KristenBathmann-NOAA Is it true that the correlated error is not initialized if the iuse=-1, which is the case for CrIS NPP now. Since the iuse is reset to -1 for CrIS NPP. I will let the parallel run for another cycle so that you can check the 2nd cycle correlated error.

[2021-08-12 18:25] HaixiaLiu-NOAA commented on #186
FYI, a few updates on this.

1, RadMon shows the CrIS NPP data is stable after the data came back on 2021081000.
![image](https://user-images.githubusercontent.com/45015513/129248150-c8605517-d57b-4f93-b5b2-a6af83c0b59b.png)

![image](https://user-images.githubusercontent.com/45015513/129248206-b97ceec3-a3e0-4945-a1de-cbd77a741bb8.png)

2, Kristen helped me check the analysis log for the 2nd cycle

[2021-08-13 00:15] HaixiaLiu-NOAA commented on #186
I have started the real-time parallels (control and experiment) on Mars. The control only runs for 1 cycle and is used to compare with the experiment. Here are the key directories for the experiment.

EXPDIR:  /gpfs/dell2/emc/modeling/save/Haixia.Liu/para_v16/v16iasicris2
HOMEgfs:  /gpfs/dell2/emc/modeling/noscrub/emc.glopara/git/global-workflow/release_gfsv16.1.2.1
ROTDIR:  /gpfs/dell2/ptmp/Haixi

[2021-08-13 10:49] RussTreadon-NOAA commented on #186
**RFC 8521**

ObsProc upgrade (RFC 8521) was to be implemented 2021081012.  This was postponed and rescheduled to 2021081612 due to Critical Weather Day.    A new CWD was declared for the period 2300Z Thu Aug 12 2021 to 1200Z Tue Aug 17 2021.   This will likely further postpone implementation of RFC 8521.

v16iasicris2 $EXPDIR/config.base contains logic to switch to RFC 8554 ObsProc starting 20210

[2021-08-13 14:17] HaixiaLiu-NOAA commented on #186
@RussTreadon-NOAA Thank you for checking. I will stop the parallel on 2021081606 cycle and wait for the decision-making of the RFC8521 implementation date.

[2021-08-13 14:28] jderber-NOAA commented on #175
From a suggestion from Jacob C. the code was modified so that for the global case, it can determine whether the input berror file is a new version or an old version without any namelist variables being specified.  For the regional, the newgfsberror variable still needs to be changed when the new file is used.

Regression tests run and passed.

[2021-08-13 18:14] MichaelLueken-NOAA commented on #192
08/09/2021 - 08/13/2021

Pushed commit 13ddc62, which completed the declaration of externals for the GSI and began declaring externals for the EnKF.  Will complete EnKF declarations next week.

[2021-08-16 02:51] HaixiaLiu-NOAA commented on #186
I encountered a segmentation fault at gdasprep step at 2021081306 for my parallel experiment v16iasicris2 on Mars. I warm started this parallel from 2021081212 gdasprep step. The first 3 cycles (12z and 18z cycles on 8/12 and 00z cycle on 8/13) ran to complete except for the metplus at 2021081300. Then the gdasprep step had a segmentation fault at 06z 8/13 cycle. I checked the log file: /gpfs/dell

[2021-08-16 10:55] RussTreadon-NOAA commented on #186
Numerous operational prep jobs failed 2021081306.  This was traced to an increase in the number of aircraft observations, most likely AMDAR from China.  See item 1 of the [8/13/2021 SDM log](http://www2.nco.ncep.noaa.gov/pmb/sdmlogs/aug/13/) for details.

A check of operational GFS atmos_prep log files shows a version change for `obsproc_prep` from `v5.4.0` to `v5.4.0a`.  Comparison of `$NWROOTp3/

[2021-08-16 11:26] HaixiaLiu-NOAA commented on #186
@RussTreadon-NOAA Thank you for helping figure out the issue and provide the solution. I will follow your suggestion to make the changes.

[2021-08-16 11:51] RussTreadon-NOAA commented on #186
@HaixiaLiu-NOAA :  We should wait for Shelley's guidance.   It is not clear to me if the change in operations is the ARFC mentioned in the SDM log or a temporary patch.

[2021-08-16 17:08] ShelleyMelchior-NOAA commented on #186
The path forward:
RFC 8521 updated to include changes to obsproc_prep_RB-5.5.0
obsproc_prep.v5.4.0a will run in operations until scheduled RFC 8521 implementation, 20210818 @1135Z

If real-time global paras need to test marine T2B changes, then use updated obsproc_prep_RB-5.5.0.
If real-time global paras need to use operational obsproc_prep, then use obsproc_prep.v5.4.0a.

[2021-08-16 19:55] HaixiaLiu-NOAA commented on #186
Following @RussTreadon-NOAA 's guidance, the following section is implemented in the config.base since 2021081306 cycle prep step.

export HOMEobsproc_prep="$BASE_GIT/obsproc/gfsv16b/obsproc_prep_RB-5.4.0a"
export HOMEobsproc_network="$BASE_GIT/obsproc/gfsv16b/obsproc_global_RB-3.4.0"

# After RFC 8554 implemented (1135Z on 8/10) use HOMEobsproc_prep and
# HOMEobsproc_network below
if [[ "$CDATE"

[2021-08-17 17:45] CatherineThomas-NOAA commented on #184
A new release branch has been created in the authoritative repository rather than a fork.  The branch is [release/gfsda.v16.x](https://github.com/NOAA-EMC/GSI/tree/release/gfsda.v16.x).  It was initially made as a copy of release/gfsda.v16.1.0

[2021-08-18 15:28] CatherineThomas-NOAA opened #200 "Operational Assimilation of Commercial GPS-RO in DO-3"
Delivery Order 3 (DO-3) of the commercial GPS-RO data purchase was awarded to Spire only.  Delivery runs from Sept 16, 2021 (11am ET, 1500 UTC) to March 16, 2022.  On Sept 16, 2021, GeoOptics data will also stop flowing.

The implementation number is still unconfirmed by NCO.  We will use v16.1.3 until we get confirmation.

Mike has created a release branch in the authoritative repo for this work:

[2021-08-19 15:37] KristenBathmann-NOAA commented on #200
A PR was created to bring in changes to setupbend. The convinfo file still needs to be updated.

[2021-08-19 21:01] RussTreadon-NOAA commented on #154
**2021081906_gfs**

MinMon flagged the 2021081906 gfs cycle with the following warning

`Final gnorm gross check failure:  suffix = GFS,  cycle = 2021081906, final gnorm = 0.00084927489879786   File source for report is:  /gpfs/dell1/nco/ops/com/gfs/prod/gfs.20210819/06/atmos/gfs.t06z.gsistat`

Below is the gnorm curve.
![GFS_gfs 2021081906 gnorms](https://user-images.githubusercontent.com/2692695

[2021-08-20 15:21] RussTreadon-NOAA commented on #186
**v16iasicris2 update**

A check of v16iasicris2 gdasprep.log confirm a successful switched to the RFC 8521 ObsProc upgrades effective 2021081806 gdas.

Sufficient v16iascris2 cycles have been completed to stand up a monitoring and verification page.   METplus is now the official EMC monitoring and verification package.  However, METplus does not yet incorporate fit2obs.   While METplus can genera

[2021-08-22 15:27] HaixiaLiu-NOAA commented on #186
@RussTreadon-NOAA Thank you for making these plots.

I also made the gsistat plots shown below.

![gsistat_uvtq_Bias](https://user-images.githubusercontent.com/45015513/130360862-f9c229c6-d8db-4be8-894e-485de39bb697.png)
![gsistat_uvtq_RMSE](https://user-images.githubusercontent.com/45015513/130360865-347342a6-ffbb-4599-b1ef-565cb1fe9b48.png)
![gsistat_uvtq_Count](https://user-images.githubusercon

[2021-08-23 16:55] #189 closed

[2021-08-24 02:05] HaixiaLiu-NOAA commented on #186
The parallel experiment v16iasicris2 has a starting date 2021081212 and has run in real-time since 8/22. Its VSDB stats have not enough days yet, but the HGT AC for day1-3 in the tropics show worse scores. I will watch the stats in the following days.
![image](https://user-images.githubusercontent.com/45015513/130543109-bd6a7dfb-95d4-45b0-8950-6b9ce5c0d413.png)

[2021-08-24 21:06] CatherineThomas-NOAA commented on #200
Additional global_convinfo.txt files were added to the gfsv16_historical fix directory.  These cover the DO-2 and DO-3 implementations as well as HDOB data which were included in the v16 implementation but not present in the historical directory.  Three files were added:

- global_convinfo.txt.2020082412 (HDOB)
- global_convinfo.txt.2021031712 (DO-2)
- global_convinfo.txt.2021091612 (DO-3)

One fi

[2021-08-25 01:59] HaixiaLiu-NOAA commented on #191
NASA AIRS bufr dumps are available for the period of 20210728 to 20210810 and I have asked ObsProc team to extend the data covering a longer period.

Cathy pointed out that there is not a suitable time where a real time parallel covers the period of 20210728-20210810, so have to cold start the control run. Cathy helped me generate IC files (chgresed from operational run to low-reso and ensemble me

[2021-08-30 17:32] KristenBathmann-NOAA commented on #186
I computed the covariances for IASI-C in my low resolution run, and in Haixia's high resolution run. The differences observed between the two were expected, however, the error structure for some of the surface channels is unexpected. Attached are pictures from the high resolution experiment. These are after matrix reconditioning and variance inflation.
![lowliasicseacorr](https://user-images.githu

[2021-08-30 18:52] ADCollard commented on #186
@KristenBathmann-NOAA  Do you have the MetOp-B IASI plots for reference as I am not clear which channels are of concern.  The radmon plots look almost identical for the two instruments.

[2021-08-31 15:10] KristenBathmann-NOAA commented on #186
I was double inflating the window channels. I will delete my previous post. Here are the covariance results for IASI-C from Haixia's high res run (after reconditioning and variance inflation):
![highiasiclandcorr](https://user-images.githubusercontent.com/45015626/131527756-e3835680-5a44-46af-bf7d-598b02388239.png)
![highiasicseacorr](https://user-images.githubusercontent.com/45015626/131527764-cf

[2021-08-31 19:17] XianwuXue-NOAA opened #203 "Port GSI master to WCOSS2"
Due to the new changes of the environment on WCOSS2, so I updated the modules and their version.

[2021-08-31 19:21] XianwuXue-NOAA commented on #203
@MichaelLueken-NOAA I compiled it on Cactus, this is my build log file: /lfs/h2/emc/ens/noscrub/Xianwu.Xue/gw/gw_feature_gefs_v12_github_port2acorn/sorc/gsi.fd/xxw.log. I noticed there are a lot of warnings: such as "warning #8889: Explicit declaration of the EXTERNAL attribute is required"

[2021-09-01 10:23] MichaelLueken-NOAA commented on #203
@XianwuXue-NOAA

The GSI, EnKF, and utilities have been updated for Cactus and all EXTERNALS have been declared in this issue NOAA-EMC/GSI#192.  The branch in my fork that is associated with this issue is:

https://github.com/MichaelLueken-NOAA/GSI/tree/feature/acorn_debug_cleanup

Now that the GSI and utilities have been tested by Russ Treadon and myself, once the latest PR has been merged to the

[2021-09-01 11:46] XianwuXue-NOAA commented on #203
@MichaelLueken-NOAA Sounds good. I will discard my changes to use your changes in the future.

[2021-09-02 13:01] ScottSieron-NOAA commented on #68
The parallel experiment with bias correction coefficients of all satellite sensors to 0, and using CRTM v2.4.0, is near completion. Compared to the original experiment, results are distinctly different and mixed in improvement/degradation, though perhaps more improvement.
![gsistat_uvtq_RMSE](https://user-images.githubusercontent.com/70583461/131848152-300ec1b5-d867-4dc1-82b9-73128ecbabb6.png)

[2021-09-02 13:26] emilyhcliu commented on #188
@ScottSieron-NOAA Great!  Thanks.  Could you also post the BIAS plot?

[2021-09-02 13:29] ScottSieron-NOAA commented on #68
The CRTM 2.4.0 experiment also has overall reduced biases, especially in temperature.
![gsistat_uvtq_Bias](https://user-images.githubusercontent.com/70583461/131852242-4e7e835e-3762-4f00-b0f7-16402a9fd2f8.png)

[2021-09-02 13:29] ScottSieron-NOAA commented on #188
The CRTM 2.4.0 experiment also has overall reduced biases, especially in temperature.
![gsistat_uvtq_Bias](https://user-images.githubusercontent.com/70583461/131852280-7d3ecef6-f6f2-4682-8ea6-67f1981e1177.png)

[2021-09-02 13:54] emilyhcliu commented on #188
@ScottSieron-NOAA Thanks.  The result in terms of BIAS looks great!!

[2021-09-02 15:06] HaixiaLiu-NOAA commented on #186
Kristen provided updated Rcov_iasicsea and Rcov_iasicland computed from the high-reso parallel experiment v16iasicris2. The para v16iasicris2 will use these two new Rcov files starting from 2021090212 cycle (the global_anavinfo.l127.txt has been updated to use new Rcov). I will examine the gdasanal.log file to make sure the analysis at 2021090212 uses proper Rcov.

[2021-09-02 19:41] HaixiaLiu-NOAA commented on #186
The gdasanal step is running now on WCOSS. I checked the log file, and believe it is using the Rcov correctly.

Below is what I greped from the log file (per Kristen's suggestion):

Rcov(Evals) for Instrument: iasi_metop-c:sea  cond=      6.7955322990E+01
Rcov(stdev) for instrument: iasi_metop-c:sea recond
Rcov(Evals) for Instrument: iasi_metop-b:sea  cond=      6.8648778493E+01
Rcov(stdev) for in

[2021-09-03 01:45] wyhqq opened #204 "GSI compile errors relating to NEMSIO"
Dear sir,

I have finished the hpc-stack-DTC installation with only UTIL-GRIB unsuccessfully installed.

When I try to make install  GSI  with "make -j 8" after finishing "cmake  cmake -DBUILD_WRF=ON  -B/GSI-build  -S/GSI", the errors occured,

CMakeFiles/calc_analysis.x.dir/inc2anl.f90.o: In function `__inc2anl_MOD_add_psfc_increment':
/GSI/util/netcdf_io/calc_analysis.fd/inc2anl.f90:266: undefin

[2021-09-03 14:33] HaixiaLiu-NOAA commented on #191
Obtained the gdas and gfs bufr dumps from ObsProd team for the period of 20210728-20210829. A low-reso control run has been started on Hera one week ago. The IC files were chgresed from the opr v16 to low-reso @ 2021072000. The ensemble members are identical to each other and chgresed from a deterministic background. This control run will be cycled a week to build ensemble spread.

[2021-09-03 18:03] #175 closed

[2021-09-03 20:08] HaixiaLiu-NOAA commented on #191
Ensemble spread plots from the control run:

![v16_airs_ctl_tmp_spread_time](https://user-images.githubusercontent.com/45015513/132060370-df7b4a51-c425-4198-8071-889e13b980ed.png)
![v16_airs_ctl_ugrd_spread_time](https://user-images.githubusercontent.com/45015513/132060389-f9763dc2-ac54-465b-98e6-5696226165ac.png)

The parallel experiment with NASA AIRS data was warm started from the control run @

[2021-09-05 07:39] #204 closed

[2021-09-05 07:57] wyhqq opened #205 "Errors relating to "Cannot convert CHARACTER(1) to REAL(8)" when install GSI"
I install GSI with gcc-9.1.0 and cmake 3.20.2

1) Command line:

cd/GSI-build/src/gsi && /app/mpich-3.3.2/bin/mpif90  -I/app/mpich-3.3.2/include -I/GSI/. -I/GSI-build/include -I/app/hpc-stacks -I/app/hpc-stacks/include -I/GSI-build/src/fv3gfs_ncio/include -I/GSI/src/gsi/. -J../../include  -g -fbacktrace -fconvert=big-endian -std=legacy -Wno-error=unused-function     -ffast-math -fno-second-undersc

[2021-09-06 08:32] #205 closed

[2021-09-07 12:59] HaixiaLiu-NOAA commented on #191
checked the 1st analysis @ 2021072812, gsistat shows expected differences from the control run. The AIRS product was successfully read in and processed. There are no AIRS data assimilated at the 1st analysis cycle due to the zeroed out bias correction coeffs for both airs_aqua and amsua_aqua except for the channel 14 amsua_aqua due to no bias correction applied to this channel. The 2nd analysis cy

[2021-09-08 14:31] lbi2018 opened #206 "bug fix which cause HWRF self-cycled DA system failure"
This new issue is a bug fix which cause HWRF self-cycled DA system failure. The failure was caused by an array index out of bound due to the precision of integer calculation even though the array dimension is dynamically allocated. The source code is read_l2bufr_mod.f90.

[2021-09-08 17:48] HaixiaLiu-NOAA commented on #186
Kate created a release branch for this work off of the operations [branch:](https://github.com/NOAA-EMC/global-workflow/tree/release/gfsv16.1.4)

[2021-09-08 19:55] BenjaminTJohnson commented on #188
I agree, this looks really good.  If there are any additional results from your assessments that you can share with me, I would appreciate it.

[2021-09-10 02:41] HaixiaLiu-NOAA commented on #186
The parallel has been handed over to EIB on 9/2/2021. Russ has kindly helped with the transition to EIB, figured one important issue with the workflow used by this parallel at gldas step. The v1.12.0 gldas should be updated to v1.13.0 in order to pick up right precipitation forcing file if running in catch-up mode (fall behind real-time).

[2021-09-10 02:44] HaixiaLiu-NOAA commented on #186
Mike has created  a new GSI branch release/gfsda.v16.1.4 for me to merge the changes in the para v16iasicris2 and prepare for the gfsv16.1.4 implementation

[2021-09-10 13:36] HaixiaLiu-NOAA commented on #186
the branch [release/gfsda.v16.1.4](https://github.com/NOAA-EMC/GSI/tree/release/gfsda.v16.1.4) has been updated @ [ea47071](https://github.com/NOAA-EMC/GSI/commit/ea4707169f18cf38aaa8eefd6612ff792f4c5de0) with new fix files

[2021-09-10 19:58] HaixiaLiu-NOAA commented on #191
preliminary plots from PyGSI using gsistat files, serving as a sanity check.
![gsistat_uvtq_Bias](https://user-images.githubusercontent.com/45015513/132910505-7eb130d5-d5ad-479f-82f6-ede51b6428a3.png)
![gsistat_uvtq_RMSE](https://user-images.githubusercontent.com/45015513/132910573-9bdd974f-1237-4264-9202-8d7b40b98147.png)

[2021-09-14 18:02] XuLi-NOAA opened #208 "GSI code fix to handle the new in situ (ships) bufr subsets in nsstbufr observation data file"
A ObsProc upgrade was implemented at 2021180600 GFS cycle. This introduced three new ships data, NC001013, NC001101 and NC001113, into sfcshp and therefore nsstbufr data file. The GSI code can handle the known (by GSI decoder) subsets correctly, but not for the unknown (new) subsets. The code, read_nsstbfr.f90, needs to be modified to handle the new subsets. Otherwise, as shown in GFS production,

[2021-09-14 20:32] CatherineThomas-NOAA commented on #200
As a result of the obsproc implementation on Aug 18, a bug in the read_nsstbufr routine was discovered (described in #208).  It has been decided that this change will be included with the DO-3 GPSRO changes.

The gfsda.v16.1.3 tag was recreated from the head of release/gfsda.v16.1.3 at 972d545.

[2021-09-15 10:26] MichaelLueken-NOAA commented on #208
These changes were merged to release/gfsda.v16.1.3 at 972d545.  Closing issue.

[2021-09-15 10:26] #208 closed

[2021-09-17 17:45] #141 closed

[2021-09-20 15:58] CatherineThomas-NOAA commented on #200
Implementation of v16.1.3 was pushed back to Monday 9/27 at 12z.

[2021-09-20 16:19] LouisKouvaris-NOAA opened #211 "Add a configurable variable to multiply the obs error for OMPS LP"
Pass configurable variable in OBSQC namelist to read_ozone.f90 to multiply the obserror for OMPS LP

[2021-09-20 16:46] KristenBathmann-NOAA opened #212 "Updates to Correlated Error Code"
Currently the correlated error code in the GSI src code cannot handle inconsistencies between the satinfo and the channels specified in a provided covariance file. This update will fix this, deleting row/columns in the covariance matrx if a channel is removed from the satinfo, or adding a row and column with no correlations if a channel is turned on in the satinfo. The changes will only occur in t

[2021-09-20 18:59] LouisKouvaris-NOAA opened #213 "Data assimilation from N20 OMPS NP and NM"
Add new QC for OMPS NM is setupoz. Add ompstcbufr, ompsnpbufr for N20 and ompslpbufr for NPP

[2021-09-20 20:58] ilianagenkova commented on #190
Code changes related to Metop-B/C winds will be folded with other minor changes into one [PR ](https://github.com/NOAA-EMC/GSI/pull/198)

[2021-09-21 12:23] LouisKouvaris-NOAA commented on #211
Addressed in PR #210

[2021-09-21 12:23] #211 closed

[2021-09-21 12:24] LouisKouvaris-NOAA commented on #213
OMPS NM on N20 added toGSI

[2021-09-21 17:19] DavidHuber-NOAA opened #215 "Update support for the GSI on Jet"
As part of the global workflow support on Jet (NOAA-EMC/global-workflow#357), the Jet build/run scripts and regression tests for the GSI should be updated.  The GSI has successfully built and run using the global workflow based on [commit 9c1fc15d](https://github.com/NOAA-EMC/GSI/commit/9c1fc15d42573b398037319bbf8d5143ad126fb6) on [port_2_jet](https://github.com/DavidHuber-NOAA/gsi/tree/port_2_jet

[2021-09-22 11:59] MichaelLueken-NOAA commented on #215
@DavidHuber-NOAA I don't have an official allocation on Jet, just my home directory, so there are no regression test canned data available on Jet.

[2021-09-22 17:40] #206 closed

[2021-09-22 17:46] #62 closed

[2021-09-22 21:39] CatherineThomas-NOAA opened #216 "GFSv16.1.3 - Emergency fix for Metop-A IASI"
An emergency change was made to the GFS in operations today to turn off the IASI from Metop-A earlier than planned. This became GFSv16.1.3 in production.  More details can be found in workflow issue [#446](https://github.com/NOAA-EMC/global-workflow/issues/446).

The previous release/gfsda.v16.1.3 (#200) was renamed as release/gfsda.v16.1.4.  A new release/gfsda.v16.1.3 will be created to capture

[2021-09-22 21:42] CatherineThomas-NOAA commented on #200
Due to an emergency implementation for Metop-A IASI, the DO-3 implementation will now be numbered v16.1.4.  Release branch release/gfsda.v16.1.3 was renamed release/gfsda.v16.1.4.  A new tag [gfsda.v16.1.4](https://github.com/NOAA-EMC/GSI/releases/tag/gfsda.v16.1.4) was created at 5faf37a.

[2021-09-22 21:45] CatherineThomas-NOAA commented on #186
Because of the emergency fix for Metop-A IASI, the tentative v16.1.4 implementation is being renumbered to v16.1.5.  Release branch release/gfsda.v16.1.4 has been renamed release/gfsda.v16.1.5.

[2021-09-24 02:29] HaixiaLiu-NOAA commented on #186
merged release/gfsda.v16.1.4 (turn off Metop-A IASI, modify read_nsstbufr for new ships data) into release/gfsda.v16.1.5. Update global_satinfo.txt to turn OFF CrIS_NPP LW channels for now since NESDIS is going to perform some activity on the instrument.

[2021-09-24 02:33] HaixiaLiu-NOAA commented on #186
commit # is [a4b17f6](https://github.com/NOAA-EMC/GSI/commit/a4b17f6913e23737275cddc4356f1146b95bc285)

[2021-09-24 15:34] HaixiaLiu-NOAA commented on #186
@RussTreadon-NOAA Tagged release/gfsda.v16.1.5 at [a4b17f6](https://github.com/NOAA-EMC/GSI/commit/a4b17f6913e23737275cddc4356f1146b95bc285) as gfsda.v16.1.5

Informed EIB with a release notes sent for them to tag a gfsv16.1.5 (see [global-workflow issue #439](https://github.com/NOAA-EMC/global-workflow/issues/439)

[2021-09-28 13:10] KristenBathmann-NOAA commented on #212
Regression tests have passed, as expected. The only failure was global_fv3_4denvar_C192, but it was because of memory use. There were no differences between the control and update.

[2021-09-28 13:35] HaixiaLiu-NOAA commented on #186
EIB (Lin Gan) reported that the parallel v16iasicris2 failed at gdas fcst and efcs for 2021092612 cycle with segmentation fault. Checking the gdasanal.log shows the following abnormal numbers for excess moisture at the 2nd outer loop.
background                   1.1088734627843344E+05
excess   moisture            _2.8187805775106544E+09_
surface pressure             8.5934129105349984E+03
tempera

[2021-09-28 13:49] TingLei-NOAA opened #218 "Parallelization of GSI IO for fv3-lam"
The parallelization of GSI IO for fv3-lam (including reading of fv3-lam ensemble) has been considered at EMC and outside collaborating institutes. Especially, recent fv3-lam forecast model prefer to directly dump data on subdomains in selected layout to speed up the model IO. This needs corresponding treatment on GSI IO part.
This IO issue is complicated because it is in association with the neede

[2021-09-28 15:45] CatherineThomas-NOAA commented on #200
In addition to the change in release branch, the fix branch was also renamed from DA_GFSv16.1.3_global_only to DA_GFSv16.1.4_global_only.  The satinfo file within the fix branch was updated to turn off IASI-A.  See issues #216 (GSI), [#446](https://github.com/NOAA-EMC/global-workflow/issues/446) (workflow) for details about the new v16.1.3 implementation.

GFS v16.1.4 went into operations on Septe

[2021-09-28 16:02] HaixiaLiu-NOAA commented on #186
Discussed the minimization issue from the v16iasicris2 parallel with @RussTreadon-NOAA, @emilyhcliu @ADCollard @KristenBathmann-NOAA. The decision was made to put a lower bound of qsat in the genqsat.f90 in the gfsda.v16.1.5 to avoid extreme cold temperature being generated.

[2021-09-28 16:30] RussTreadon-NOAA commented on #186
Recreate tag [gfsda.v16.1.5](https://github.com/NOAA-EMC/GSI/releases/tag/gfsda.v16.1.5) as copy of [release/gfsda.v16.1.5](https://github.com/NOAA-EMC/GSI/tree/release/gfsda.v16.1.5) at 7c5af91.

[2021-09-28 16:46] HaixiaLiu-NOAA commented on #186
Thank you, @RussTreadon-NOAA for updating the tag.

@KateFriedman-NOAA Would you please update the global-workflow with the updated GSI tag: [gfsda.v16.1.5](https://github.com/NOAA-EMC/GSI/releases/tag/gfsda.v16.1.5)?

[2021-09-28 16:47] HaixiaLiu-NOAA commented on #186
I will update the release notes accordingly and send it to you, @KateFriedman-NOAA

[2021-09-28 17:05] KateFriedman-NOAA commented on #186
@HaixiaLiu-NOAA Okie dokie, ready to ingest them when ready, thanks!

[2021-09-28 21:18] RussTreadon-NOAA commented on #186
**Impact of TLNMC modes for 2021092618 gdas**

Run 2021092618 gdas case with various number of vertical modes, `NVMODES_KEEP`, retained by the TLNMC.  Operations and the v16iasicris2 run with `NVMODES_KEEP=8`   Tabulated below are the final (min,max) sensible temperature analysis and increments (K) along with the global_gsi.x wall time (seconds).    All jobs ran the global_gsi.x on Mars Phase 3 no

[2021-09-28 23:53] HaixiaLiu-NOAA commented on #186
[Updated Release Notes for gfsv16.1.5](https://docs.google.com/document/d/19WSVMUh4hWS922isARpqgssZHpXKds-X8UaoJki9Fsc/edit)

[2021-09-29 00:10] HaixiaLiu-NOAA commented on #186
@RussTreadon-NOAA Should the above number be 1.190163096796E+02? Setting a lower bound of qmin=1.0e-07 on the qsat in genqsat.f90 results in relatively reasonable tsen_anl while not requiring a lot more wall time. EIB resumed the v16iasicris2 parallel and all the jobs have completed without issue at the 2021092612 cycle. The gdasanal.log at this cycle shows reasonable analysis and increment values

[2021-09-29 00:13] HaixiaLiu-NOAA commented on #186
@RussTreadon-NOAA Thank you for running those tests which provide helpful wall time guidance if the number of retained vertical modes increases.

[2021-09-29 00:16] RussTreadon-NOAA commented on #186
Yes, @HaixiaLiu-NOAA , you are correct.  Thank you for reading the comment and pointing out my error.   The table has been corrected.

[2021-09-30 19:49] jderber-NOAA opened #219 "Improve minimization and fix bug in vqc"
Code is in my branch minimfixes.

The minimization has not worked well in certain cases.  See issue #154.  Various small fixes to the analysis code have been made to improve this convergence.  They have been included in this issue for inclusion in the master.  Included in these changes is a bug fix for the vqc that has caused some resets in the minimization process.  Also include is a slight refor

[2021-10-01 16:31] ScottSieron-NOAA commented on #68
The experiment with resetting the bias correction coefficients of all satellite sensors to 0, and using CRTM v2.4.0 (TaTb4b_240) was stopped on October 2. Fit-to-obs show neutral to positive results in Z (pictured), W, Q and T.

In TaTb4b_240, the GFDL cloud fraction was calculated and input into the CRTM. Especially without the inclusion of precipitation in this experiment, these cloud fractions

[2021-10-01 16:31] ScottSieron-NOAA commented on #188
The experiment with resetting the bias correction coefficients of all satellite sensors to 0, and using CRTM v2.4.0 (TaTb4b_240) was stopped on October 2. Fit-to-obs show neutral to positive results in Z (pictured), W, Q and T.

In TaTb4b_240, the GFDL cloud fraction was calculated and input into the CRTM. Especially without the inclusion of precipitation in this experiment, these cloud fractions

[2021-10-01 16:59] BenjaminTJohnson commented on #188
Is there any plan to look over land as well?

￼

[2021-10-02 13:21] EdwardSafford-NOAA opened #220 "Update ConMon's MkBase script"
The MkBase.sh script is used to generate the ConMon's historic values (baseline) file.  This file is used to generate warnings for substantially reduced observation counts in specific cycles.

The MkBase.sh script is missing a feature which would enable it to evaluate only a single data source (i.e. t120) at a time, rather than evaluating all available sources (it's only mode of function at presen

[2021-10-05 09:29] #220 closed

[2021-10-06 16:25] EdwardSafford-NOAA opened #223 "OznMon fails to find output directory"
In the global_workflow's verf.sh job the output TANKverf_ozn is defined in a way that the OznMon plot scripts do not find.  Update the plot scripts to handle this case correctly.

This is a very small fix -- the RadMon correctly handles this situation so the fix is clear.

[2021-10-07 17:14] DavidHuber-NOAA commented on #215
I've successfully ported the regression tests and they all pass except global_fv3_4denvar_C192 and global_C96_fv3aero.

For global_fv3_4denvar_C192, it failed because I failed to add add the path to ncdump.  This test is rerunning now.

For global_C96_fv3aero, it failed for two reasons:
1) the time it took to run global_C96_fv3aero_hiproc_updat was ~65s, with a threshold of ~39s
2) related, the sc

[2021-10-07 20:26] CatherineThomas-NOAA commented on #184
A new fix branch has been created to go with the release branch: DA_GFSv16.x_global_only

Louis's ozone changes (#213) have been merged into release/gfsda.v16.x at 914f5f6 through PR #210.  In reviewing the PR, a typo was found, but Louis had retired and could not change the PR.  The PR was merged as is and another commit was made after to correct the typo at 87fc353.  Finally, the ozinfo file was

[2021-10-08 12:36] DavidHuber-NOAA commented on #215
The global_fv3_4denvar_C192 test failed on the second run as global_fv3_4denvar_C192_loproc_updat used 3.2GB of hardware memory, exceeding the threshold of 2.6GB.  All reproducibility tests passed, so I am going to proceed.

All I have left at this point are the monitors, which I just need to test.  I'm going to wrap in the port of the monitors to S4 in this issue as well.

[2021-10-08 14:14] EdwardSafford-NOAA opened #225 "Port MinMon to wcoss2"
Port MinMon DA package to wcoss2.

Initially I'd planned to remove the version numbers from the MinMon package (as I've done in the other *Mon packages).  But after re-reading the directions for porting to wcoss2, it's clear that that change does not fall under the directions to make changes only as required for porting to the platform.  So I'll wait on restructuring the package.

[2021-10-08 14:15] EdwardSafford-NOAA opened #226 "Port RadMon to wcoss2"
Port RadMon DA package to wcoss2.

[2021-10-08 14:15] EdwardSafford-NOAA opened #227 "Port OznMon to wcoss2"
Port OznMon DA package to wcoss2.

[2021-10-08 14:16] EdwardSafford-NOAA opened #228 "Port ConMon to wcoss2"
Port ConMon DA package to wcoss2.

[2021-10-12 11:44] KristenBathmann-NOAA opened #229 "Add fit2obs plotting utility to util directory"
This update will add a well-established fit2obs Matlab plotting tool to the util directory. This tool creates fit2obs scorecards based on the fits files from a control and experiment. Additionally, minor updates to the correlated error README in the util directory will be included.

[2021-10-13 14:31] jderber-NOAA commented on #219
Below are two plots produced for one case with the master and minimfixes using both thinning of the ascat winds and not.  Note that an additional 100 iterations was added to the second outer iteration because the real problems started in the later iterations.

The master run with no thinning did not reset, but stopped after iteration 138 of the second outer iteration.
The master run with thinning

[2021-10-14 13:08] #223 closed, assigned to EdwardSafford-NOAA

[2021-10-14 20:46] jderber-NOAA commented on #219
Regression tests passed.  Most regression tests were different because of the change in q observations (15 above).  Note that for the tmpreg_hwrf_nmm_d3 was a bit different.  It turns out this is because it is using the old vqc.  When the old vqc turned on after 20 iterations the results diverged somewhat.  This is because the old vqc is very nonlinear and the minimization algorithm does not work

[2021-10-15 14:10] EdwardSafford-NOAA commented on #225
Another issue -- wcoss2 does not seem to have the perl module List/MoreUtils.pm installed.  I opened ticket with the help desk.

[2021-10-15 15:58] KristenBathmann opened #233 "Fix indexing issues with correlated error in V16.x"
A recent update to release/gfsda.v16.x allowed for flexibility in channel selection in the satinfo while preserving correlated error. Testing with GDAS was successful, but testing with GFS failed. This is because the gfsanal and gdasanal use different channel indices. The gfsanal completely ignores monitored channels and generates a satinfo file that does not contain them.

Each covariance file is

[2021-10-15 17:16] KristenBathmann commented on #233
This work is being done in my fork KristenBathmann/GSI, in release/gfsda.v16.x
The util/Correlated_Obs directory in here is very out of date with the master. Care will need to be taken when merging this code into the master.

[2021-10-15 18:31] ADCollard commented on #233
So just so I am clear what you are suggesting, Russ.

Should we
1) Merge the master into v16.x
2) Merge 16.x back into the master
3) Introduce the latest changes that Kristen has introduced today into the master at this point?

I will work on Step #3 once the other two are complete.

[2021-10-15 19:31] RussTreadon-NOAA commented on #233
Test rerun with Rcov files from `/gpfs/dell2/emc/modeling/noscrub/Kristen.Bathmann/GSI/fix/`.     Now see the following in stdout
[code]

The updated Rcov files need to be committed.

[2021-10-15 20:46] KristenBathmann commented on #233
Using my updated fork copy requires the updated Rcov files, and this *should* work for both gdas and gfs. Using the current authoritative release/gfsda.v16.x requires the old Rcov files, but will only work for gdas.

[2021-10-15 21:21] KristenBathmann commented on #233
Yes, you should expect the differences that you observed. If you rerun the gdasanal with the authoritative release/gfsda.v16.x and the old Rcov files, the result should be identical to using my fork with the new covariance files.

[2021-10-18 15:11] ADCollard commented on #233
There's one difference not from Kristen.  John added an extra line to genqsat.f90 that is not in Kristen's branch.  And I'm guessing that might be more likely to produce the change we've seen.

Should I just go ahead and add it and then you can rerun?

[2021-10-18 16:44] RussTreadon-NOAA commented on #233
Just to confirm that with the `genqsat.f90` change @ADCollard noted, Kristen's [release/gfsda.v16.x](https://github.com/KristenBathmann/GSI/tree/release/gfsda.v16.x) at 9a41e68 reproduces analysis increments from the authoritative  [release/gfsda.v16.x](https://github.com/NOAA-EMC/GSI/tree/release/gfsda.v16.x) at 23abb36 for 2021101600 gdas.   For example, here is a `compare_ncfile.py` difference

[2021-10-18 18:12] EdwardSafford-NOAA commented on #226
I have the RadMon build working now.  Somehow my local copy of modulefiles/modulefile.ProdGSI.wcoss2 contained these two lines:
`module load hdf5-hdf5_parallel/1.10.6
module load netcdf-hdf5_parallel/4.7.4`

I can't remember now where/how I got that file.  But if I change those two lines to:
`module load hdf5/1.10.6
module load netcdf/4.7.4`

then the build works.

[2021-10-18 18:59] XuLi-NOAA opened #235 "An NSST update package for GFSv16.x"
A few updates, addition of two VIIRS radiances, reduction of the thinning box size for AVHRR and VIIRS radiances, the use of Rossby radius of deformation as the correlation length, and the exclusion of the partly-clear AVHRR radiance, have been tested with GFSv15.2 at the full resolution and GFSv16.0 at C384.

[2021-10-18 20:55] #233 closed, assigned to nobody

[2021-10-19 12:44] RussTreadon-NOAA opened #237 "Merge master into release/gfsda.v16.x"
Branch `release/gfsda.v16.x` does not contain several important updates in the `master`.  This issue is opened to document the merger of the authoritative `master `into the authoritative `release/gfsda.v16.x`.

[2021-10-21 11:48] CatherineThomas-NOAA opened #241 "Error handling in analcalc does not abort script"
There have been a few instances in the low resolution parallels for v16.x on Hera where one of the parts of analcalc fails, but the job continues and ends "successfully".  For example, the log files at /scratch1/NCEPDEV/da/Catherine.Thomas/v16x/analcalc show failure of calc_analysis.x for the deterministic:

[code]
However, the script does not exit, it continues on with the surface analysis:
[code

[2021-10-21 16:02] RussTreadon-NOAA commented on #241
gdasanalcalc.log.0 loads prod_util/1.1.0 from /scratch2/NCEPDEV/nwprod/NCEPLIBS/modulefiles.

Module prod_util/1.1.0 defines the path, /scratch2/NCEPDEV/nwprod/NCEPLIBS/utils/prod_util.v1.1.0/ush/, to err_chk and other production ush scripts.

Printout in gdasanalcalc.log.0 shows that err_chk is working as designed on Hera.  The problem is in err_exit.

The `err -ne 0` block of err_chk ends with `

[2021-10-21 17:07] MichaelLueken-NOAA commented on #226
@EdwardSafford-NOAA None of the WCOSS2 port work should be merged to the authoritative master at this time.  I will create a new wcoss2 release branch off of release/gfsda.v16.1.5 and we will apply all changes to this release branch, tag it once everything is worked out, then merge the release branch to the master.

[2021-10-26 01:07] ilianagenkova opened #243 "AMVs updates package for feature/gfsda.v16.x"
This issue documents the merging of several AMVs updates into feature/gfsda.v16.x.

Code changes are in:
...
Fix files changes are in:
...
This AMVs updates package includes the following:
- assimilating the mitigated GOES AMVs and writing out AMVQ (mitigation flag) in the _uv_ diagnostic files
- assimilating the updated Metop-B/C winds (from GOES-R-like retrival algorithm, aka 'nested tracking',

[2021-10-27 10:51] #226 closed, assigned to EdwardSafford-NOAA

[2021-10-29 10:52] #227 closed, assigned to EdwardSafford-NOAA

[2021-10-29 18:35] #186 closed

[2021-10-30 03:41] HaixiaLiu-NOAA commented on #186
@RussTreadon-NOAA @ADCollard My understanding is we should add an additional historical fix file to the gfsda.v16.1.5 release branch fix/gfsv16_historical/global_satinfo.2021102612 following the GFS v16.1.5 implementation. Is that right?

[2021-10-30 11:42] RussTreadon-NOAA commented on #186
Yes, this is the pattern we have been following for the past few implementations.   As you say, we `cp fix/global_satinfo.txt  fix/gfsv16_historical/global_satinfo.2021102612`.

To which fix branch do we commit?   The most complete approach is to commit to fix branch `DA_GFSv16.1.5_global_only` and then merge into `rev2`.  If we commit to `DA_GFSv16.1.5_global_only` we should recreate tag [gfsda.v

[2021-11-01 13:46] KateFriedman-NOAA commented on #186
I'm looking to wrap up the v16.1.5 global-workflow work this week and merge release/gfs.v16.1.5 into the operations branch. I'm happy to ingest config changes for the fix file if-blocks before submitting the PR, let me know what you'd like to do. Thanks!

[2021-11-01 14:23] CatherineThomas-NOAA commented on #186
Going back a bit further, the corresponding config changes were also not included for v16.1.3 (IASI-A) and v16.1.4 (DO-3).  DO-2 is already in.  Let me know if I can help.

[2021-11-01 14:41] ADCollard commented on #186
@RussTreadon-NOAA, for what it's worth, the original intent of these files was to replicate usage in operations so that operations can be used as a control.

I think your suggestion of a database is the way forward.  We need to start the conversation within the JEDI community on how to achieve this.

[2021-11-01 14:46] ADCollard commented on #186
Unless someone else is volunteering to do it, I am happy to commit the changes.

So if I understand what Russ is saying we should first commit to DA_GFSv16.1.5_global_only and retag before merging with the master?

[2021-11-01 15:01] RussTreadon-NOAA commented on #186
@ADCollard , thanks for the reminder.   This agrees with the $CDATE suffix for most, if not all, the files in fix/gfsv16_historical.   We need to ensure the workflow properly toggles between various historical fix files.   At times developers may want to bypass this logic.  This can be done in their personal checkout of the workflow.

The steps you outline sound right.  @HaixiaLiu-NOAA noted that

[2021-11-01 15:31] MichaelLueken-NOAA commented on #186
When working with the fix submodule, I can begin by merging DA_GFSv16.1.5_global_only into DA_GFSv16.x_global_only, then merge DA_GFSv16.x_global_only into rev2 (wrapping up the fix submodule update).

Please comment on this issue once the file has been added to DA_GFSv16.1.5_global_only, then I will move forward with the fix submodule updates.

[2021-11-01 17:22] ADCollard commented on #186
Looking in fix/gfsv16_historical of DA_GFSv16.1.5_global_only, I'm seeing global_satinfo.txt.202109220 which appears to be the v16.1.3 implementation and global_convinfo.txt.2021091612 which appears to be the v16.1.4 implementation.

The date associated with the latter appears to be when data became available rather than when it went operational (2021092712).  Do we agree that this date should be

[2021-11-01 17:57] CatherineThomas-NOAA commented on #186
I'm okay with changing the date for DO-3.  I went by the date first available, as I also did for DO-2 (global_convinfo.txt.2021031712).

Should all files be changed for their operational date?  For instance, the earliest satinfo file here, global_satinfo.txt.2019021900, includes instruments not implemented until March 2021 with v16 (AHI Himawari-8, ABI G16, ATMS Ch. 15, etc).  It seems like this w

[2021-11-01 18:07] RussTreadon-NOAA commented on #186
We have competing ideas for what historical fix files represent and how
they are used.   One approach is that they faithfully record the cycle at
which the given fix file was implemented.  This approach has an operational
focus.   The historical files are a record of operational data usage.
Another approach is that info files represent the cycle at which it is safe
to use data in the given file.

[2021-11-01 18:12] ADCollard commented on #186
So things are definitely a little messy.  And I am beginning to think that I do not have the proper perspective on the v16 implementation.

Firstly, there are two directories: fv3_historical and gfsv16_historical.  fv3_historical has not been updated since Jan 2020 (for an ozone change) with satinfo and convinfo changes last done in 2018.

I was assuming gfsv16_historical replaced the functionalit

[2021-11-01 18:13] ADCollard commented on #186
Can I suggest we have a quick meeting to discuss this?

[2021-11-02 18:41] XianwuXue-NOAA commented on #183
@MichaelLueken-NOAA I checked your GSI repo and the EMC/master, and found there are a lot of code changes which NCO does not want to have too many codes changes for this WCOSS2 code transition. I also checked the tag: gfsda.v16.0.0, and found it was updated from commit: 89f85ed on Oct 6, 2020 to commit: 6361a30976 on Jan 25 2021 with some code changes. So could you create a new branch "release/gef

[2021-11-02 22:23] ADCollard commented on #186
So at yesterday's meeting @RussTreadon-NOAA , @HaixiaLiu-NOAA, @CatherineThomas-NOAA and myself decided to relax the requirement for a definitive list of changes but to retain the gfsv16_historical/ directory to help with running retrospectives for the v16.x implementation only.

To that end, I have updated the DA_GFSv16.1_global_only fix branch to add new satinfo file to gfsv16_historical/ (refle

[2021-11-02 23:44] RussTreadon-NOAA commented on #186
NCO creates implementation tags in their svn repository.   Tags for GFS implementations are in

[https://svnwcoss.ncep.noaa.gov/gfs/tags/](https://svnwcoss.ncep.noaa.gov/gfs/tags/)

As of 11/2/2021 this directory has GFS tags from gfs.v12.0.2 to gfs.v16.1.5.   GFS versions 12 to 14 do not include the GFS DA components.   GFS DA, including DA fix files, came under the gfs directory  structure start

[2021-11-03 11:17] MichaelLueken-NOAA commented on #183
@XianwuXue-NOAA I have created release/gefs_v12 from 89f85ed and pushed it to the authoritative repo.  Once you have finished porting to WCOSS2, I will approve your to update this new release branch.

[2021-11-03 11:37] #237 closed

[2021-11-03 13:06] RussTreadon-NOAA commented on #186
Prior to gfs.v15.1.1, NCO had the GFS in three main directories:  gfs, gdas, and global_shared.

Tags for the DA components of GFS implementations v13.0.1 to v14.1.7 are in two directories:
- [https://svnwcoss.ncep.noaa.gov/global_shared/tags/](https://svnwcoss.ncep.noaa.gov/global_shared/tags/)
- [https://svnwcoss.ncep.noaa.gov/gdas/tags/](https://svnwcoss.ncep.noaa.gov/gdas/tags/)

The [global_s

[2021-11-03 13:38] KateFriedman-NOAA commented on #186
Do you guys still want to adjust the [global_*txt file if-blocks in config.anal global-workflow](https://github.com/NOAA-EMC/global-workflow/blob/release/gfs.v16.1.5/parm/config/config.anal#L83:L147) or leave them as is and have users adjust their own config.anal files based on the GSI 0readme contents for now? Looking to wrap up the workflow side for this implementation. Thanks!

[2021-11-03 13:45] ADCollard commented on #186
@KateFriedman-NOAA , I'll get you the workflow changes this morning.

[2021-11-03 13:54] ScottSieron-NOAA commented on #68
An experiment was run in which CRTM 240 is used, but all clouds with water content greater than zero have the cloud fractions set to one. Results as shown by the sanity check plots are similar to using the calculated cloud fractions. The experiment was shortened to just a few days.

![gsistat_uvtq_RMSE](https://user-images.githubusercontent.com/70583461/140073045-c62f7c9f-2a04-4587-b366-68fbcc0c2c

[2021-11-03 14:01] ScottSieron-NOAA commented on #188
An experiment was run in which CRTM 240 is used, but all clouds with water content greater than zero have the cloud fractions set to one. Results as shown by the sanity check plots are similar to using the calculated cloud fractions. The experiment was shortened to just a few days.
![gsistat_uvtq_RMSE](https://user-images.githubusercontent.com/70583461/140073266-f57dd7d9-a3aa-4a24-878a-29a3b7f7413

[2021-11-03 18:43] XianwuXue-NOAA commented on #183
@MichaelLueken-NOAA Thank you very much for your consideration. I double checked the production and found the commit id should be "4b29d045" on Nov 9 2020. "89f85ed" was the commit ID for tag: gfsda.v16.0.0 when I built global-workflow for development use. I am sorry for the confusion.

[2021-11-03 23:19] RussTreadon-NOAA commented on #186
Tag [release/gfsda.v16.1.5](https://github.com/NOAA-EMC/GSI/tree/gfsda.v16.1.5) at c96150b as [gfsda.v16.1.5](https://github.com/NOAA-EMC/GSI/releases/tag/gfsda.v16.1.5).

[2021-11-04 09:34] MichaelLueken-NOAA commented on #183
@XianwuXue-NOAA  I have remove release/gefs_v12 and replaced it with another created from hash 4b29d045 and pushed to the authoritative repo.

[2021-11-04 12:52] TingLei-NOAA commented on #218
A rather complete verification and polishing (removing unused variables and duplicated variables for the same parameters) of the parallel IO for fv3 lam have been finished.  In an 3km conus domain cold start test ,the parallel IO for fv3-cam demonstrates significant speeding up and much less maximum resident memory .  For details, pls see the attachment.
A PR is in preparation .
[emc-work-gsi-para

[2021-11-04 13:05] XianwuXue-NOAA commented on #183
@MichaelLueken-NOAA Awesome. Thank you very much for your consideration and help.

[2021-11-04 13:07] TingLei-NOAA commented on #218
The tests includes the use of control variables with hydrometeors when l_use_direct_dbz is true, though no dbz observation is  used.  Thanks to J. Park @junpark217   OU  providing the namelist block and anavinfo file for this test.

[2021-11-04 13:26] MichaelLueken-NOAA opened #246 "Port GFSv16.1.5 to WCOSS2"
The feature/gfsda.v16.1.5_wcoss2_port was created from release/gfsda.v16.1.5 at 7c5af91.  All necessary changes to allow the GSIv16.1.5 implementation to compile and run on WCOSS2 will be applied to this feature branch.

[2021-11-04 13:31] MichaelLueken-NOAA commented on #246
Currently, two more issues:

#225
#228

need to be completed before this work can be tagged for the GFSv16 WCOSS2 implementation (issue NOAA-EMC/global-workflow#398).

[2021-11-10 14:16] EdwardSafford-NOAA commented on #246
@MichaelLueken-NOAA I don't think #228 needs to be completed prior to tagging the GFSv16 WCOSS2 implementation.  The ConMon is not yet in operations (I double checked gfs.v16.1.5).

[2021-11-10 14:18] EdwardSafford-NOAA commented on #225
No word yet from the wcoss2 help desk.  The missing perl lib is List:MoreUtils which is used by the minmon_xtrct_gnorms.pl script.  I could re-write the script to avoid use the 3 elements from List:MoreUtils, but I won't do that unless that perl lib can't/won't be installed on wcoss2.  It's on wcoss_c, wcoss_d, and hera systems, so it should be part of wcoss2.

The Korn shell issue has been resolv

[2021-11-10 14:54] MichaelLueken-NOAA commented on #246
@EdwardSafford-NOAA Thanks for letting me know that #228 isn't required before the GFS v16.1.5 code can be tagged.  Hopefully WCOSS2 sys admins can add List:MoreUtils to WCOSS2 so that #225 can be wrapped up.

[2021-11-10 15:10] #183 closed

[2021-11-10 15:14] XianwuXue-NOAA commented on #203
discard these changes

[2021-11-10 15:14] #203 closed

[2021-11-15 17:31] #219 closed

[2021-11-15 21:54] LidiaCucurull-NOAA opened #252 "GNSSRO data assimilation improvement"
Source code (and global convinfo file) modifications to test the impact of changes in GNSSRO data assimilation. Tests include:
- fixes to the forward operator
- slight changes to quality controls
- assimilation of PAZ satellite
- Potential testing of lower-level MetOp RO observations and assimilation of Jason-CS/Sentinel-6

[2021-11-16 15:39] EdwardSafford-NOAA opened #253 "Update OznMon satype file"
Update OznMon's gdas_oznmon_satype.txt file to remove gome_metop-a from the list of expected data sources.

[2021-11-17 12:05] #253 closed

[2021-11-17 15:15] #228 closed

[2021-11-17 18:32] RussTreadon-NOAA opened #256 "Inconsistent arrays detected in write_incr.f90 when running in debug mode"
global_gsix built on WCOSS and WCOSS2 with various intel compiler debug flags turned on.   write_incr.f90 was flagged with the following message:

`forrtl: warning (406): fort: (33): Shape mismatch: The extent of dimension 2 of array OUT3D is 64 and the corresponding extent of array USM is 63`

The line of code in question is

`       out3d(:,:,krev) = transpose(usm(j1:j2,:,k))`

in `write_incr.f9

[2021-11-17 18:43] RussTreadon-NOAA commented on #256
Array indices `(j1,j2)` are not correct when working with tasks which include the south or north pole.    As noted by Cory, the south and north pole are extra latitude rows in the gsi.

Array `out3d` is dimensioned `grd%lat` away from the poles.   This is correct.   We want all latitudes in `*sm` arrays to be copied into `out3d`.  For tasks which include the southernmost row (ie, south pole), `out

[2021-11-17 23:11] HuiLiu-NOAA opened #257 "Adjoint testof OBS operator"
I want to use the adjoiint test code of obs operator in GSI. The Global workflow v15.3 is used without any modifications. I just set the ladtest_obs = .true. in gsi_4dvar.f90 to do an observation operator adjoint test.  But I got the error message:

 Final obs_adj_RHS=   9.137188832967231E+018
forrtl: severe (174): SIGSEGV, segmentation fault occurred
Image              PC                Routine

[2021-11-19 00:52] RussTreadon-NOAA commented on #256
**Tests using the modified `write_incr.f90`**
Add integer `j3` and array `out3d_test` to `write_incr.f90`.   Load `j3` with the `j2` values in the original code.   Let `j2` be what is shown in the modified code above.   Load `out3d_test` using transpose of `usm` over the range `j1;j3`.   Write `out3d` and `out3d_test` on each task for all `i,j,k`.   Also check the difference.  The difference is 0.

[2021-11-19 19:17] RussTreadon-NOAA commented on #154
**20211118 06 & 18Z gfs**

MinMon flagged the operational gfs analyses for insufficient convergence on 2021111818 in the 06, and 18Z cycles.    Sensitivity tests using the master at f442020 were run for each cycle.    The resulting gnorm curves are available as links in the table below.   All rows except the first, gfs.v16.1.x, ran the master global_gsi.x with the indicated configuration.  Configu

[2021-11-20 14:04] RussTreadon-NOAA commented on #154
**20211118 06 & 18Z gfs follow up**

Run an additional tests toggling on/off correlated error for entries in global_anavinfo.l127.txt.    Gnorm curves for various tests are tabulated below

| run | 2021111806 | 2021111818 |
| --- | --- | --- |
| no rcov_crisn20 (sea) | [plot](https://www.emc.ncep.noaa.gov/gmb/wd20rt/plots/gnorm/gfs_2021111806/gnorm_master.ascat75.mon_iasi_cris_wv.no_crisn20sea_202

[2021-11-21 22:07] KristenBathmann commented on #154
(Try testing with the kreqtune branch and remember to add columns to the anavinfo. Use negative values for kreq* for CrIS NPP.)

[2021-11-22 13:57] RussTreadon-NOAA commented on #154
**2021112118 gdas and 2021112200 gfs**

MinMon flagged the operational [2021112118_gdas](https://www.emc.ncep.noaa.gov/gmb/gdas/gsi_stat/pngs/GFS_gdas/GFS_gdas.2021112118.gnorms.png) and [2021112200_gfs](https://www.emc.ncep.noaa.gov/gmb/gdas/gsi_stat/pngs/GFS_gfs/GFS_gfs.2021112200.gnorms.png) with minimization resets.  Given findings from the 20211118 gfs cases, the f442020d master global_gsi.x

[2021-11-23 14:17] MichaelLueken-NOAA commented on #246
Updated setHOST.cmake to find Dogwood and added the noexternal keyword to the -warn compiler options for WCOSS2 at 1c7c83f.

[2021-11-25 20:06] RussTreadon-NOAA commented on #154
**2021112506 gfs**

MinMon flagged the operational 2021112506 gfs cycle for [insufficient reduction](https://www.emc.ncep.noaa.gov/gmb/gdas/gsi_stat/pngs/GFS_gfs/GFS_gfs.2021112506.gnorms.png).

`Final gnorm gross check failure:  suffix = GFS,  cycle = 2021112506, final gnorm = 0.000768855949438719   File source for report is:  /gpfs/dell1/nco/ops/com/gfs/prod/gfs.20211125/06/atmos/gfs.t06z.gsista

[2021-11-29 21:59] RussTreadon-NOAA commented on #154
**2021112906 gfs and gdas and 2021112912 gfs**

MinMon flagged the [2021112906 gfs](https://www.emc.ncep.noaa.gov/gmb/gdas/gsi_stat/pngs/GFS_gfs/GFS_gfs.2021112906.gnorms.png), [2021112906 gdas](https://www.emc.ncep.noaa.gov/gmb/gdas/gsi_stat/pngs/GFS_gdas/GFS_gdas.2021112906.gnorms.png), and [2021112912 gfs](https://www.emc.ncep.noaa.gov/gmb/gdas/gsi_stat/pngs/GFS_gfs/GFS_gfs.2021112912.gnorms.pn

[2021-11-30 17:32] AndrewEichmann-NOAA opened #259 "Add yes/no assimilated flag to EFSOI osense file"
A flag that indicates whether each observation is assimilated is needed in osense file, since EFSOI calculations are currently performed on all observations

Bullet point 7 in
https://vlab.noaa.gov/redmine/issues/55974

[2021-12-01 18:36] ScottSieron-NOAA commented on #68
We await results from experiments which built-upon these methods to implement this into v16.x.

[2021-12-01 18:37] ScottSieron-NOAA commented on #188
We await results from experiments which built-upon these methods to implement this into v16.x.

[2021-12-01 18:39] BenjaminTJohnson commented on #188
@ScottSieron-NOAA thanks.  is CRTM v2.4.0 being added to the HPC stacks yet?

[2021-12-02 15:45] XuLi-NOAA commented on #235
The results of the experiment with GFSv15.2 at C768:

[NSST_for_V16.2.pptx](https://github.com/NOAA-EMC/GSI/files/7643225/NSST_for_V16.2.pptx)

[2021-12-03 13:24] MichaelLueken-NOAA commented on #235
@XuLi-NOAA, do you want this issue to be closed?  If it is related to PR #261, it should stay open until those changes have been merged to the master.

[2021-12-08 21:21] RussTreadon-NOAA commented on #246
After replacing `ksh` with `bash`, the following for loop in `exglobal_atmos_analysis.sh` no longer works
[code]
Execution of the above loop in on Dogwood yields
[code]
Only directory `dir.0000` is created.   This is not correct.   Directories from 0000 up to 0767 should be created.

This problem affects both the gdas anal and eobs.    The error was discovered when eupd failed due to problems with

[2021-12-09 14:26] EdwardSafford-NOAA commented on #225
Chris at the helpdesk reported late yesterday that  the missing perl module, List::MoreUtils, has been installed on wcoss2, and directed me to include this in my calling script:

`module load intel perl`

I did so.  Now the job encounters this problem:

`XS.c: loadable library and perl binaries are mismatched (got handshake key 0xed00080, needed 0xde00080)`

Initial investigation suggests that thi

[2021-12-09 16:55] EdwardSafford-NOAA commented on #225
Per Chris:

`If you're like me (who uses the system-installed perl exclusively), your 'shebang' will say #!/usr/bin/perl.  The problem will be that the perl version you are calling will be the system perl (version 5.26 built with gcc).  This causes a mismatch, the perl I build is at version 5.32 with various compilers.   You'll need to change your shebang to permit the perl found in the perl modul

[2021-12-10 13:37] EdwardSafford-NOAA commented on #225
PR #264 was merged to branch feature/gfsda.v16.1.5_wcoss2_port.  That resolves this issue.

[2021-12-10 13:37] #225 closed

[2021-12-10 15:16] EdwardSafford-NOAA opened #265 "update MinMon"
MinMon has been due for maintenance for some time.  Things to clean up include:

1. Remove numbered versions and condense to gdas, gfs, and shared directories.
2. Add support for additional arguments to all dev (non-operational) scripts to eliminate the use of "driver" scripts (as per all other *Mon packages).
3. Update test driver scripts.
4. Remove postmsg commands and replace with messages to s

[2021-12-10 16:56] MichaelLueken-NOAA commented on #246
Kate found an issue with bash treating the value, 08, as an octal in jobs/JGDAS_ENKF_FCST.  George and Russ came up with a fix that works for sh, ksh, and bash, replacing:

`export ENSEND=$((NMEM_EFCSGRP * ENSGRP))`

with:

`export ENSEND=$((NMEM_EFCSGRP * 10#${ENSGRP}))`

This change was committed and pushed to feature/gfsda.v16.15_wcoss2_port at 0fdf0d4

[2021-12-11 21:33] RussTreadon-NOAA opened #266 "Move global_cycle out of global DA jobs and scripts."
This issue is opened to document the removal of global_cycle and gaussian_sfcanl from global DA jobs and scripts.  This functionality is moving into the global-workflow.    This refactoring is in support of the goals stated in the JEDI [Prototype 3DVar Cycling Capability](https://github.com/NOAA-EMC/JEDI-Eval/projects/2) project.

[2021-12-13 14:18] RussTreadon-NOAA commented on #266
Create [feature/rm_sfcanl](https://github.com/RussTreadon-NOAA/GSI/tree/feature/rm_sfcanl) in  [RussTreadon-NOAA/GSI](https://github.com/RussTreadon-NOAA/GSI).  `feature/rm_sfcanl` is a copy of the NOAA-EMC/GSI [master/GSI](https://github.com/NOAA-EMC/GSI/tree/master) at eed3d40.

[2021-12-13 20:00] DavidHuber-NOAA opened #267 "Fix RadMon and OznMon S4 & Jet ports"
The RadMon build script is referencing an older `lmod` initialization script and should be updated.  The OznMon find_cycle.pl script was never committed with the S4 and Jet ports.

[2021-12-13 20:01] DavidHuber-NOAA opened #268 "Port the ConMon to S4 and Jet"
The conventional monitor should be ported to S4 and Jet.

[2021-12-14 13:55] #267 closed

[2021-12-14 14:48] RussTreadon-NOAA commented on #266
Closer examination of workflow dependencies indicates that the `DOGAUSFCANL` capability should be retained in `JGLOBAL_ATMOS_ANALYSIS_CALC` and `exglobal_atmos_analysis_calc.sh`.   Doing so allows `loganl.txt` to retain its role as a single file logging creation of both the gaussian grid atmospheric and surface analysis files.

This also reduces the scope of `feature/rm_sfcanl` to simply removing

[2021-12-14 16:22] XuLi-NOAA opened #270 "Add capability to assimilate Saildrone, Argo & Glider observation in GSI: NSST"
This issue is to add the capability to assimilate Saildrone, Argo and Glider sea water temperature observation in the NCEP GFS NSST.
Background

1. Saildrone observation
    A new data in NC001120
2. Argo and Glider observation
    The data in NC031005 or subpfl, which include Argo and Glider.
    Argo data used to be in Tesac and used in GFS NSST, but was removed from Tesac and put into a new dat

[2021-12-15 14:17] ScottSieron-NOAA commented on #68
Regression test results:

Test project /scratch1/NCEPDEV/da/Scott.Sieron/GDAS/GSI/build
      Start  1: global_T62
      Start  2: global_T62_ozonly
      Start  3: global_4dvar_T62
      Start  4: global_4denvar_T126
      Start  5: global_fv3_4denvar_T126
      Start  6: global_fv3_4denvar_C192
      Start  7: global_lanczos_T62
      Start  8: arw_netcdf
      Start  9: arw_binary
      Start 1

[2021-12-16 23:18] ADCollard commented on #68
@ScottSieron-NOAA , do we understand why these failures occurred?  I assume these are because we expect the results to change for the microwave sounders (and only the microwave sounders), but can you confirm that the differences are as expected?

[2021-12-17 15:58] RussTreadon-NOAA commented on #266
Both single cycle and cycled parallels have been run with the combination of changes in this issue (#266) and global-workflow issue [#527](https://github.com/NOAA-EMC/global-workflow/issues/527).

**_The combination of changes in NOAA-EMC/GSI issue #266 and global-workflow issue #527 are working as intended based on single cycle and cycled testing._**

[2021-12-17 16:36] RussTreadon-NOAA commented on #266
After discussions with the DA team it has been decided to place on hold the merger [feature/rm_sfcanl](https://github.com/RussTreadon-NOAA/GSI/tree/feature/rm_sfcanl) into the master.

Currently we are collecting all changes for GFS DA v16.x in the master.   This package is scheduled for implementation on WCOSS2 shortly after the WCOSS2 go-live date.   GFS DA v16.x is a data upgrade only package.

[2021-12-21 12:28] TingLei-daprediction opened #272 "A fix for the corrupted final statistics written out in the GSI FV3-LAM parallel IO for cold start runs"
When the fv3sar_bg_opt =1, the cold start FV3-LAM files were used as the background, E. Rogers pointed out the final statistics like in files fort.*  were corrupted showing abnormal values when using the current GSI parallel IO for FV3-LAM, though following investigation found they generated identical results compared with the  "old" GSI.
Further investigation revealed , when fv3sar_bg_opt=1, the

[2021-12-21 15:51] DavidHuber-NOAA commented on #268
@EdwardSafford-NOAA @MichaelLueken-NOAA During the testing of this ConMon port I found a few bugs that I have fixed.  Most importantly, in `plot_horz.sh` and `plot_horz_uv.sh`, both scripts recompress the contents of the `tankdir` `ges` and `anl` subdirectories.  Since `plot_horz.sh` finishes first, this caused `plot_horz_uv.sh` to plot empty maps from that point onward.  I've thus removed the com

[2021-12-21 16:03] EdwardSafford-NOAA commented on #268
@DavidHuber-NOAA @MichaelLueken-NOAA I'm good with opening a PR now.   I'll follow up on hera and wcoss once it's in master; I've got a few items to take care of anyway and I'll add this to my list.  Are you good with that Mike?

[2021-12-27 20:23] EdwardSafford-NOAA commented on #268
@DavidHuber-NOAA I had some time so I checked out your branch and ran your changes on wcoss and hera.  I had to change the wall time on the plot_horz_uv job on wcoss.  On hera it ran to completion as is.  The change I made locally was to the mk_horz_hist.sh script, line 105, changing the wall time from 00:20 to 01:00.

Thanks very much for your work on this.

[2021-12-29 17:17] DavidHuber-NOAA commented on #268
Great!  Thanks for checking @EdwardSafford-NOAA.  I've made the change and will go ahead with the PR.

[2022-01-05 14:46] #235 closed

[2022-01-05 15:16] #268 closed

[2022-01-06 16:34] jswhit opened #277 "Use 64-bit integers in EnKF to prevent overflow, and other updates from PSL"
also

1) adds 'beta_e0' parameter to GSI (so weights given to ensemble and static B don't have to sum to 1)
2) adds 'write_ensmean' parameter to EnKF to add capability to write out ens mean analysis.
3) fix definition of pressure used in GPS linearized forward operator to be consistent with GSI
4) cleanup of threading in letkf (using default(none) to aid in catching bugs)
5) if localization distan

[2022-01-06 16:38] jswhit commented on #277
https://github.com/NOAA-EMC/GSI/pull/251

[2022-01-06 16:51] jswhit commented on #277
Co

[2022-01-07 16:57] hu5970 opened #280 "Enhance GSI IO interface with FV3LAM to handle subdomain restart files"
When FV3LAM model start to use FMS2 interface for model IO, we found the model initialization is very slow for large domain runs.

The solution to initialization slowness is to set io_layout(2) >1. This will speed up the initialization time a lot but it generates multiple subdomain restart files instead of one restart file for whole domain.

GSI needs function to read and write subdomain restart f

[2022-01-07 17:11] hu5970 opened #282 "Enhance non-var cloud analysis"
In past several years, several improvements to the non-var cloud analysis have been made by GSL and EMC for RAP/HRRR, 3DRTMA, and RRFS:

1) more options to decide how to do T/Q adjustment based on the cloud information.
2) check and adjust Qr/qs/qg and Qnr for each vertical profile to reduce the background reflectivity ghost in final analysis
3) Add function to build a vertical depended cloud rang

[2022-01-10 14:26] TingLei-daprediction commented on #165
Hi, @RussTreadon-NOAA  May I know what is the status for connecting to vlab on wcoss_c?
This morning (01/11/2022), I still get the error message" ssh: connect to host vlab.noaa.gov port 29418: Connection timed out" on surge.  Thanks

[2022-01-10 14:35] RussTreadon-NOAA commented on #165
6/22/2021 email from NCO with following guidance

`recommend EMC continues to use Mars/Venus and then move the code to Luna/Surge in the meantime.`

WCOSS_C will be decommissioned summer 2022.   Closing this issue.

[2022-01-10 14:51] TingLei-daprediction commented on #165
@RussTreadon-NOAA  Thanks for the udpate

[2022-01-11 10:23] #272 closed

[2022-01-11 14:21] EdwardSafford-NOAA opened #288 "Update ConMon's gdas_conmon_base.txt file"
A minor update is needed for the ConMon's gdas_conmon_base.txt file in order to remove obs count checks on data type gps4.  Type gps4 was aboard MetOpA which has been decommissioned.

[2022-01-11 15:57] XianwuXue-NOAA opened #289 "mpi_allreduce issue in getsigensmeanp_smooth_ncep.f90 on WCOSS2"
I found an issue for mpi_allreduce in getsigensmeanp_smooth_ncep.f90 on WCOSS2, When call "call mpi_allreduce(rwork_mem, rwork_avg, nsize, mpi_real, mpi_sum, new_comm, iret)", the rwork_avg will be assigned to ZERO. Because rwork_mem and rwork_avg are 2D array, when I modify the code to use 1D array, then it works well.

[2022-01-11 15:59] XianwuXue-NOAA commented on #289
@MichaelLueken-NOAA I don't know whether you encounter this issue or not, however, when I use getsigensmeanp_smooth to process the atm*.nemsio data, I found this issue. I will submit the code change later.

[2022-01-12 17:34] aerorahul commented on #165
@MichaelLueken-NOAA
NCO has installed `wrf_io/1.2.0` on WCOSS2.
It can be accessed as:
[code]
Does this satisfy the requirements to remove GSI-libsrc submodule?

[2022-01-12 18:09] MichaelLueken-NOAA commented on #165
@aerorahul Yes, since wrf_io/1.2.0 is available on WCOSS2, I can begin the process of removing GSI-libsrc (ultimately, it is up to the DA review committee to remove the submodule, but I don't see any reason that they would want to keep it).  I will send an email to the review committee now to see if they have issues with it now.

[2022-01-18 15:00] EdwardSafford-NOAA commented on #74
I'm closing this ticket -- the planned monitoring website rethink/rebuild will override any work done here, and with the wcoss2 lull in development, odds are this feature won't be needed while we're still on the existing RadMon website.

[2022-01-18 15:00] #74 closed

[2022-01-18 15:25] EdwardSafford-NOAA opened #290 "Update non-operational portion of RadMon for wcoss2"
Update the developer (non-operational) portions of the RadMon package to work correctly on wcoss2.  Areas to update include RadMon/data_extract and RadMon/image_gen.

Note that operational portions if the RadMon (RadMon/nwprod) were updated in branch feature/gfsda.v16.1.5_wcoss2_port.

[2022-01-19 18:25] #277 closed

[2022-01-19 18:28] #265 closed

[2022-01-19 20:44] EdwardSafford-NOAA commented on #288
Adding an OznMon fix file update to this issue, so 2 ConMon and 1 OznMon fix files will be updated.

[2022-01-20 13:11] EdwardSafford-NOAA commented on #290
One maintenance item cropped up yesterday.  The NUM_CYCLES used by the plot scripts to determine the scope of the time series plots should be moved to the RadMon_user_settings file.  I'll make that change in this ticket.

[2022-01-20 17:18] #288 closed

[2022-01-24 13:26] DavidHuber-NOAA opened #293 "exglobal_atmos_analysis.sh fails to exit on crash of global_gsi.x"
When the exglobal_atmos_analysis.sh script finishes, the error is stored in `err` and there is a call to `err_chk` ([see line 965](https://github.com/NOAA-EMC/GSI/blob/870df5bfe3e5a54be20979b82d2946d3a3696661/scripts/exglobal_atmos_analysis.sh#L965)).  However, the value of `err` is never checked by the script since it is replaced by subsequent return values of `CALCINCPY` and/or `CYCLESH`.  If th

[2022-01-24 13:47] DavidHuber-NOAA commented on #293
I'm going to expand this to exglobal_atmos_analysis_calc.sh which also exits with a 0 status when there is a failed call to calcanl_gfs.py.

[2022-01-24 21:23] XuLi-NOAA commented on #270
The two cycling runs described as above have been done 4 cycles. 00Z, 06Z, 12 Z and 18 Z, Jan. 16, 2022.

![Saildrone_Coverage_vomb1_stat1_v16nst5_190_anl_Global_all_used_00Z16Jan2022_00Z16Jan2022](https://user-images.githubusercontent.com/55100838/150867130-47dccf2b-365f-4de3-a689-dff6df2f7f5c.png)

[2022-01-24 21:23] XuLi-NOAA commented on #270
![Argo_Glider_Coverage_vomb1_stat1_v16nst5_199_anl_Global_all_used_00Z16Jan2022_00Z16Jan2022](https://user-images.githubusercontent.com/55100838/150867174-e628fc1e-220c-40f9-8e5d-672419e34e2d.png)

[2022-01-24 21:23] XuLi-NOAA commented on #270
![Tf_diff_Global_v16nst5_v16nst4_map_00Z16Jan2022_p1](https://user-images.githubusercontent.com/55100838/150867206-1f066d34-fb67-4c47-beac-5ce99f1ea939.png)

[2022-01-24 21:23] XuLi-NOAA commented on #270
![Tf_diff_Global_v16nst5_v16nst4_map_18Z16Jan2022_p1](https://user-images.githubusercontent.com/55100838/150867228-a03285a9-50e4-43dd-90c8-fa9b6df8213a.png)

[2022-01-25 04:27] XuLi-NOAA commented on #270
@ MichaelLueken-NOAA

The regression tests (on hera) have been done and three of them failed:
The following tests FAILED:
          6 - global_fv3_4denvar_C192 (Failed)
         13 - hwrf_nmm_d2 (Failed)
         14 - hwrf_nmm_d3 (Failed)

I can see the runtime
*  Too long for hwrf_nmm_d2  and hwrf_nmm_d3
* Nonreproducible results for global_fv3_4denvar_C192, this is expected.

How to move ahead?

[2022-01-25 09:41] MichaelLueken-NOAA commented on #270
@XuLi-NOAA

So long as the nonreproducible results for global_fv3_4denvar_C192 are expected, then you are done, unless a reviewer or me asks for changes to be made to the code.

[2022-01-25 14:54] #259 closed

[2022-01-25 17:37] ilianagenkova commented on #190
While some experiments need to be repeated, the code changes are going in.
Added provisional code for reading Himawari-8 winds from the new BUFR format. That code is untested but approved to go into the master, due to the very short time window we will have between getting sample data, testing it and seeing this data in operations.

[2022-01-26 18:46] DavidHuber-NOAA commented on #293
After investigation, this appears to be the same issue as reported in #241.  Thus, I will close this and defer to that issue.

[2022-01-26 18:46] #293 closed

[2022-01-31 22:57] XianwuXue-NOAA commented on #289
The issue is that MPI_ALLREDUCE fails silently if the size of the send or receive array is larger than 2gbytes. (It fails with a termination if that size is larger than 8 gbytes). I also tested it using George's program and confirmed this issue. It fails silently if the array is larger than 2GBs, and then it will get zero if the memory of the array is between 2GB~4GB, and seems to get "correct" an

[2022-02-02 03:26] XuLi-NOAA opened #295 "GSI scripts change to assimilate Metop-c AVHRR radiance"
This issue is to  replace Metop-a AVHRR , which discontinued in November 2021, with Metop-c AVHRR radiance.
The necessary GSI change is limited to  scripts, once the Metop-c AVHRR radiance is added to avcsam bufr data file.

[2022-02-02 17:26] dtkleist commented on #295
@XuLi-NOAA -- Metop-c has replaced Metop-a (not -b) as the operational satellite in that orbit.

[2022-02-04 15:01] MichaelLueken-NOAA opened #296 "Thinning box size definition for EnKF in config.eobs"
From issue [#595](https://github.com/NOAA-EMC/global-workflow/issues/595) in global-workflow, created by Xu:

In config.eobs,

there is a line

export OBSINPUT_INVOBS="dmesh(1)=225.0,dmesh(2)=225.0,"

to set the thinning box size to be 225 km, for dmesh(1) and dmesh(2).

However, there will be four defined thinning box sizes, including dmesh(3)=100 (km) and dmesh(4)= 70 in exglobal_atmos_analysis.

[2022-02-04 17:13] XuLi-NOAA commented on #295
A quick update:

I planned to run two cycling runs, starting 2022012818, at C384, GFS cold start, 12 GDAS cycles (2022012900 to 2022013118).

v16nst7: updated global-work flow, no metop-c avhrr, and additional in situ data (saildrone, Argo & Glider)

v16nst8: The same as v16nst8 but with metop-c avhrr, and additional in situ data

v16nst7 (control run) has been done, the results analysis is underw

[2022-02-04 17:17] #280 closed

[2022-02-04 20:43] StanBenjamin commented on #282
Ming,  Are all of these changes introduced with namelist options so that the effect of the original code can be replicated?   I think that is needed?   And if/when you have that option, can you add graphics for a 3-way comparison:  1) original code, 2) new code with namelist set to give effect of original code, 3) new code with namelist variations to show new effect?

[2022-02-04 22:19] hu5970 commented on #282
Stan,
Yes, all of the changes introduced with the namelist options. Mike has run the regression suite (including RAP/HRRR cases) for this new code and got identical results. I think the regression tests satisfy the 1 and 2 to make sure the new code does not impact the original functions.

The enhanced functions listed in this issue and PR includes all the cloud analysis related developments in the

[2022-02-09 16:41] #289 closed

[2022-02-09 17:03] MichaelLueken-NOAA opened #298 "Convert Hera/Orion modulefiles to lua for DA GFSv16.2.0"
Work is underway to convert Hera and Orion modulefiles to lua format (please see global-workflow issue [#639](https://github.com/NOAA-EMC/global-workflow/issues/639)) for the WCOSS2 port of GFSv16.1.5 (GFSv16.2.0).

Two new modulefiles will be created:

modulefiles/modulefile.ProdGSI.hera.lua
modulefiles/modulefile.ProdGSI.orion.lua

and ush/build_all_cmake.sh will be updated to use the new module

[2022-02-09 17:05] MichaelLueken-NOAA commented on #298
While attempting to compile on Hera, it was noted that the minimum required version of CMake was set to 3.16.2.  The version of CMake currently used on Hera for the GSI is 3.16.1.  So, the minimum required version of CMake was changed from 3.16.2 to 3.16.1.  The code successfully compiled following this update.

[2022-02-09 17:05] MichaelLueken-NOAA commented on #298
Changed ush/sub_hera to accept new lua format modulefile.

[2022-02-09 22:37] ADCollard opened #300 "Changes to the treatment of IR surface channels"
These changes were provided by @wx20jjung to improve the use of infrared surface channels.

The changes are described in detail in [this presentation](https://docs.google.com/presentation/d/1w5bM5YjsICFBHgw5qMgNcdO8Y67e0eSY).

[2022-02-11 15:27] TingLei-NOAA opened #301 "Add a new IO option for EnKF for FV3-LAM restart files in their original dynvars and tracer form."
In the current IO for Fv3-lam of the GSI EnKF,  the read-in and write-output FV3-LAM restart files are combined into one single file from original UFS output's two  restarts files of the dynvars and tracer files respectively.  After EnKF update, those combined files would be "split" back to the original dynvars and tracer files.  It was chosen to do so because to reduce the complicities in the EnK

[2022-02-11 19:05] MichaelLueken-NOAA commented on #298
The Hera/Orion lua modulefile updates were merged to [feature/gfsda.v16.1.5_wcoss2_port](https://github.com/NOAA-EMC/GSI/tree/feature/gfsda.v16.1.5_wcoss2_port) at [225d400](https://github.com/NOAA-EMC/GSI/commit/225d400b976b15200839db839de4175549635ba2).  This issue can now be closed.

[2022-02-11 19:17] MichaelLueken-NOAA commented on #298
Reopening ticket for feedback from Kate on issues she might encounter while using the new tag.

[2022-02-11 19:37] MichaelLueken-NOAA commented on #298
@KateFriedman-NOAA I have merged the necessary changes to allow updated Hera and Orion lua modulefiles to compile and run to the feature/gfsda.v16.1.5_wcoss2_port branch at [225d400](https://github.com/NOAA-EMC/GSI/commit/225d400b976b15200839db839de4175549635ba2) and created the new tag [gfsda.v16.2.1](https://github.com/NOAA-EMC/GSI/releases/tag/gfsda.v16.2.1).  Please let me know if you encounte

[2022-02-14 17:52] #282 closed

[2022-02-15 11:11] MichaelLueken-NOAA opened #302 "Removal of libsrc from the authoritative repository"
With wrf_io/1.2.0 available via hpc-stack, there is no longer a reason for the GSI to maintain the libsrc submodule.  This issue will detail the steps taken to remove the libsrc submodule from the GSI and add wrf_io/1.2.0 to the modulefiles.  This work will be done in the [feature/libsrc_removal](https://github.com/MichaelLueken-NOAA/GSI/tree/feature/libsrc_removal) in my fork.

[2022-02-15 15:20] XuLi-NOAA opened #303 "A GSI/NSST scripts change to follow a file name change in ufs_utils (last July)"
**Background**

In ufs_utils, there was a file name change of the GSI/NSST foundation temperature analysis increment file, which is generated by GSI/NSST analysis. Correspondingly, there must be the same file name change in two GSI scripts: exglobal_atmos_analysis.sh and exgdas_enkf_sfc.sh

**GSI scripts modifications**

In ufs_utils, the file name has changed from GSI_FILE to NST_FILE, correspond

[2022-02-15 20:04] EdwardSafford-NOAA commented on #290
Found and fixed an occasional bus error on the DE angle executable on wcoss_d.

Update on the time series issue:  The problem is in both the data extraction and image gen steps.  Fixing it will require a change in extracted file dimensions so I'll have to ensure backwards compatibility.  Given that complexity I now intend to take it on as a separate (new) issue.  I'm going to ready this issue for

[2022-02-16 11:14] MichaelLueken-NOAA commented on #302
At [ffcd4b2](https://github.com/MichaelLueken-NOAA/GSI/commit/ffcd4b229b1cbc87dc093ce5d00716943787e043):

1) Removed the libsrc directory from the feature/libsrc_removal branch.
2) Removed the GSI-libsrc reference from .gitmodules file.
3) Added wrf_io/1.2.0 module to the modulefiles/modulefile.ProdGSI.wcoss_d modulefile.

These changes were tested on WCOSS and all tests passed successfully.  Movi

[2022-02-16 23:10] CatherineThomas-NOAA opened #305 "DO-4 for commercial GPS-RO"
NOAA has awarded its next round of commercial GPS-RO data purchases, Delivery Order 4 (DO-4) to both Spire and GeoOptics.  The GSI requires a single line change in the convinfo file to turn on the assimilation of GeoOptics.  Spire is already being currently assimilated.  An accompanying historical convinfo file should also be created.

**Data flow starts on March 16th.**  We plan to implement abou

[2022-02-16 23:13] CatherineThomas-NOAA commented on #305
Changes will also need to be incorporated into the appropriate tags/branches for WCOSS2.

[2022-02-18 18:39] MichaelLueken-NOAA commented on #302
At [cbb75b9](https://github.com/MichaelLueken-NOAA/GSI/commit/cbb75b95b7ea9841c2528f60b949abf5df48b473):

Added wrf_io/1.2.0 module to the modulefiles/modulefile.ProdGSI.hera modulefile.

This change was tested on Hera and all tests passed successfully.

[2022-02-18 22:33] CatherineThomas-NOAA commented on #305
Release branch release/gfsda.v16.1.6 was created off of release/gfsda.v16.1.5.  In addition, fix branch DA_GFSv16.1.6_global_only was created off of DA_GFSv16.1.5_global_only.

The fix branch was updated to turn on GeoOptics assimilation (SAID=265).  A historical convinfo file for 2022031612 was created and the readme file was updated.  The release branch was updated to point to the new fix branch

[2022-02-22 15:06] CatherineThomas-NOAA commented on #305
The GSI release branch release/gfsda.v16.1.6 was tagged as gfsda.v16.1.6 at [7c0e408](https://github.com/NOAA-EMC/GSI/commit/7c0e40810a2405928912364a0c16232db78f2246).

[2022-02-22 17:59] fmahebert opened #306 "Investigate units of vegetation area fraction"
The CRTM expects its input "Vegetation Fraction" as a unitless fraction in [0,1], per conversations in the comments of https://github.com/JCSDA-internal/ufo/issues/1894

While comparing CRTM radiance H(x) across GSI vs FV3-JEDI, I've found some concerns about the GSI units for this quantity:

- In a geoval file generated for me by @CoryMartin-NOAA using GSI (for amsua n19 obs), I see "vegetation a

[2022-02-22 18:14] CoryMartin-NOAA commented on #306
I'm 90% sure the value of vegetation fraction written out by the modified GSI is directly what goes into CRTM.
[code]
Tagging @ADCollard and @emilyhcliu for awareness/comment.

[2022-02-22 18:58] emilyhcliu commented on #306
@fmahebert I am a bit confused.  I thought the CRTM expects the input vegetation fraction as % ranging from 0 to 100.   But the first statement in the description (above) indicated that CRTM expect vegetation fraction range from [0-1], and this is also inconsistent with the information documented in issue https://github.com/JCSDA-internal/ufo/issues/1894

I will run the GSI single cycle run to che

[2022-02-22 19:02] fmahebert commented on #306
@emilyhcliu, in the discussion in this UFO issue, it became clear that the CRTM User Guide was misleading and the CRTM actually expects a unitless fraction in [0,1].

[2022-02-22 21:19] emilyhcliu commented on #306
I just ran a single-cycle run and confirmed that the vegetation field read from our surface file (sfcanl.nc) has the range from 0 to 100.  And I print out the vegetation fields that GSI passes to CRTM.  Those values also range from 0 to 100.

The CRTM actually requires that the vegetation fraction to be between 0 and 1. (https://github.com/JCSDA-internal/ufo/issues/1894)

So, this is a bug in GSI!

[2022-02-22 21:45] fmahebert commented on #306
Additional info: in fv3-jedi, the vegetation area fraction is used straight from the background file, where the variable "vfrac" is in range [0,1]. The inconsistency may come from what is written to history vs restart files?

[2022-02-22 22:28] hu5970 opened #308 "Updated observer code(setup*.f90) for ps/w/spd/q/t to add observation provider info into obs diag files"
Adding modifications to obs setup code(setup*.f90) for ps/q/t/w/spd, to include the observation provider and sub-provider information into the obsdiags filee. Adding new option "l_obsprvdiag" to trigger the output. These provider information can be read with read_diag_conv and used in the AutoObsQC for 3DRTMA.

Also modifying the code in read_diag_conv.f90 under util/Analysis_Utilities/read_diag t

[2022-02-23 11:13] #303 closed

[2022-02-23 15:50] #290 closed

[2022-02-24 14:38] EdwardSafford-NOAA opened #310 "Fix RadMon time series plot problem"
There are two problems with some of the RadMon time series plots:

1. The time plot for the sdv for mean correction is often all 0 values.  The sdv values are created by the extraction executable so the error must be occurring there.
2. Some time series plots do not use the user specified number of cycles but rather always plot 30 day intervals.

I'll tag @HaixiaLiu-NOAA so you will be notified au

[2022-02-24 15:27] XuLi-NOAA commented on #295
The issue in metop-c AVHRR bufr data file (in avcsam) has been fixed since 2022021118 cycle, nothing is changed at the NCEP side, something is changed at the source, NESDIS side.
Two cycling runs have been done, with C384 cold start, initial conditions are generated from operational C768. The two runs, v16nst11: w/o metop-c AVHRR

and

v16nst12: w/ metop-c AVHRR

have been run for 4 days (16 cycle

[2022-02-24 23:00] AndrewEichmann-NOAA opened #311 "Update scripts needed for EFSOI"
The following EFSOI-specific scripts need to be updated to reflect assorted changes in the EFSOI development branch:

jobs/JGDAS_EFSOI
jobs/JGDAS_EFSOI_FCST
scripts/exgdas_efsoi.sh
scripts/exgdas_efsoi_update.sh

[2022-02-25 15:58] EdwardSafford-NOAA opened #313 "Revise RadMon storage strategy to reduce file count"
On Hera the DA group continues to have problems with the number of files in working directories.  The issue is file count not space, though space is always tight on Hera.  The RadMon extracts data from the radstat file and stores it in ~320 files per cycle.  This is a significant contributor to the number of files on hera.

The revised storage strategy will automatically tar up all data files for

[2022-02-28 15:28] jderber-NOAA opened #314 "Failure to compile hdraobmod on GNU compiler"
Rahul reported that hdraobmod did not compile under GNU.  Minor changes were made to make it compile.

[2022-02-28 15:29] jderber-NOAA commented on #314
Modified version in my rahulproblem directory.

[2022-02-28 16:12] XuLi-NOAA commented on #295
In order to make sure the slightly colder NSST analysis due to metop-c AVHRR radaince, another cycling run with the current operational GFS, pr16mc, starting from 2022021118 operational initial conditions, at C768, warm start, has been done for 12 cycles. The results have shown now colder NSST analysis in pr16mc, compared operational GFS/NSST analysis. Therefore, the metop-c AVHRR can be turned on

[2022-02-28 17:23] #270 closed

[2022-02-28 19:24] AndrewEichmann-NOAA opened #316 "Refactoring of EFSOI code"
Changes to EFSOI source code in util/EFSOI_Utilities/src/ for clearer and more accurate variable names.

[2022-02-28 20:51] aerorahul opened #318 "Removal of scripts under `ush/EnKF/`"
This issue is to document the removal of the following scripts from `ush/EnKF`.
These scripts were added by @aerorahul as part of setting up a stand-alone GSI and EnKF with the GSM spectral model.
They are out of date and non-functional.

If there are any users of these scripts, please comment on this issue.  A PR for removal will soon follow.

Tagging @MichaelLueken-NOAA @dtkleist for awareness

[2022-02-28 23:28] XuLi-NOAA commented on #295
Regression test results (Oh Hera):
Test project /scratch1/NCEPDEV/da/Xu.Li/git/GSI_avhmc/build
      Start  1: global_T62
      Start  2: global_T62_ozonly
      Start  3: global_4dvar_T62
      Start  4: global_4denvar_T126
      Start  5: global_fv3_4denvar_T126
      Start  6: global_fv3_4denvar_C192
      Start  7: global_lanczos_T62
      Start  8: arw_netcdf
 1/19 Test  #8: arw_netcdf ......

[2022-03-01 11:35] #311 closed

[2022-03-01 13:23] #316 closed

[2022-03-01 18:16] XuLi-NOAA commented on #295
@MichaelLueken-NOAA : Hera is down today and I checked out the branch feature/gsi_avhmc on dell and then ran the regression tests, it show only two tests are failed:
The following tests FAILED:
          6 - global_fv3_4denvar_C192 (Failed)
         19 - global_C96_fv3aerorad (Failed)
Errors while running CTest

I checked /gpfs/dell2/emc/modeling/noscrub/Xu.Li/regression/global_fv3_4denvar_C192_re

[2022-03-02 13:56] MichaelLueken-NOAA commented on #295
@XuLi-NOAA Looking at your feature/gsi_avhmc branch, this doesn't have your update that was merged to the authoritative repository on Monday, 02/28/2022 (Adding assimilation of Saildrone, Argo, and Glider data to NSST).  This will affect the number of observations read from nsstbufr for global_fv3_4denvar_C192.  For global_C96_fv3aerorad, in global_C96_fv3aerorad_regression_results.txt (not global

[2022-03-02 15:07] #318 closed

[2022-03-02 15:22] MichaelLueken-NOAA commented on #295
@XuLi-NOAA: Yes, it would be best to update both your feature/gsi_avhmc branch and master branch in your fork will need to be updated with the latest authoritative master.

It would probably be best to rerun just the global_fv3_4denvar_C192 regression test to ensure that it works as expected, then a new PR with this work can be created.  To run a single test:

In your build directory, open CTestTe

[2022-03-02 15:28] MichaelLueken-NOAA opened #320 "Replace src/fv3gfs_ncio with hpc-stack built ncio library"
Work to replace src/fv3gfs_ncio with the hpc-stack built ncio library will be done in the [feature/fv3gfs_ncio-removal](https://github.com/MichaelLueken-NOAA/GSI/tree/feature/fv3gfs_ncio-removal) branch.

[2022-03-02 16:22] MichaelLueken-NOAA commented on #302
At [b5d4204](https://github.com/MichaelLueken-NOAA/GSI/commit/b5d420452b45a971fdf032ba6c5a8b252094e307):

1. Removed modulefiles/modulefile.ProdGSI.acorn.  Since Acorn was a test machine before we had access to Cactus and Dogwood, there is no reason to maintain obsolete modulefile
2. Added module load wrf_io/1.2.0 to the rest of the modulefiles that have been updated to compile using hpc-stack:

-

[2022-03-02 18:16] XuLi-NOAA commented on #295
The regression test,  global_fv3_4denvar_C192, passed.

 ctest
Test project /gpfs/dell2/emc/modeling/noscrub/Xu.Li/git/GSI_avhmc/build
    Start 1: global_fv3_4denvar_C192
1/1 Test #1: global_fv3_4denvar_C192 ..........   Passed  5061.56 sec

100% tests passed, 0 tests failed out of 1

Total Test time (real) = 5062.26 sec

[2022-03-02 19:23] AndrewEichmann-NOAA opened #323 "nonphysical increments produced by serial filter on Hera"
Running the serial filter with EFSOI cycling (and also without at times) produces on some cycles non-physical increments, example following:

[Andrew.Eichmann@v71a1 atmos]$ grep increment gdas.t12z.enkfstat
[0] ens. mean anal. increment min/max  u   -107693.046875        29170.9941406
[0] ens. mean anal. increment min/max  v   -45611.8164062        44759.7421875
[0] ens. mean anal. increment min/m

[2022-03-03 15:56] lbi2018 opened #325 "Adding FGAT capablity for regional application"
Adding FGAT related code changes from HAFS DA workflow, Observations are compared with the first guess at the observation time to obtain the innovation.

[2022-03-04 19:10] AndrewEichmann-NOAA commented on #323
@jswhit2 Have you seen this come up before?

[2022-03-04 19:20] jswhit commented on #323
That's disturbing - no I haven't seen that before.

[2022-03-04 19:22] jswhit commented on #323
Is it reproducible (in other words does it happen again if you just run the whole cycle over again, including the GSI observer step?)

[2022-03-04 20:15] TingLei-NOAA commented on #323
@AndrewEichmann-NOAA  could you reproduce this case on hera?    Thanks to @JacobCarley-NOAA for letting us notice this issue.  We (including our collaborators) had similar cases on hera.   However, when I tried to use "theoretically " the same setup to repeat that run on hera, the problem was not reproduced.  So, I suspect there is a certain issue in the environmental setup.   If you could have a

[2022-03-04 20:18] TingLei-NOAA commented on #323
The similar behavior reported in a run on hera was reported by Liaofan.lin@noaa.gov at GSL.

[2022-03-07 12:52] TingLei-NOAA commented on #323
Update at Mar, 7,2022,
Finished debugging/testing of the new function for the IO of GSI EnKF for  FV3-LAM  when l_fv3reg_filecombined=. false. , while the FV3-LAM restart files in their original forms with atmospheric fields in the core and tracer files separately and submitted a PR at EMC GSI  https://github.com/NOAA-EMC/GSI/pull/328.
Review and help in a couple of GSI PR or prospect PR for FGAT

[2022-03-07 21:31] AndrewEichmann-NOAA commented on #323
@jswhit  @TingLei-NOAA

Also, I should note that when it happened earlier, it didn't happen on every cycle, rather every other cycle.

[2022-03-08 10:14] MichaelLueken-NOAA opened #331 "Removal of CORE_BUILT and BUILD_NCEPLIBS entries in CMake build system"
The GSI CMake build system requires libraries to be loaded from a modulefile, not being built from libsrc or library source code on the machine and building libraries from that.  The CORE_BUILT and BUILD_NCEPLIBS (where NCEPLIBS are BACIO, BUFR, CRTM, etc.) are no longer required in the GSI CMake build system and will be removed.

This work will be done in my fork in the [feature/CORE_BUILT-cmake-

[2022-03-08 13:26] #314 closed

[2022-03-08 13:34] #295 closed

[2022-03-08 21:41] AndrewEichmann-NOAA commented on #323
The problem on Hera is similar. The blow up happens on the second full cycle and manifests like so - I'm not sure it's the same problem:

[code]

I tried rewinding everything back to eobs and running again and got the same result.  The above is from the enkfstat in
/scratch1/NCEPDEV/stmp4/Andrew.Eichmann/abacus/enkfgdas.20220201/12/atmos
expdir here:
/scratch1/NCEPDEV/da/Andrew.Eichmann/para_gfs/a

[2022-03-08 23:44] TingLei-NOAA commented on #323
@AndrewEichmann-NOAA  do you have a run dir on hera , and, point  me to the original background ensemble , and hence I can try running a regular EnKF ?

[2022-03-09 00:26] AndrewEichmann-NOAA commented on #323
@TingLei-NOAA
Everything is on Hera - the comrot is
/scratch1/NCEPDEV/stmp4/Andrew.Eichmann/abacus

[2022-03-09 00:54] TingLei-NOAA commented on #323
@AndrewEichmann-NOAA , Thanks.  It seems all rundir (DATA) had automatically been deleted in your jobs.
 @LiaofanLin-NOAA is trying to create a clean test case (for fv3-lam) to reproduce the behavior. By "clean", I mean the job could be directly run from the rundir using a existing sbatch script   to reproduce the issue.  We will keep updating here about our investigating of this issue.

[2022-03-09 13:17] AndrewEichmann-NOAA commented on #323
@TingLei-NOAA Sorry, I misunderstood. I'll rerun with  KEEPDATA="YES".

[2022-03-09 13:37] TingLei-NOAA commented on #323
@AndrewEichmann-NOAA , Thanks.

[2022-03-09 17:11] #302 closed

[2022-03-09 20:20] LiaofanLin-NOAA commented on #323
Yes, I saw the same EnKF issue with the regional workflow.  The issue could happen at a random cycle, meaning that its previous cycles are fine with EnKF.  At /scratch1/BMC/zrtrr/llin/220101_rrfs_dev1/STMP/tmpnwprd/RRFS_CONUS_13km_case13/2021091309, I have three scenarios:

1) enkfupdt_20220203: with abnormal analyses.  This was originally produced via the workflow at /scratch1/BMC/zrtrr/llin/2201

[2022-03-09 20:42] TingLei-NOAA commented on #323
@LiaofanLin-NOAA  Thanks for clarification of this.  My questions are: you meant run 2 and run 1 use the same modules and executable, but run 1 is as you mentioned from the earlier runs by rocoto with the workflow, so, seems they were using different modules and executables to me .  Would you please further clarify  on this ?  And, do you think you could have a self contained case as in 2 to repro

[2022-03-09 20:50] LiaofanLin-NOAA commented on #323
@TingLei-NOAA

To your 1st question: I used the same modules and executable in 1) and 2), as following

`source /scratch1/BMC/zrtrr/llin/220101_rrfs_dev1/ufs-srweather-app_20220119/env/build_hera_intel.env_DA
cp /scratch1/BMC/zrtrr/llin/220101_rrfs_dev1/ufs-srweather-app_20220119/bin/enkf_fv3reg.x enkf.x`

However, the same that I am not 100% sure is whether the workflow loads other modules in add

[2022-03-09 21:07] TingLei-NOAA commented on #323
@LiaofanLin-NOAA  Thanks. Yes, they were using different modules like about netcdf , though maybe, it is irrelevant.
A self-contained case reproducing the issue would be very helpful

[2022-03-09 21:17] AndrewEichmann-NOAA commented on #323
@TingLei-NOAA The RUNDIRS should be available now:
/scratch1/NCEPDEV/stmp2/Andrew.Eichmann/RUNDIRS/abacus/2022020112/gdas

[2022-03-09 21:37] TingLei-NOAA commented on #323
@AndrewEichmann-NOAA  could you point me to the log filel for the enkf update corresponding to the run dir (/scratch1/NCEPDEV/stmp2/Andrew.Eichmann/RUNDIRS/abacus/2022020112/gdas/eupd.175489/)?  I will see if I could repeat the issue using a "self contained "  setup from this rundir.

[2022-03-09 21:52] AndrewEichmann-NOAA commented on #323
@TingLei-NOAA
The log file should be here:
/scratch1/NCEPDEV/stmp4/Andrew.Eichmann/abacus/logs/2022020112/gdaseupd.log

[2022-03-09 22:06] TingLei-NOAA commented on #323
@AndrewEichmann-NOAA , a question, in the global run, the background are updated in place or the analysis were output in the increment files?  I want to make sure I am using the original background ensemble.  Thanks.

[2022-03-09 22:19] AndrewEichmann-NOAA commented on #323
@TingLei-NOAA I don't know. Aside from using the serial filter, everything is a standard global-workflow setup. I was under the impression that nothing was overwritten, if that addresses your concern.

[2022-03-09 22:26] TingLei-NOAA commented on #323
@AndrewEichmann-NOAA Yes ,the files like /scratch1/NCEPDEV/stmp4/Andrew.Eichmann/abacus/enkfgdas.20220201/06/atmos/mem001/gdas.t06z.atmf003.nc is with a older time stamp, not updated in place.  I will let you if I can reproduce that issue using your case.

[2022-03-11 14:33] TingLei-NOAA commented on #323
@AndrewEichmann-NOAA  A question, in your run, there was like "/bin/ln -sf /scratch1/NCEPDEV/stmp4/Andrew.Eichmann/abacus/enkfgdas.20220201/12/atmos/mem001/gdas.t12z.atmi003.nc incr_2022020112_fhr03_mem001
"    and, after the EnKF , seems those increment files were updated in place.   Is that right?  If so, are initial fields in those original files were used in the EnKF and, hence, to repeat your

[2022-03-11 18:05] TingLei-NOAA opened #332 "Adding the IO capability to GSI EnKF for FV3-LAM restart files on multiple subdomains"
It is concluded that to improve significantly the efficiency of the DA cycling process for FV3-LAM, the capability of GSI EnKF to do io for FV3-LAM restart files on multiple subdomains is needed.
After reviewing such a function in the GSI and the existing parallel IO interface of GSI EnKF for GFS, it is decided this work would start from the latter : a similar interface as the parallel IO  EnKF in

[2022-03-14 15:10] EdwardSafford-NOAA commented on #313
Updated my branch from upstream and discovered recent changes to the RadMon/CMakeLists.txt breaks RadMon level builds.

I'll fix that as part of this ticket but @MichaelLueken-NOAA  I'll could use your help.  Here is the portion of the CMakeLists.txt file that were changed:

`set(BUILD_NCDIAG ON)
 88     set(NCDIAG_INCS "${PROJECT_BINARY_DIR}/src/ncdiag/include")
 89 #    add_subdirectory(${PROJEC

[2022-03-14 16:37] MichaelLueken-NOAA commented on #313
@EdwardSafford-NOAA While working on removing all sources of libsrc, I didn't go in to check and see if the monitoring packages would compile within the util/*_Monitor directories.  I was able to make it compile by:

1) Replacing
  * set(NCDIAG_INCS "${PROJECT_BINARY_DIR}/src/ncdiag/include")
with
  * set(NCDIAG_INCS "${PROJECT_BINARY_DIR}/src/ncdiag")

2) Replacing
  * add_subdirectory(src/ncdiag

[2022-03-14 16:49] EdwardSafford-NOAA commented on #313
@MichaelLueken-NOAA I had just gotten there on my own.  I'm glad I figured out the same fix, though it took me most of the morning.  Thanks for confirming the fix.  I'll commit it to my working branch and hope to have final testing for this issue done by tomorrow.

[2022-03-14 16:51] MichaelLueken-NOAA commented on #313
@EdwardSafford-NOAA Sounds good.  There isn't anything out for review right now, so I can either get your update into the authoritative repo quickly, or have it reviewed, if you would like.

[2022-03-14 20:15] AndrewEichmann-NOAA commented on #323
@TingLei-NOAA My understanding was that that link is made before the increment is written out, so that when it is written out, it gets written to the rotdir even though the working directory (ie the run directory) is elsewhere. So I believe you can use what is in the rundir.  @MichaelLueken-NOAA , do I have that correct?

[2022-03-15 11:00] MichaelLueken-NOAA commented on #323
@TingLei-NOAA @AndrewEichmann-NOAA While porting the GSI and EnKF to WCOSS2, this the nonphysical increments were an issue.  Working with GDIT, the answer was to set:

export MPICH_COLL_OPT_OFF=1

In EnKF scripts.  It would be interesting to see if this setting corrects the nonphysical increments on other machines as well.

When it comes to symbolic links,

[2022-03-15 12:24] TingLei-NOAA commented on #323
Mike
Great you have a solution for that.  We will see if this could
help @LiaofanLin-NOAA's issue on Hera.

______________________________

Ting Lei

IMSG at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Cubicle 2765

College Park, MD 20740

***@***.***

301-683-3624

On Tue, Mar 15, 2022 at 7:01 AM MichaelLueken-NOAA ***@***.***>
wrote:

[2022-03-15 14:14] CatherineThomas-NOAA opened #333 "Turn off uv 224 VADWND in GFS"
The "NEXRAD Vel Azm Dsp (VAD) winds via radar coded msg" ob type in tank b002/xx008 has been discontinued.  The other type of vadwnd in obstype 224 "NeXRaD VAD WINDS FROM LEVEL 2 DECODER (002017)" in b002/xx017 is currently skipped by obsproc in processing for global and cdas.  Regional DA is already using these data.  Obsproc is planning to start including these data for global and cdas as well.

[2022-03-15 14:51] CatherineThomas-NOAA commented on #333
A new tag [gfsda.v16.1.6](https://github.com/NOAA-EMC/GSI/releases/tag/gfsda.v16.1.6) has been created at 2d3bfc1.

[2022-03-15 18:06] hu5970 opened #335 "Use 2m T/Q as background for surface observation for RRFS and remove the negative moisture in low level for RAP/HRRR"
Add several new functions from RAP/HRRR/RRFS application:

    1) Add function to read and write 2m T and Q from fv3lam background
       and used 2m T and Q as background to calculate innovation for
       2m T/Q surface observations.

    2) Change the variable name for 2m T from th2 to t2m to indicate
       It is a sensible temperature now. It was a potential temperature.
       The converting

[2022-03-16 15:37] LiaofanLin-NOAA commented on #323
@AndrewEichmann-NOAA Yes, you are correct.  My issue is only with the unphysical increment values.

[2022-03-16 17:02] hongli-wang opened #337 "Add capability to assimilate PM2.5 and VIIRS AOD in RRFS-CMAQ"

[2022-03-17 12:15] MichaelLueken-NOAA commented on #320
In [7024960](https://github.com/MichaelLueken-NOAA/GSI/commit/702496086dc1c3a10b2cc025ae0daaa006ebec43):

 * CMakeLists.txt entries that use fv3gfs_ncio - updated to use hpc-stack built ncio library
 * cmake/Modules/setGNUFlags.cmake - remove fv3gfs_ncio flags
 * cmake/Modules/setIntelFlags.cmake - same
 * hpc-stack compliant modulefiles - add module load ncio/1.0.0
 * src/fv3gfs_ncio - removed
 *

[2022-03-17 19:07] jswhit2 commented on #323
@AndrewEichmann-NOAA there was a fix in https://github.com/NOAA-EMC/GSI/commit/44fa0ec87861f1beebaca76245b1161e2403e47a (unitialized values for covinflatenh,covinflatesh,covinflatetr namelist parameters) - are you including this update in your experiments?

[2022-03-17 19:18] AndrewEichmann-NOAA commented on #323
@jswhit2  Ah, no. In my current experiment I'm using the standard global-workflow with a62dec63aef126afa2e49b91e9dcf8a944583023 from Dec 14. I'll make the appropriate adjustments.

[2022-03-18 18:01] XuLi-NOAA opened #339 "The inclusion of the observations with mixed surface type (water percentage, sfcpct<1) into GSI/NSST analysis"
It has been found out some  in situ observations are not assimilated since their mixed surface type, i.e., sfcpct < 1 (water percentage determined with the surface mask from background surface file) in the GSI/NSST foundation temperature analysis.

It happens near the coast areas, such as Pamlico Sound.

It is not an issue for the satellite observations, since the surface type dependent signal fro

[2022-03-19 05:08] XuLi-NOAA commented on #339
The observations from ships, coast buoys and others (GSI type 196, a type of moored buoy) are actually not used even if they pass all the Quality Control tests, because of a if block in setupsst.f90, where only a observation with dominant water surface type, see:
if ( isli == 0 ) then
nobs_qc = nobs_qc + 1
call intrp2a11(dsfct(1,1,ntguessfc),dsfct_obx,dlat,dlon,mype)
else
dsfct_obx = zero
endif
th

[2022-03-21 11:56] MichaelLueken-NOAA commented on #320
In [b02ffbc](https://github.com/MichaelLueken-NOAA/GSI/commit/b02ffbcbf65968e35dfb90ef210a08c8a0fdbe8b):
* ush/sub_hera - corrected issue that would cause regression tests to fail on Hera due to SLURM out-of-memory issues

The code compiles and runs on Hera.  The regression tests all successfully passed (following the minor addition to ush/sub_hera in this update).

[2022-03-21 13:10] AndrewEichmann-NOAA commented on #323
@jswhit2 @TingLei-NOAA I ran an experiment with the serial filter on Hera over the weekend using the March 10 global-workflow (d758e8b227fca7b5a3320adc43c29ba492c3bfe9) and the March 9 GSI (47ee70b090c85c98733a0aa46b3d6fa93fc40727) and got the blowup that appears in the inflation (in the NH):

rotdir /scratch1/NCEPDEV/stmp4/Andrew.Eichmann/crumpet
expdir /scratch1/NCEPDEV/da/Andrew.Eichmann/para_g

[2022-03-21 15:14] AndrewEichmann-NOAA commented on #323
@jswhit2 On the way

[2022-03-21 17:21] emilyhcliu opened #341 "Add changes for all-sky radiance assimilation"
**The following changes will be added to GSI Master for V16.x Implementation:**

**Source code update:**
- [x] Switching from assimilating antenna temperature (SDR) to brightness temperature (TDR) for AMSU-A, ATMS, and MHS
- [x] The use precipitation-affected radiances for ATMS and AMSU-A (extened all-sky framework)
- [x] The use of GMI radiances under all-sky conditions

**Fix files update:**
- [

[2022-03-21 17:25] emilyhcliu opened #342 "Add changes for ASCAT winds for v16.x implementation"
The following changes for ASCAT will be added into GSI master:
- [x] Add the use of ASCAT from MetOp-C
- [x] Modify thinning and observation error for ASCAT (fix file changes only)

These changes improved minimization, reduced analysis increments, and resulted in better forecast, especially in 24-hour wind forecast at 850 hPa.

GSI results will not be reproduced due to these changes.

[2022-03-21 19:46] AndrewEichmann-NOAA commented on #323
@jswhit2

Rundir is in /scratch1/NCEPDEV/stmp2/Andrew.Eichmann/RUNDIRS/crumpet/2022020112/gdas/eupd.176003

[2022-03-21 20:18] jswhit commented on #323
Thanks @AndrewEichmann-NOAA I am trying to reproduce now

[2022-03-22 00:05] jswhit commented on #323
The unphysical increments go away if `modelspace_vloc=.false.` in enkf.nml.  So, this is a bug in the model-space localization implementation for the serial filter.    We've only really used model-space localization in the LETKF (since it is very slow for the serial filter).  I'll try to find some time later this week to see what's going on.

[2022-03-22 14:39] AndrewEichmann-NOAA commented on #323
Good to know. I've been experiencing long runtimes with the serial filter - is there a large impact on the results from using model-space localization?

[2022-03-23 02:11] HaixiaLiu-NOAA opened #344 "changes to include observations potentially available in 2022"
There are a list of observations to potentially be used in operational system in 2022. Here is the [list](https://docs.google.com/document/d/1meJySRgxgUrAe7i8pQJKLfkfQWdo9ayVj_2rm8QFMKg/edit). This issue is open to make changes in the fix files, source codes and scripts to monitor observations from atms_n21, cris-fsr_n21, ompsnp_n21, ompstc8_n21, viirs-m_j2, abi_g18, ahi_himawari9, gome_metop-c.

[2022-03-23 13:42] CatherineThomas-NOAA commented on #305
The release branch was retagged after adding the vadwnd changes to the implementation (GSI Issue #333) at  2d3bfc1.

[2022-03-23 17:11] #308 closed

[2022-03-23 17:17] #342 closed

[2022-03-23 17:21] AndrewEichmann-NOAA commented on #323
Unfortunately not for now. The reason is the lack of an observation-space analysis in our LETKF, which is needed for EFSOI.

Do you still need my experiment on Hera? Otherwise I will delete it to release the storage.

[2022-03-23 17:44] jswhit commented on #323
You could re-run the GSI observer on the 4D analysis states produced by the LETKF, no?  Even with the cost of the extra observer it would still be much faster than running the serial filter (with model-space localization). I'm running a couple more tests to see if I can fix the problem with unphysical values in the serial filter with model space localization, but you can delete the experiment by C

[2022-03-24 00:40] dmerkova opened #346 "Use of humidity TAMDAR data"
Humidity aircraft data testing, quality control for TAMDAR data. Temperature and wind TAMDAR data are already in use, and we would like to use humidity data.
Using v16x control run, validate digestion and quality of data.
To be able to add these additional observations, we will need change in fix files only
-     global_convinfo.txt (using observation, and nvarqc parameters -check)
-     prepobs_e

[2022-03-24 01:36] dmerkova commented on #346
test experiment: v16.x_sept_tamdarq will be validated against v16x_sept_ctl run.
Changes involved to implement this data are in the configuration of convinfo file.

[2022-03-25 16:56] dmerkova commented on #346
Need to decide on varqc (none, varqc or nvqc) .
Experiment v16.x has a mixed settings for aircraft data.  Coefficients ibeta and ikapa (nvqc schemes) are set only for type 131-133)

[2022-03-29 02:20] XuLi-NOAA commented on #339
A cycling run, oprcst10, starting from operational initial conditions at 2021102400, with the operational GFS version plus the NSST package and the above change on the inclusion of the mixed surface type in situ sea water observations, has been running. about 14-day has been done and the too warm NSST Tf analysis over the Pamlico Sounds area are gone. The more critical period, around the middle of

[2022-03-29 16:00] EdwardSafford-NOAA opened #347 "Port OznMon to wcoss2"
Port the non-operational portions of the OznMon package to wcoss2, including package install, dev data extraction scripts, image generation scripts, and file transfer scripts.

Note that the operational portions of the package were ported to wcoss2 in #227 .

[2022-03-29 17:01] jswhit opened #348 "reading of GFS history files fails (on reading 'time_iso')"
https://github.com/ufs-community/ufs-weather-model/issues/1052 added a new 'time_iso' character array variable in the GFS history files.  The ncio module that GSI uses to read the history files chokes when trying to read this.  A fix is at https://github.com/NOAA-EMC/NCEPLIBS-ncio/pull/53.

https://github.com/NOAA-EMC/GSI/pull/340 and updating the hpc-stack with an updated NCEPLIBS-ncio with the a

[2022-03-30 17:06] emilyhcliu commented on #341
Added logical ta2tb to encapsulate the use of brightness temperature instead of antenna temperature.

[2022-03-31 13:01] jack-woollen opened #351 "bug in read_satwnd converting prlc (pascals) to hPa"
ppb=obsdat(2)
           if (ppb > 100000000.0_r_kind .or. &
           hdrdat(3) >100000000.0_r_kind .or. &
           obsdat(4) > 100000000.0_r_kind) cycle loop_readsb

           if (ppb <r125) cycle loop_readsb    !  reject data above 125mb
           if(hdrdat(13) == 12.0_r_kind .or. hdrdat(13) == 14.0_r_kind) cycle loop_readsb
           if (twodvar_regional .and. ppb <r850) cycle loop_reads

[2022-03-31 13:11] EdwardSafford-NOAA opened #352 "Port non-operational components of ConMon to wcoss2"
Port the non-operational components of the ConMon package to wcoss2, including package install, dev data extraction scripts, image generation scripts, and file transfer scripts.

Note that the operational portions of the package were ported to wcoss2 in https://github.com/NOAA-EMC/GSI/issues/228 .

[2022-03-31 16:15] #243 closed

[2022-03-31 17:54] dmerkova commented on #346
Use Desroziers diagnostic (2005) to estimate observation error.
(https://docs.google.com/presentation/d/1BXJzL0Y5WISlE7t6-03IO4aKaPJBSovK6shkMHxf8Gs/edit#slide=id.p5)

[2022-04-01 18:34] CatherineThomas-NOAA commented on #305
Since these changes are being incorporated into the WCOSS2 DA port, these changes will get into the master via the WCOSS2 merge, rather than their own PR.

[2022-04-04 10:44] MichaelLueken-NOAA commented on #331
This work will be preempted by work in PR #327, so I will close this issue.

[2022-04-04 10:44] #331 closed

[2022-04-04 10:45] MichaelLueken-NOAA commented on #320
Closing issue, since work in PR #327 supersedes this work.

[2022-04-04 10:45] #320 closed

[2022-04-04 14:19] ADCollard opened #353 "GNSS RO algorithm changes for GFS v16.x"
The issue concerns the inclusion of changes to the GFS to include the following changes to the use of GNSS RO data:

- Turn on PAZ assimilation and add Sentinel-6 capability
- Improvements to QC procedures (improved super-refraction QC, remove Jacobian QC etc.)
- Bug fixes
- Code optimization

More details including impacts are shown [here](https://github.com/NOAA-EMC/GSI/files/8410449/LC-EMC_02-1

[2022-04-05 02:39] XuLi-NOAA commented on #339
A more detailed diagnosis has shown that the threshold of (O-B)/oberr < 1.5 K is too tight, and it is the cause some coast in situ data are rejected and led to too warm NSST analysis near the coast of Pamlico Sound and nearby areas. The test with the looser QC shows the too warm issue (in a dramatically cooling period).

[2022-04-05 14:46] #301 closed

[2022-04-06 14:38] RussTreadon-NOAA opened #356 "NCO Bugzilla tickets to be addressed in GFS v17 DA"
NCO opened numerous GFS v16 related [bugzilla](http://www2.spa.ncep.noaa.gov/bugzilla/) tickets which must be addressed in GFS v17 or beyond.  GSI issue #137 documents GFS v16 DA bugzillas.  New GFS DA bugzillas have been opened since #137.

- [ ] [1301](http://www2.spa.ncep.noaa.gov/bugzilla/show_bug.cgi?id=1301): gfs - write to files in working directory instead of links pointing to COMOUT

NCO

[2022-04-06 15:07] RussTreadon-NOAA commented on #356
**FYI:**  global-workflow issue #[712 ](https://github.com/NOAA-EMC/global-workflow/issues/712)has been opened to track bugzilla 1301 from the g-w side.

[2022-04-07 03:36] XuLi-NOAA opened #357 "eupd step failed with NetCDF: HDF error?"
In one cycle run, oprcst2, which is starting from 2021110400 with ICs from oprcst10, eupd failed at 2021110418 cycle.
The difference between oprcst2 and oprcst10 is the in situ observation QC, it is looser for opecst2.

oprcst10 is running well, just opecst2 has the above issue.

After recompile of GSI, 2021110418 eupd went through, but failed at 2021110500 eupd.

This happened around April 1, 202

[2022-04-07 09:41] RussTreadon-NOAA commented on #357
@XuLi-NOAA , have you recompiled global_enkf.x in debug node and rerun a case with the NetCDF error?

[2022-04-07 13:00] XuLi-NOAA commented on #357
@RussTreadon-NOAA : Not yet. Yes, it is necessary to find out what happened exactly.

[2022-04-08 15:05] EdwardSafford-NOAA commented on #352
I have encountered a road block.  I'll spell out the analysis file, but the same problem exists with the corresponding ges file.  During data extraction the gdas.t[hh]z.pgrb2.0p25.f000 file is pared down by wgrib2 and stored as anal.[yyyymmddhh].  Then during the image generation step a utility, g2ctl.pl, creates a GrADS control file for the anal.$PDATE file.  The control file is used then by grib

[2022-04-08 16:34] StevenEarle-NCO commented on #356
I ran a proof of concept test, similar as Russ did...
Initial test simply changing ln to cp yielding nearly double the runtime... about 53 minutes, where normal is 29 minutes. It took about 24 minutes to get to the gsi executable.
I ran another test where I sent all the copy commands to a file, then ran mpmd process (run all the copy commands at the same time on different cores). This echo+cp took

[2022-04-08 17:50] RussTreadon-NOAA commented on #356
Smart use of mpmd, @StevenEarle-NCO!   Scripts can be examined and refactored, where possible, to wrap multiple in/out copies within mpmd.  Need to ensure this works on WCOSS2 and RDHPCS machines.

[2022-04-08 18:12] RussTreadon-NOAA commented on #356
FYI:  General discussion of replacement of `ln` with `cp/mv` is occurring in g-w issue [#712](https://github.com/NOAA-EMC/global-workflow/issues/712)

[2022-04-11 15:38] CatherineThomas-NOAA commented on #216
This issue was overlooked during the merging of GFS v16.1.3 and v16.1.4 into the GSI master since the merges were combined.  The fix file changes for v16.1.3 were added at 6f526aa1c4b3c9beb83a1df980c1bb0a38d9185a.

@MichaelLueken-NOAA This issue can be closed.

[2022-04-13 14:25] #344 closed

[2022-04-13 20:15] AndrewEichmann-NOAA opened #358 "Adding EFSOI to CMakeLists.txt"
This change would make the necessary additions to CMakeLists.txt to compile the EFSOI executable in the master branch.

[2022-04-14 09:14] MichaelLueken commented on #358
@AndrewEichmann-NOAA Rahul has been working on a CMake refactor which will be also be adding EFSOI to CMakeLists.txt.  This refactor will have priority, after the updates for GFS v16.x have been reviewed and merged to the authoritative repository.  Please see PR #327 for details.

[2022-04-14 15:55] WalterKolczynski-NOAA opened #360 "Update NCIO library for new time_iso variable"
UFS added an additional variable, time_iso, to the output files. NCEPLIBS already has a PR to update (NOAA-EMC/NCEPLIBS-ncio/pull/53), but GSI builds using its own copy of the ncio library, so the fix needs to be applied there as well. It is believed this is causing the problems with cycling in global-workflow (see NOAA-EMC/global-workflow/issues/711)

[2022-04-14 16:02] MichaelLueken commented on #360
@WalterKolczynski-NOAA The GSI is about to undergo a CMake build refactor (please see PR #327).  As part of this refactor, the GSI will build using the hpc-stack ncio module.  This work will be going in once the last updates for GFS v16.x have been merged into the authoritative repository.

[2022-04-14 16:06] WalterKolczynski-NOAA commented on #360
Sorry, looks like I opened a duplicate.

[2022-04-14 16:06] #360 closed, assigned to nobody

[2022-04-15 15:19] TingLei-NOAA opened #361 "removing the un-necessary grids re-orientation in EnKF IO for FV3-LAM"
In the current EnKF IO for fv3-lam,  in the read and write , the horizontal orientation of the grids would be reversed.
It was implemented like this because, initially, the fv3-lam model was output in the grid layout from NE-SW. The developer chose to this  re-orientation to make sure there will be no  violation of requirement for EnKF (including LETKF and so on).  Though it is clear the serial En

[2022-04-19 13:10] xyzemc opened #363 "Convert the global 127-L BE vertical length scale unit to ensure the global BE is properly used by regional DA"
The global BE file has the unit for vertical length scale (VZ) is the grid unit (1/layer) which can be directly called by Recursive Filter code for global DA. However, it doesn’t match the regional DA code requirement. The GSI code m_berror_stats_reg.f90 designed for regional DA is supposed to use VZ with the unit of 1/sigma. Therefore the VZ can be interpolated to whatever levels that the regiona

[2022-04-20 17:42] #353 closed

[2022-04-22 21:29] EdwardSafford-NOAA commented on #310
I *think* I've gotten a handle on the problem.  Two things seem to be going on.  First, the text file that is generated for the javascript is formatting the sdv values as F9.3.  Many of the sdv values are quite small and limiting the decimal points to 3 ends up rounding the value to 0.

But, when I change the format to better support the data, the javascript runs into a load error parsing the date

[2022-04-25 16:25] #339 closed

[2022-04-25 18:15] EdwardSafford-NOAA commented on #310
I've just issued a PR to fix the sdv plots.  There are still some issues related to the data values.  The values are small enough that the mouse-over legend often results in a value of 0 being displayed when the plotted curve clearly indicates the value is non-zero.  I might be able to tweak the javascript and get that to display better.

Longer term it's worth considering if the time series plots

[2022-04-26 16:50] EdwardSafford-NOAA opened #367 "Update RadMon html generation"
Recently several minor changes have been made to the html code on emcrzdm.  These changes need to be added to the RadMon's html generation scripts.

[2022-04-28 18:30] EdwardSafford-NOAA commented on #367
Work is complete and tested.  The only changes are to the RadMon's html customization and installation, which isn't operational code.

@MichaelLueken-NOAA would you like me to issue a new PR for this or can I amend #366 and add these changes to it?

[2022-04-29 10:36] MichaelLueken commented on #367
@EdwardSafford-NOAA Since both modifications are to the RadMon package, I think it would be fine to amend #366 in order to get these changes in quicker.

[2022-04-29 10:53] MichaelLueken opened #368 "WCOSS2 port"
The GFS v16.3 package will be the first implementation on WCOSS2.  In order to facilitate the running of real time parallels, which will be required shortly, the current changes in [feature/gfsda.v16.1.5_wcoss2_port](https://github.com/NOAA-EMC/GSI/tree/feature/gfsda.v16.1.5_wcoss2_port) will be merged into the [develop](https://github.com/NOAA-EMC/GSI/tree/develop) branch, along with the rest of

[2022-04-29 14:06] MichaelLueken commented on #368
In d3caccb:

1) Update cmake_minimum_required in CMakeLists.txt files from 2.6 and 2.8 to 3.16.1.
2) Add cmake_policy options in CMakeLists.txt files for CMake 3.20+ versions.
3) Add WCOSS2 entries to cmake/Modules and cmake/Modules/platforms.
4) Bring in gfsda.v16.1.6 fix file updates.
5) Necessary updates to jobs/ and scripts/ to run on WCOSS2.
6) Added WCOSS2 lua modulefile and replaced Hera an

[2022-04-29 17:27] MichaelLueken commented on #368
In 7728739:

1) Added wrf_io entries in Hera and Orion lua modulefiles.
2) Added #SBATCH --mem=0" to ush/sub_hera to allow all regression tests to run on Hera.
3) Changed cmake_minimum_required from 2.6 to 3.16.1 for ConMon package.

The DA components were successfully built on Hera and a regression test was submitted.  The regression test successfully ran and passed.

Now, to ensure that the code

[2022-04-29 18:22] MichaelLueken commented on #368
In 1526872:

1) Added wrf_io module in WCOSS2 lua modulefile.
2) Changed cmake_minimum_required from 2.6 to 3.16.1 in util/*/CMakeLists.txt

The code successfully built on Cactus.  A stand alone script was submitted using the executable built from feature/wcoss2_port and successfully ran through to completion.

Now creating PR to bring WCOSS2 port changes in to the authoritative repository's [deve

[2022-04-29 19:49] ADCollard commented on #353
@MichaelLueken-NOAA I have added the fix file changes to the branch.

The fix branch is RO_Updates_Fix.  There are only two lines to change:

--- a/global_convinfo.txt
+++ b/global_convinfo.txt

- gps      044    0   -1     3.0      0      0      0  10.0  10.0   1.0  10.0  0.000000     0    0.     0.      0    0.     0.    0    0
+ gps      044    0    1     3.0      0      0      0  10.0  10.0

[2022-04-29 20:32] RussTreadon-NOAA opened #370 "unsafe interp_inc.fd/driver.f90 assumption"
As currently coded `interp_inc.fd/driver.f90` assumes variables `lon` and `lat` are have the same integer addresses as dimensions `lon` and `lat` in the input netCDF file.  This is shown in the following block of code from `driver.f90` which loads the longitude array:

[code]

We should not assume `id_dim` for the `lon` dimension is identical to `id_dim` for the `lon` variable.    Instead, we shou

[2022-04-29 20:57] RussTreadon-NOAA commented on #370
Create [`feature/interp`](https://github.com/RussTreadon-NOAA/GSI/tree/feature/interp) in which to update `interp_inc.fd/driver.f90`

[2022-04-29 21:31] ADCollard opened #371 "Minor Bug Fixes to IR Processing"
@wx20jjung has identified three minor bug fixes in IR processing:

1) Numerical errors in the calculation of the surface emissivity check
2) The constant term was erroneously zeroed out when air-mass bias correction terms are zeroed.
3) Some tweaks to the selection of clear scenes during thinning including robustness against missing AVHRR data for IASI

[2022-05-02 09:33] MichaelLueken commented on #353
@ADCollard The authoritative develop branch has been updated this morning to [114ed31](https://github.com/NOAA-EMC/GSI/commit/114ed3116919ae9a00acb7214f75df093d68b9bd).  This should now conclude the work associated with this issue.

[2022-05-02 13:38] EdwardSafford-NOAA opened #373 "Compress RadMon tar files"
Compress the RadMon's tar files which are used for storage of extracted data.

[2022-05-02 13:40] EdwardSafford-NOAA commented on #373
Not sure why I didn't do this when I implemented the tar files, but the space savings is quite significant if the tar files are gzipped -- 156M vs 49M per cycle.

[2022-05-02 16:57] ADCollard commented on #371
Pull request issued: https://github.com/NOAA-EMC/GSI/pull/374
I suggest @emilyhcliu and @HaixiaLiu-NOAA review

[2022-05-03 13:46] #310 closed

[2022-05-03 13:46] #367 closed, assigned to EdwardSafford-NOAA

[2022-05-03 14:08] #370 closed, assigned to RussTreadon-NOAA

[2022-05-04 15:46] jderber-NOAA opened #375 "Improvements to minimization"
Changes are in branch converge.

[2022-05-04 15:51] RussTreadon-NOAA commented on #154
@jderber-NOAA has extensively investigated GSI minimizations issues.  He has developed a set of changes which significantly improve the minimization.  NOAA-EMC/GSI issue #375 has been opened to document these changes.

[2022-05-04 16:08] jderber-NOAA commented on #375
The minimization issues documented in #154 probably have several source and some interesting characteristics.
The minimization problems disappear when ensembles are not used.  Also, the minimization issues are gone when the moisture part of the radiance jacobians are zeroed out or the CRIS and IASI data are not used.

The changes in this ticket introduce changes that significantly reduce the minim

[2022-05-04 19:11] jderber-NOAA commented on #375
The changes were initially tested with a case on Hera that was particularly bad.  By using these changes the final gradient was reduced more than an order of magnitude.  But this case was used for tuning and testing, so not the best measure of how these changes were working.

Russ reran 4 cases (one day) to look at the impact.

GFS 2022041812
Master (develop)
![image](https://user-images.githubuse

[2022-05-09 16:24] #368 closed, assigned to MichaelLueken

[2022-05-09 16:26] #373 closed, assigned to EdwardSafford-NOAA

[2022-05-10 21:06] AndrewEichmann-NOAA opened #377 "problem with assigning COMIN_OBS and COMIN_GES_OBS in jobs scripts on Orion"
I have eupd tasks failing on Orion, which seems to lead back to the following error in ediag:

This is from the following if-then block jobs/JGDAS_ENKF_DIAG, the lines of which were introduced with the WCOSS2 port :

[code]

The rotdir is here
/work/noaa/stmp/aeichman/comrot/eaglet
The expdir here
/work/noaa/da/aeichman/para/eaglet

[2022-05-11 12:13] AndrewEichmann-NOAA commented on #377
analcalc, analdiag, anal, eobs, and vrfy all have the same problem. Trying reverting everything under jobs

[2022-05-11 12:22] MichaelLueken commented on #377
@AndrewEichmann-NOAA Out of curiosity, what branch of global-workflow are using?  If you haven't tried using [dev_v16](https://github.com/NOAA-EMC/global-workflow/tree/dev_v16), please try again using this branch.  This is the branch that includes the global-workflow changes for WCOSS2 that should work on Hera and Orion.

[2022-05-11 12:26] AndrewEichmann-NOAA commented on #377
@MichaelLueken-NOAA What I'm using is based on the develop branch, last merged mid-March, since last I heard cycling isn't working. I'll try what you suggest.

[2022-05-11 12:49] AndrewEichmann-NOAA commented on #377
@MichaelLueken-NOAA Would you expect dev_v16 to work with the latest GSI develop?

[2022-05-11 13:52] MichaelLueken commented on #377
@AndrewEichmann-NOAA I've never been on Orion, but I would expect that the dev_v16 branch to work using the latest GSI develop.  I believe that @KateFriedman-NOAA has made changes to the dev_v16 branch in the global-workflow project to allow changes for GFS v16.2.0 (WCOSS2 implementation) to work on the R&D machines (Hera and Orion).  I wouldn't expect the current global-workflow develop branch to

[2022-05-11 15:10] KateFriedman-NOAA commented on #377
The global-workflow dev_v16 branch is not yet ready for use on Orion (or Hera). Work is still in progress and currently delayed by on-going WCOSS2 ops tasks. An announcement will be made when dev_v16 is ready for use on WCOSS2, Hera, and Orion.

[2022-05-11 18:01] AndrewEichmann-NOAA commented on #377
@MichaelLueken-NOAA FWIW changing the jobs scripts seems to do the trick

[2022-05-11 18:54] CatherineThomas-NOAA commented on #333
GFS v16.1.6 was implemented on March 31, 2022 at 12z.

Since these changes were incorporated into the WCOSS2 DA port, these changes entered develop via the WCOSS2 merge ad2a3c0 rather than their own PR.

[2022-05-11 18:54] #333 closed

[2022-05-11 18:55] CatherineThomas-NOAA commented on #305
The DO-4 changes entered the GSI develop branch at ad2a3c0.

[2022-05-11 18:55] #305 closed

[2022-05-12 14:36] AndrewEichmann-NOAA opened #378 "refactoring of EFSOI scripts and compiled code"
Much of the EFSOI code is adapted from previously existing GSI Fortran and scripting, and to some extent depends on GSI infrastructure for tasks such as IO. As was remarked in the PRs adding the EFSOI material to the GSI repository, there is a degree of code replication, with its attendant potential for being a burden in future maintenance. To minimize this risk, the scripts and Fortran code will

[2022-05-16 21:46] ADCollard opened #380 "Revert antenna correction for NOAA-15 AMSU-A"
After some digging into our AMSU-A preprocessing, it appears that the assumption that the AMSU-A dump files contain antenna temperatures is not 100% true.  All currently assimilated AMSU-A dump files are antenna temperatures, except NOAA-15 (and NOAA-16 which is no longer functional).

We need to put some logic in GSI to ensure that NOAA-15 (and -16) are not antenna-corrected.

[2022-05-16 21:48] ADCollard commented on #380
Some background:

The antenna correction is actually performed inside the [tranamsua](https://github.com/NOAA-EMC/satingest/blob/develop/sorc/bufr_tranamsua.fd/tranamsua.f) code.  It reads in a coefficient file and spits out corrected or uncorrected files depending on the setting of PROCESS_TA and PROCESS_TB.  For almost every AMSU-A, the coefficient file is missing.

From: /gpfs/dell1/nco/ops/com

[2022-05-17 17:19] HaixiaLiu-NOAA commented on #380
@ADCollard Thank you for documenting the issue with background details. @ScottSieron-NOAA As we discussed during the tag-up meeting, please work on the code modification then update your progress here to let us know once it is ready to review the code changes. Thank you

[2022-05-18 15:57] #112 closed

[2022-05-19 02:31] emilyhcliu opened #382 "Add GSI fix files changes for v16.3"
A GSI fix branch has been created to collect any changes for v16.3
The name of the branch is called: fix_v16.3
Please update GSI master in your fork and check out fix_v16.3 under fix directory

[2022-05-19 10:32] MichaelLueken commented on #382
@emilyhcliu Are these modifications ready to be committed to the authoritative repository?  Want to make sure before I move forward with these changes.

[2022-05-19 14:29] MichaelLueken commented on #341
Reopening issue to be used with PR #381.

[2022-05-19 14:35] christopherwharrop-noaa opened #383 "Update Cheyenne module files to use new hpc-stack location"
The "official" installation of hpc-stack on Cheyenne has recently moved to a new location maintained by EPIC.  Therefore, the module files for the Cheyenne Intel and Gnu builds need updating to point to the new location.  As a side note, the existing module files that use the older location do not work because w3emc version 2.9.1 is missing from that hpc-stack installation.  Updating to the new lo

[2022-05-19 16:02] #383 closed, assigned to christopherwharrop-noaa

[2022-05-19 16:05] #341 closed

[2022-05-19 20:35] ADCollard commented on #382
Changed use flag from -1 to 1 for Meteosat-9 AMVs (satid = 9) in global_convinfo.txt

[2022-05-19 20:51] HaixiaLiu-NOAA commented on #382
Modified global_ozinfo.txt: adjusted obs errors and gross errors for the top 5 layer OMPSNP data. Add entry for ompslp_n21

[2022-05-19 20:54] HaixiaLiu-NOAA commented on #382
@emilyhcliu how do you want to take care of the iuse change associated with Meteosat 8/9 switch on 6/1/2022? Should I create a new global_satinfo.txt file in the directory gfsv16_historical?

[2022-05-19 21:25] emilyhcliu commented on #382
Set AVHRR MetOp-C AMV to 1 (244, 5, 1)
We begin to receive new format of B and C from March
The old format will continue until June
So, we will have both formats from March to June

The new format requires code changes and they are in develop already

AVHRR B and C will be in v16.3

There is no way to add the switch of AB to BC since NCO does not allow code change.

[2022-05-19 21:34] emilyhcliu commented on #382
@MichaelLueken-NOAA Yes, these changes will go into the authoritative repository

[2022-05-19 21:35] emilyhcliu commented on #382
@HaixiaLiu-NOAA Will the switch of Meteosat8/9 definitely occur on 6/1/2022?

[2022-05-19 21:42] ADCollard commented on #382
@HaixiaLiu-NOAA @emilyhcliu There should be no need to worry about historical fix for Meteosat 8/9 AMVs as both are set to +1.  The GSI will process whichever is in the dump file, so this is transparent to GSI once M9 is set to +1.

[2022-05-19 22:02] emilyhcliu commented on #382
@ADCollard @HaixiaLiu-NOAA is thinking about the Meteosat8/9 switch for radiances.

[2022-05-20 01:09] emilyhcliu commented on #382
@HaixiaLiu-NOAA @ADCollard
MeteoSat-9 is becoming operational satellite on June 1, 2022.
And, if the operational data stream  (dump) will only contain data from operational satellite, then we can set the use flag to 1 for both MeteoSat-8 and MeteoSat-9 in the satinfo file.  GSI will process whichever is in the dump file (just like Andrew pointed out).
This should also be the case for Himawari-8 an

[2022-05-20 03:59] HaixiaLiu-NOAA commented on #382
@emilyhcliu @ADCollard I am not sure if CSR dumps generated in a similar way to the AMV dumps (i.e., only data from primary satellite are tanked and dumped). We need to ask Jeff and Iliana about this.

I will open a PR to add seviri_m09 into the radmon

[2022-05-20 04:04] HaixiaLiu-NOAA opened #385 "Add seviri_m09 into RadMon"
seviri_m08 and seviri_m11 CSR data are assimilated in operation currently, but the satellite M08 will be switched with M09 on 6/1/2022 (i.e., starting from 6/1/2022, M09 will become the primary satellite while M08 will provide parallel data till 6/30/2022). The seviri_m09 needs to be added into the RadMon util.

No impact on analysis is expected.

[2022-05-20 04:42] HaixiaLiu-NOAA commented on #382
The PR to add seviri_m09 into the RadMon has been opened. Please review it @emilyhcliu.

[2022-05-20 12:38] AndrewEichmann-NOAA commented on #358
EFSOI now being compiled in develop

[2022-05-20 12:38] #358 closed, assigned to nobody

[2022-05-20 13:11] AndrewEichmann-NOAA opened #387 "impacts of recent file location and name changes"
I'm running with a gsi build merged with GSI develop hash 524527b38caed344429d3dfc358a01c5faf6b632  (May 18th) and an older global-workflow d758e8b227fca7b5a3320adc43c29ba492c3bfe9 (Mar. 10), due to the current problem with cycling. The relocation of the executables to GSI/install/bin/ breaks global-workflow/sorc/link_workflow.sh, which expects them to be in GSI/exec, with downstream task failures

[2022-05-20 13:24] AndrewEichmann-NOAA commented on #387
Making the appropriate change to global-workflow/sorc/link_workflow.sh, and then creating gsi.fd/exec and ls -s ../install/bin/* into it works so far

[2022-05-20 16:08] #385 closed, assigned to HaixiaLiu-NOAA

[2022-05-20 16:13] emilyhcliu commented on #382
@HaixiaLiu-NOAA thanks! Reviewed and approved!

[2022-05-20 16:16] emilyhcliu commented on #382
@HaixiaLiu-NOAA @ADCollard Am I correct that we should set the **use flag  to 1** for both  Himarari-8 and Himarari-9 in satinfo file?  The same fot MeteoSat-8 and MeteoSat-9.  Any thoughts?

[2022-05-20 17:30] ScottSieron-NOAA commented on #380
On Monday my GSI was rebased and transitioned to the now-called develop branch. From there a branch called n15_TaTb was created and the code changes were implemented. It is straightforward change:

if ( (amsua .or. amsub .or. mhs) **.and. &
  .not.(jsatid == 'n15' .or. jsatid == 'n16')** )then
    ...
    call apply_antcorr(...)
    ...
end if

The logic was tested with the use of elseif and else

[2022-05-20 17:33] ScottSieron-NOAA commented on #380
The authoritative repository update on the afternoon of Wednesday was merged into my GSI.

I am running into difficulty running the GSI after merging this update. I discovered changes required in the single-cycle analysis scripts, e.g., /scratch1/NCEPDEV/da/Scott.Sieron/GDAS/scripts/rungsi_amsua_n15_noTaTb.sh . After merging the update and installing, I changed the module load to gsi_hera.intel.lu

[2022-05-20 18:08] AndrewEichmann-NOAA commented on #387
The link needs an absolute path, not a relative one, and there are some changes in name filenames between the root files and the links

[2022-05-20 18:09] AndrewEichmann-NOAA commented on #377
Now I'm adding these lines to the end of config.base, though it is not the most general solution:

[code]

[2022-05-20 19:17] TingLei-daprediction opened #388 "Verification of readin_localizaiion=.true. for regional GSI"
One recent test of FV3-LAM GSI compiled with debug mode  using readin_localization=.true. shows error message about index exceeding the upper boundary in convert_km_to_grid_units (hybrid_ensemble_isotropic.F90) at the labelled line as shown below:
if(nz>1)then
do n=2,n_ens
nk=(n-1)*grd_loc%nsig
do k=1,grd_loc%nsig
s_ens_h_gu_x(nk+k)=s_ens_h_gu_x(k) !clt runtime error occured,
s_ens_h_gu_y(nk+k)=s_

[2022-05-20 19:19] ADCollard commented on #380
@ScottSieron-NOAA Did you get anywhere with this?  I assume you are using @emilyhcliu's scripts?  I just ran develop using Emily's scripts and was successful.  It looks like it's the ncdiag cat step that is causing you trouble.  I pointed to install/bin/ncdiag_cat_serial.x not install/bin/nc_diag_cat.x  though.

[2022-05-20 19:26] HaixiaLiu-NOAA commented on #382
@emilyhcliu I do not know if it is true that the CSR dumps will have similar situation as AMV for Meteosat 8/9 and Himawari8/9 (i.e. only data from primary satellite are in the operational tanks/dumps) I will send an email to Jeff/Iliana to check on that. Or could we wait till 6/1/2022 to check the operational CSR dumps to see if it is the case? When do you want to start the para for v16.3?

[2022-05-20 19:50] HaixiaLiu-NOAA commented on #380
@ScottSieron-NOAA What is the reason to change from using exec to install executables? After bringing the authoritative updates to your own fork, you can still use the executables in the exec directory after recompiling. And are the changes required in the single-cycle analysis scripts referring to point to different gsi executable or more than that?

[2022-05-20 20:08] ScottSieron-NOAA commented on #380
@ADCollard Mike suggested changing the bufr version, but this did not resolve the issue (except for the BUFRLIB: ISETPRM - DYNAMIC MEMORY ALLOCATION IS NOT SUPPORTED FOR THIS BUILD OF BUFRLIB).

But your suggestion of instead using ncdiag_cat_serial.x has resolved the issue, thank you.

@HaixiaLiu-NOAA I suppose I am doing something wrong with the compiling because an exec directory is not created

[2022-05-20 20:24] emilyhcliu commented on #382
@HaixiaLiu-NOAA Ok, thanks for your explanation.  Please go ahead and ask the question to Jeff/Iliana.
If we can not get a confirmed answer from them, we will just keep the use flag to -1 for  Himawari-9 and MeteoSat-9   We can change it later.

[2022-05-20 20:51] EdwardSafford-NOAA opened #389 "Update RadMon build script"
With the CMake refactor the RadMon's build script no longer works and will need to be updated.

[2022-05-23 09:31] MichaelLueken commented on #380
@HaixiaLiu-NOAA That shouldn't be happening.  Rahul changed the build so that all executables end up in install/bin.  The moving of executables from build/bin to exec has been removed.  Once the HEAD of the authoritative develop branch has been merged to your fork, there should no longer be an exec directory with executables.  If there is, then something went wrong with the merge.

[2022-05-23 16:56] emilyhcliu opened #391 "Create GSI release branch for v16.3 testing with global-workflow on WCOSS-2"
Create GSI release branch for v16.3 implementation with global-workflow on WCOSS-2
We are still waiting for the following two items to be merged in GSI  master

(1) [PR #380](https://github.com/NOAA-EMC/GSI/pull/390) to be merged into GSI master
(2) The branch (fix_v16.3) for GSI fix repository.

[2022-05-23 17:48] emilyhcliu commented on #391
There is an [update in global workflow](https://github.com/NOAA-EMC/global-workflow/issues/802) that will need to be incorporated into GSI develop before creating the v16.3 release branch.

[2022-05-23 18:17] TingLei-daprediction commented on #337
@hongli-wang this issue and its' associated PR represent a significant development on GSI.  Would it be helpful for you to give appropriate documentation in this issue  to help GSI developers and users understand this new capability and GSI itself?
That is also one goal  of the GSI issues !

[2022-05-23 19:00] HaixiaLiu-NOAA commented on #382
@emilyhcliu we will need to keep iuse=-1 for Meteosat-9 and Himawari9 before the data in operational dump (6/1/2022 for Meteosat-09 and to be determined for Himawari-9) due to the bias correction spinup required to correctly use the CSR data from both instruments.

[2022-05-24 11:16] MichaelLueken opened #392 "Add atmos subfolder to relevant DMPDIR paths for authoritative develop and GFS v16.3 implementation"
It has been decided to add a `$COMPONENT` (`atmos`) subfolder into the global dump archive (GDA) folders:

`$CDUMP.$PDY/$cyc` -> `$CDUMP.$PDY/$cyc/atmos`

This will bring the GDA in alignment with related updates to add a `$COMPONENT` (`atmos`) subfolder into the GFS and OBSPROC com structures. This is also needed for running the GFS and using `compath.py` for defining `COM` paths.

This update is

[2022-05-24 11:37] MichaelLueken commented on #392
In 649893c

Added `$COMPONENT` to both `$DMPDIR/$CDUMP.$PDY/$cyc` and `$DMPDIR/$CDUMP.$gPDY/$gcyc` for:
 * jobs/JGDAS_ATMOS_ANALYSIS_DIAG
 * jobs/JGDAS_ATMOS_CHGRES_FORENKF
 * jobs/JGDAS_ENKF_DIAG
 * jobs/JGDAS_ENKF_ECEN
 * jobs/JGDAS_ENKF_SELECT_OBS
 * jobs/JGDAS_ENKF_SFC
 * jobs/JGLOBAL_ATMOS_ANALYSIS
 * jobs/JGLOBAL_ATMOS_ANALYSIS_CALC

[2022-05-24 11:51] MichaelLueken commented on #391
Issue #392 and PR #393 were created to address the adding of atmos to relevant DMPDIR paths.  Once the atmos subfolder has been added to all GDAs, then PR #393 can be merged to the authoritative develop and the release/gfsda.v16.3.0 release branch can be created from develop.

[2022-05-24 11:54] MichaelLueken commented on #382
@emilyhcliu @ADCollard @HaixiaLiu-NOAA Are there any more changes to the fix files for GFS v16.3, or will I be able to update the fix files to use `fix_v16.3` tomorrow after merging in @ADCollard PR #374?

[2022-05-24 14:10] emilyhcliu commented on #382
@MichaelLueken-NOAA Changes for fix_v16.3 are all in place now.  I will work with developers to make sure changes will be all in by the end of today.  So, yes, please go ahead to update the fix after merging in Andrew's PR tomorrow.

[2022-05-24 20:29] rtodling commented on #380
Andrew and Emily: Given that you are changing GSI to accommodate the pre-processing error, I take it that there is, and neither there will be, a plan to fix the pre-processing. Am I right? It would be rather hard to know when to apply the fix in GSI or not ... although I supposed a date can also be patched in the GSI code for when to treat as antenna T or or ...

Please let me know.
Cheers.

[2022-05-24 21:05] ADCollard commented on #380
@rtodling Management made the decision to not fix the preprocessing so that we could maintain continuity in the dump files (and not re-process 25 years of AMSU data).   It is unclear for how much longer NOAA-15 will be around (launched in 1998!) and actually the bias correction does a very good job of mimicking the antenna correction anyway.  Just to be clear the double-correction of NOAA-15 did n

[2022-05-25 10:55] MichaelLueken opened #394 "Adding -g and -traceback Intel compiler options back into utilities and ncdiag"
Following the CMake refactor, it was noted that `ncdiag` wasn't giving meaningful traceback information while debugging `nc_diag_cat.x` issues (please see issue [380](https://github.com/NOAA-EMC/GSI/issues/380#issuecomment-1133152957)).  Compiling using `VERBOSE=1` shows that only the GSI and EnKF are compiling using `-g` and `-traceback` compiler options, so I will add these options in for the re

[2022-05-25 14:47] TingLei-daprediction commented on #388
An update:  it is verified that the rationale behind mapping between s_ens_h_gu_x(y) and the read-in vertically s_ens_hv is right ( from fields of nsig to fields of nsig*n_ens). But a simple fix is needed for subroutine convert_km_to_grid_units(s_ens_h_gu_x,s_ens_h_gu_y,nz) in hybrid_ensemble_isotropic.F90

^^
 real(r_kind),intent(  out) ::s_ens_h_gu_x(nz),s_ens_h_gu_y(nz)
V
Should be
^^
real(r_ki

[2022-05-25 15:12] MichaelLueken commented on #388
@TingLei-daprediction No, you will need to create a new branch and create a PR from the branch.  To create the new branch and apply the necessary fix, in your local cloned copy:

1) git remote add upstream https://github.com/NOAA-EMC/GSI.git
2) git remote update
3) git checkout upstream/develop
4) git submodule update
5) git checkout -b feature/verification_388 (or whatever you would like the bran

[2022-05-25 15:16] TingLei-NOAA commented on #388
@MichaelLueken-NOAA  the problem is how I , in my fork, can get a clean version from EMC master without going through my master/develop in my forks?  Following the regular steps as you listed above, the checkedout local branch would contain those changes in my master which should not be for this fix.   Any ways to avoid this ?  Thanks.

[2022-05-25 15:17] TingLei-NOAA commented on #388
@MichaelLueken-NOAA  Thanks. I will try your instructions and let you know how it works.

[2022-05-25 15:19] TingLei-NOAA commented on #388
And I will do a comparison between the new and old codes compiled in non-debug mode.

[2022-05-25 15:56] #371 closed, assigned to ADCollard

[2022-05-25 16:06] MichaelLueken commented on #382
The fix files changes in fix/fix_v16.3 have been merged to fix/rev2 and updated in the authoritative repository at [eb220ca](https://github.com/NOAA-EMC/GSI/commit/eb220ca0322456d66c9d63cd93977c9ca4c6bbee).  Will keep this issue open until all potential fix file changes have been applied.

[2022-05-25 17:12] emilyhcliu commented on #382
@MichaelLueken-NOAA Thanks.  Yes, Keep this issue open for the v16.3 release branch.

[2022-05-25 17:25] MichaelLueken commented on #391
PR #374 has been merged to the authoritative repository.  The modified fix files in fix_v16.3 have been merged to the authoritative repository's rev2 fix submodule branch.  PR #390 has been submitted to the review committee with a due date of tomorrow and will be merged to the authoritative repository on Friday.

[2022-05-25 17:35] emilyhcliu commented on #391
@MichaelLueken-NOAA Thanks for the update.
Will GSI users be able to create a release branch in the authoritative GSI repository?

[2022-05-25 17:40] MichaelLueken commented on #391
@emilyhcliu No, once PR #390 has been merged to the authoritative repository, I will create release/gfsda.v16.3.0 from the authoritative develop branch (unless we want the update from PR #393 as well before creating the release branch, which shouldn't be an issue because it appears as though Kate has largely updated the GDAs to include the atmos subfolder).  Once the release branch has been create

[2022-05-25 17:47] emilyhcliu commented on #391
@MichaelLueken-NOAA Got it.  Thanks.  Please create the **release/gfsda.v16.3.0** after  PR #390 is merged tomorrow.  And, yes, please give Andrew, Haixia and I write access to the repository.

[2022-05-26 14:59] TingLei-daprediction commented on #388
The quick fix is in the PR 388. It is confirmed in the test case that the previous exceeding bounds error in the regional gsi debug mode would not affect the correctness of the results when GSI is built with optimization. It is explained by assuming the involved array is stored continuously in the memory and hence, it only represent a safety issue with potentially risk to affect the results.

[2022-05-26 15:21] MichaelLueken commented on #388
@TingLei-daprediction These changes haven't been merged to the authoritative repository, so I will reopen this issue and it will be closed when PR #396 has been merged to the authoritative repository.

[2022-05-26 15:22] TingLei-NOAA commented on #388
Mike,
Got it! Thanks a lot for your help!
Ting

______________________________

Ting Lei

IMSG at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Cubicle 2765

College Park, MD 20740

***@***.***

301-683-3624

On Thu, May 26, 2022 at 11:21 AM MichaelLueken-NOAA <
***@***.***> wrote:

[2022-05-27 11:53] MichaelLueken commented on #391
@emilyhcliu Today, I will be merging PRs #390, #393, and #395 to the authoritative repository, then create the release/gfsda.v16.3.0 release branch. Once the release branch has been created, I will give you, @ADCollard, and @HaixiaLiu-NOAA write access to the repository so that you can apply changes to release/gfsda.v16.3.0.  I'll let you know once all of these tasks have been completed.

[2022-05-27 14:39] MichaelLueken commented on #392
In b1b4ca9:

Update `ush/calcanl_gfs.py` to apply patch to make the `chgres_inc.x` executable run sequentially instead of at the same time.

[2022-05-27 15:39] EdwardSafford-NOAA opened #397 "Update OznMon build script"
Update the OznMon's package level build script to work with the CMake refactor.

[2022-05-27 16:06] #380 closed, assigned to emilyhcliu, HaixiaLiu-NOAA, ScottSieron-NOAA

[2022-05-27 16:08] #392 closed, assigned to emilyhcliu, MichaelLueken

[2022-05-27 16:09] #394 closed, assigned to MichaelLueken

[2022-05-27 16:16] emilyhcliu commented on #391
@MichaelLueken-NOAA Thanks!

[2022-05-27 18:00] MichaelLueken commented on #391
@emilyhcliu @ADCollard @HaixiaLiu-NOAA All changes have been merged to the authoritative repository and the release/gfsda.v16.3.0 release branch ahs been created.  I have also granted write access to the authoritative repository to the three of you so that you can make additional changes to the release/gfsda.v16.3.0 branch.

If you have any questions, please let me know.

[2022-05-27 18:43] emilyhcliu commented on #391
@MichaelLueken-NOAA Thanks you so much!

[2022-05-31 15:24] EdwardSafford-NOAA commented on #389
Closing this issue.  Will open a replacement that modifies the package installation and uses only the top level build.

[2022-05-31 15:25] EdwardSafford-NOAA commented on #397
Closing issue.  Will open replacement to modify the package installation using the top level build.

[2022-05-31 15:25] #397 closed, assigned to EdwardSafford-NOAA

[2022-05-31 15:26] #389 closed, assigned to EdwardSafford-NOAA

[2022-05-31 15:35] EdwardSafford-NOAA opened #399 "Update RadMon install script"
Update RadMon install script to use the top level CMake, remove package level build script, and light code clean up.

[2022-06-01 17:06] #388 closed, assigned to TingLei-daprediction

[2022-06-01 17:15] TingLei-NOAA commented on #388
Mike,
Thank you!
Ting

______________________________

Ting Lei

IMSG at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Cubicle 2765

College Park, MD 20740

***@***.***

301-683-3624

On Wed, Jun 1, 2022 at 1:07 PM MichaelLueken-NOAA ***@***.***>
wrote:

[2022-06-02 15:36] MichaelLueken opened #400 "Remove global_gsi.x and global_enkf.x from regression tests and use gsi.x, enkf.x, and ncdiag_cat_serial.x in scripts for release/gfsda.v16.3.0"
This issue will document the changes to remove `global_gsi.x` and `global_enkf.x` from the regression tests and use `gsi.x`, `enkf.x`, and `ncdiag_cat_serial.x` rather than `global_gsi.x`, `global_enkf.x`, and `ncdiag_cat.x`, respectively, in scripts and ush.

Work will be done in [release/gfsda.v16.3.0](https://github.com/MichaelLueken-NOAA/GSI/tree/release/gfsda.v16.3.0)

[2022-06-03 16:30] MichaelLueken commented on #400
These changes were merged to release/gfsda.v16.3.0 at
b19916b.  Closing this issue.

[2022-06-03 16:30] #400 closed, assigned to MichaelLueken

[2022-06-03 16:38] MichaelLueken opened #402 "Adding necessary entries to build_4nco_global.sh"
It has been noted that `ush/build_4nco_global.sh` doesn't build all of the necessary utilities for the GFS.  Updating `ush/build_4nco_global.sh` to include `-DBUILD_UTIL_MON=ON -DBUILD_UTIL_NCIO=ON` to ensure that all utilities are properly built.

Work will be in [feature/add_util_options](https://github.com/MichaelLueken-NOAA/GSI/tree/feature/add_util_options)

[2022-06-03 16:53] MichaelLueken commented on #402
These changes were merged to release/gfsda.v16.3.0 at
40f0efd.  Closing issue.

[2022-06-03 16:53] #402 closed, assigned to MichaelLueken

[2022-06-03 19:14] aerorahul opened #406 "Remove GSI Observation Monitoring Utilities from the GSI repository"
The GSI observation monitoring tools have been moved to its own repository at: [NOAA-EMC/GSI-Monitor](https://github.com/NOAA-EMC/GSI-Monitor) as part of the repository separation of concerns.

[2022-06-08 10:37] RussTreadon-NOAA commented on #348
@MichaelLueken-NOAA and @WalterKolczynski-NOAA , is this the issue we must resolve before we can restore DA cycling in the global workflow?   Following some of the issue links above suggests that we are waiting for hpc-stack issue [#437](https://github.com/NOAA-EMC/hpc-stack/issues/437).

We have issues referencing issues.   It would be could to list somewhere, perhaps g-w issue [#711](https://git

[2022-06-08 12:12] WalterKolczynski-NOAA commented on #348
Yes, this is what I'm waiting on to fix cycling in global workflow.

[2022-06-10 18:29] #325 closed

[2022-06-10 18:32] #406 closed, assigned to aerorahul

[2022-06-13 11:53] WalterKolczynski-NOAA opened #408 "Incorrect default executables"
The executable names for `global_gsi.x`, `global_enkf.x`, and `ncdiag_cat.x` were all updated to new names, but the default executable names in global scripts weren't updated. These should be updated to reflect the new executable names.

[2022-06-13 12:33] #408 closed, assigned to WalterKolczynski-NOAA

[2022-06-13 20:02] aerorahul opened #410 "(Re)move ncdiag source code from the GSI repository"
`ncdiag` is used in the [GSI](https://github.com/noaa-emc/gsi), [GSI-monitor](https://github.com/noaa-emc/gsi-monitor) as well as in some JEDI based UFO evaluation applications.

This library is built every time the GSI is built and does not change often (or at all).  There has been no change to the source code till a bug fix for GNU update a month ago.

In order to make flexible use of this libra

[2022-06-17 10:32] aerorahul opened #413 "Most LUA-format modulefiles have incorrect variables (compiler and MPI)."
https://github.com/NOAA-EMC/GSI/blob/ad84f17c066d107313af573f7bb519536f5b0096/modulefiles/gsi_hera.gnu.lua#L13
https://github.com/NOAA-EMC/GSI/blob/ad84f17c066d107313af573f7bb519536f5b0096/modulefiles/gsi_hera.gnu.lua#L14

Variables `hpc_gnu_ver` and `hpc_mpich_ver` are not defined.

https://github.com/NOAA-EMC/GSI/blob/ad84f17c066d107313af573f7bb519536f5b0096/modulefiles/gsi_hera.gnu.lua#L7
https

[2022-06-17 12:09] MichaelLueken commented on #413
@aerorahul - Looking more carefully, this is an issue with most of the LUA-format modulefiles, especially with compiler and MPI versions.  I will be addressing all incorrect variables in this issue.

[2022-06-17 15:24] MichaelLueken commented on #413
In [67b6146](https://github.com/MichaelLueken-NOAA/GSI/commit/67b61469ec4bfecc522d244662096e6e10210b74):
 * `gsi_hera.gnu.lua` - replaced:
[code]
with:
[code]
* `gsi_hera.intel.lua` - replaced:

`local impi_ver=os.getenv("hpc_impi_ver") or "2018.0.4"`
with:
`local hpc_impi_ver=os.getenv("hpc_impi_ver") or "2018.0.4"`
* `gsi_orion.lua` - replaced:

`local impi_ver=os.getenv("hpc_impi_ver") or "2018

[2022-06-21 13:49] #335 closed

[2022-06-21 13:51] #410 closed, assigned to aerorahul

[2022-06-21 13:52] #413 closed, assigned to MichaelLueken

[2022-06-21 21:55] TingLei-daprediction opened #416 "The " floating invalid" run-time error for fv3reg EnKF"
On hera, using a clean check-out GSI from the EMC repository  to repeat a previous case, built with debug mode , it was found the  "floating invalid " run-time error
^^
 0: forrtl: error (65): floating invalid
 0: Image              PC                Routine            Line        Source
 0: enkf.x             00000000016AE0DE  Unknown               Unknown  Unknown
 0: libpthread-2.17.s  00002AFD

[2022-06-22 00:12] TingLei-daprediction commented on #416
An update:  this run-time error  occurred because both sumcoslattot (2) and sumfttot(2) =0 , because they correspond to values for south hemisphere.  It is correct because in those regional fv3 run, the domain doesn't extend to the south hemisphere.
The "old " version of the enkf (the git log infor as below)   also give 0 values for those two variable for SH, but won't abort.
^

commit 548af240031

[2022-06-22 02:13] aerorahul opened #417 "Setup continuous integration with every push and pull request"
Setup continuous integration (CI) for testing builds of the GSI through Github Actions.
These tests must pass before a PR can be reviewed or approved for merge to `develop`.

[2022-06-22 10:59] MichaelLueken commented on #416
@TingLei-daprediction I only have regression tests for global EnKF runs, so I have no way of testing regional FV3 EnKF.  The [src/enkf/inflation.f90](https://github.com/NOAA-EMC/GSI/blob/develop/src/enkf/inflation.f90) file hasn't been updated since May 11, 2020.

If the values are zero, then clearly the code should fail with a divide-by-zero failure.  As best as I can tell, the primary developer

[2022-06-22 12:05] TingLei-daprediction commented on #416
@MichaelLueken-NOAA  Yes, I think this run-time error with the enkf of debug mode is reported by the program because of  the change in the compiling side.  This was confirmed by my test using "older" version as mentioned in my previous "update" part.
So, in summary, we have two options here:  the first,  sticking to the "older" practice,   using "older" compiling options, even in debug mode, the p

[2022-06-22 12:22] MichaelLueken commented on #416
@TingLei-daprediction The code should never be able to divide by zero (especially in debug mode), so it would be best to correct this so that the code isn't dividing by zero.  Removing debug options is not the best course forward.

[2022-06-22 12:26] TingLei-daprediction commented on #416
@MichaelLueken-NOAA . Sure. I will make the change as described above in the option 2 and put them in the PR 362.
Thanks.

[2022-06-22 17:59] #417 closed, assigned to aerorahul

[2022-06-23 13:35] TingLei-daprediction commented on #361
About the verification,  the new codes without the grid-reorientation should give identical results for all variables except for U and V.  That is because, using U as example,  U has (:, ny+1,:) dimensions, namely has an extra line in y direction than other variables. In the current FV3REG EnKF,  as an approximation,  the first ny of U would be taken to be updated alongside other variables and the

[2022-06-23 14:42] #266 closed

[2022-06-23 14:46] RussTreadon-NOAA opened #419 "DA utility bug fixes"
Cycled global parallel tests on Orion identified two small bugs in the authoritative NOAA-EMC/GSI [develop](https://github.com/NOAA-EMC/GSI/tree/develop).

1) `util/EnKF/gfs/src/getsigensmeanp_smooth.fd/getsigensmeanp_smooth_ncep.f90`
When intrinsic `nargs()` replaced with [`iargc()`](https://github.com/NOAA-EMC/GSI/blob/develop/util/EnKF/gfs/src/getsigensmeanp_smooth.fd/getsigensmeanp_smooth_ncep

[2022-06-23 14:48] RussTreadon-NOAA commented on #419
Create forked branch [feature/bugfix](https://github.com/RussTreadon-NOAA/GSI/tree/feature/bugfix) in which to correct the identified bugs.

[2022-06-23 15:34] #419 closed, assigned to RussTreadon-NOAA

[2022-06-27 20:56] TingLei-daprediction opened #421 "Enforce the requirement of netcdf 4 format for FV3 model files in FV3-LAM GSI runs"
The current GSI for fv3-lam has been implemented the parallel IO (https://github.com/NOAA-EMC/GSI/pull/249/checks), which greatly improve the IO performance when the chunks of those netcdf files are set appropriately.
However, this parallelization is based on  the implementation for for netcdf 4, which is   based on HDF 5 parallelization.  Hence, the current GSI for FV3-LAM requires the model file

[2022-06-29 14:24] emilyhcliu opened #422 "Tree conflict between develop and release branch gfsda.v16.3.0"
I cloned GSI develop from GSI repository and then tried to checked the release/gfsda.v16.3.0 branch:

git clone --recursive https://github.com/NOAA-EMC/GSI.git
git checkout release/gfsda.v16.3.0

The following error message occurred while checking out the release branch:
[code]

This prevented me from checkout the release/gfsda.v16.3.0.
Is there a way to get around this?

[2022-06-29 14:40] MichaelLueken commented on #422
Hi @emilyhcliu ,

Unfortunately, the go to answer:

`git checkout -f release/gfsda.v16.3.0`

will keep the submodule and add in the missing components from the `release/gfsda.v16.3.0` branch (not very pretty and might cause issues in the future).  To get around this issue, please use:

[code]

This will allow you to properly checkout the proper version of `ncdiag` associated with `release/gfsda.v1

[2022-06-29 15:00] emilyhcliu commented on #422
@MichaelLueken-NOAA Thanks for the solution.

[2022-06-29 15:21] MichaelLueken commented on #422
@emilyhcliu Another option would be to use:

`git clone --recursive git@github.com:NOAA-EMC/GSI.git -b release/gfsda.v16.3.0`

This will clone and checkout the release branch all in one go, so you don't need to worry about removing `src/ncdiag` to checkout `release/gfsda.v16.3.0`.

[2022-06-29 19:03] arunchawla-NOAA commented on #348
I am trying to follow this and am wondering why this issue is still open ? Did the update to ncio module 1.1.2 not fix the problem ?

[2022-06-30 09:16] MichaelLueken commented on #348
@arunchawla-NOAA The ncio/1.1.2 fixes the issue.  The problem is that the ncio/1.1.2 needs to be available on WCOSS2 before the module can be used in the GSI.  All library modules are defined in modulefiles/gsi_common.lua.  While replacing ncio/1.0.0 with ncio/1.1.2 will work for all machines except for WCOSS2, there is no point in applying a change to the authoritative repository that will cause

[2022-06-30 09:25] MichaelLueken commented on #348
@arunchawla-NOAA Following what you said in issue [#711](https://github.com/NOAA-EMC/global-workflow/issues/711) in global-workflow, since ncio/1.1.2 fixes the ability to read GFS history files and allows the GSI to run while reading and writing NetCDF files, I will go ahead and close this issue and open a new issue to bring ncio/1.1.2 into modulefiles/gsi_common.lua once it is available on WCOSS2

[2022-06-30 09:33] MichaelLueken commented on #348
Thanks to the modifications made by @jswhit, ncio/1.1.2 is able to both properly read and write time_iso, as well as one dimensional arrays that were causing issues following the original update to read time_iso, this issue has been corrected.  A new issue will now be opened detailing when this updated version is available on WCOSS2 and replacing ncio/1.0.0 with ncio/1.1.2 in modulefiles/gsi_commo

[2022-06-30 09:33] #348 closed

[2022-06-30 09:40] MichaelLueken opened #423 "Availability of ncio/1.1.2 on WCOSS2 and replacing ncio/1.0.0 with ncio/1.1.2 in gsi_common.lua"
Since issue #348 has been corrected with ncio/1.1.2, the GSI is ready to move forward with using this updated version.  This version has been tested on Hera, Orion, and WCOSS1.  Unfortunately, updating gsi_common.lua with ncio/1.1.2 will cause the GSI to fail to compile on WCOSS2.

The purpose of this issue is to keep track on when ncio/1.1.2 has been added to WCOSS2 and to update gsi_common.lua w

[2022-06-30 15:02] aerorahul opened #424 "Separate out utilities into its own repository"
This issue is to separate out the utilities from the GSI repository into its own repository.

[2022-07-01 17:46] #332 closed

[2022-07-01 17:46] #361 closed, assigned to TingLei-NOAA

[2022-07-01 17:46] #416 closed, assigned to TingLei-daprediction

[2022-07-02 03:34] aerorahul opened #425 "clean `ush/`"
[ush](https://github.com/NOAA-EMC/GSI/tree/develop/ush) contains

[code]

Amongst them, the following have not been touched for 4 years:
[code]
refactor_4nco_global.sh
llsub_gsi_cmaq.sh
link_crtm_coeffs.sh
[code]
sub_*
getncdimlen
getgfsnctime
gsi_utils.py
calcanl_gfs.py
calcinc_gfs.py
[code]

[2022-07-05 22:04] wx20jjung opened #428 "Develop and test new infrared cloud detection routines"
We plan to test two different techniques to identify clear/cloudy infrared channels within the GSI.  The two targeted are CO2_slicing (Wylie and Menzel) and dual regression (McNally and Watts).

[2022-07-05 22:18] wx20jjung commented on #428
A branch was created with initial code changes for the CO2_slicing technique, jung_cloud_tests.

[2022-07-07 16:44] #363 closed, assigned to xyzemc

[2022-07-08 11:18] #425 closed, assigned to aerorahul

[2022-07-08 11:20] #424 closed, assigned to aerorahul

[2022-07-08 16:02] MichaelLueken opened #431 "Replace ncdiag submodule with hpc-stack library"
The `ncdiag` library is available on Hera, Orion, and the `para` space on WCOSS2.  The submodule will be replaced with the hpc-stack built `ncdiag/1.0.0` library.

[2022-07-08 16:05] #423 closed, assigned to MichaelLueken

[2022-07-11 04:36] emilyhcliu opened #432 "gfsda.v16.3.0 bug fixes"
The use of anavinfo in GSI and EnKF is not consistent.
GSI uses global_anavinfo_allhydro.l127.txt (ql, qi, qr, qs, and qg)
EnKF uses global_anavinfo.l127.txt  (ql, and qi)

This causes EnKF to crash.  This is a bug introduced during the preparation of the release branch.  The low-resolution parallel experiments were using the correction anavinfo files for both GSI and EnKF.

The following fixes ar

[2022-07-11 04:40] emilyhcliu opened #433 "Update gsi_wcoss2.lua for using CRTM2.4.0 on WCOSS-2"
To use CRTM2.4.0 on WCOSS-2, the modules in gsi_wcoss2.lua need to be modified according to Rahul's suggestion:

[code]

[2022-07-11 05:25] emilyhcliu commented on #432
Please see the changes [here](https://github.com/NOAA-EMC/GSI/commit/caef698d8c71366702c34b1e5d5a0e3dfd1bf6fc).
These changes had been merged into [release/gfsda.v16.3.0](https://github.com/NOAA-EMC/GSI/tree/release/gfsda.v16.3.0)

[2022-07-11 05:28] emilyhcliu commented on #433
Please see the changes [here](https://github.com/NOAA-EMC/GSI/commit/357ea2f0925a01232266098efd0d9c2fa2602e26).
These changes had been merged into [release/gfsda.v16.3.0](https://github.com/NOAA-EMC/GSI/tree/release/gfsda.v16.3.0)

[2022-07-12 18:14] aerorahul opened #435 "Move GFS jjobs, ex and ush scripts to GFS application repository"
This issue is to document moving the GFS scripting to global-workflow.

The following will be moved:

- All scripts under `jobs/`.
- All except [exurma2p5_gsianl.sh](https://github.com/NOAA-EMC/GSI/blob/1a3fb1340d68e5979573d89457557071297532cc/scripts/exurma2p5_gsianl.sh) from `scripts/`
[exurma2p5_gsianl.sh](https://github.com/NOAA-EMC/GSI/blob/1a3fb1340d68e5979573d89457557071297532cc/scripts/exu

[2022-07-13 14:10] #431 closed, assigned to MichaelLueken

[2022-07-13 14:12] #435 closed, assigned to aerorahul

[2022-07-14 14:04] AndrewEichmann-NOAA opened #437 "Have EFSOI compile under GSI and move from GSI-utils"
It seems with the separation of the GSI-utils that the EFSOI executable not longer gets built. Most of the dedicated fortran code is currently under GSI-utils/src/EFSOI_Utilities/src but leans heavily on GSI code. At present building GSI-utils produces the following warnings:

CMake Warning at src/EFSOI_Utilities/CMakeLists.txt:2 (message):
  Utils: EFSOI utilities require the EnKF library and was

[2022-07-17 23:48] emilyhcliu opened #438 "gfs.v16.3.0 Implementation: Initialization of Radiance Bias Correction - Issue, Diagnostics and Fix."
### **Background**
In gfs.v16.3.0 parallel experiment, AMSU-A, MHS, ATMS, and CrIS NPP sensors are initialization with zero bias coefficients and zero bias correction variances (preconditioning).

The reasons for initializing AMSU-A, MHS and ATMS are the following:
(1) switch from assimilating antenna temperature to brightness temperature for AMSU-A, MHS and ATMS
(2) add the assimilation of precip

[2022-07-20 16:36] AndrewEichmann-NOAA commented on #437
fixed as described in https://github.com/NOAA-EMC/GSI/pull/440 with modifications to git@github.com:AndrewEichmann-NOAA/global-workflow.git branch feature/EFSOI d8d33c1f43d328803a4755f32204ed4e217b420e

[2022-07-20 16:38] #437 closed, assigned to nobody

[2022-07-20 17:56] #421 closed, assigned to TingLei-daprediction

[2022-07-20 19:59] snebuda opened #441 "Add ABI 2km bias predictors for regional LAM"
This issue is to describe work funded by a JTTI project investigating bias predictors for L1b ABI all-sky brightness temperature data for the regional model. Changes included in this repository are initially limited to the file setuprad.f90. The predictors are based on the work by Jason Otkin documented in:
Otkin, J. A., Potthast, R., & Lawless, A. S. (2018). Nonlinear Bias Correction for Satellit

[2022-07-21 21:48] ShunLiu-NOAA opened #442 "Bug fix of reading in radar level2 bufr"
NAM-GSI abort in Aug 2019 and Nov 2021 due to failure of reading in level2 radar bufr with error message:

min,max num_radars=          14          25
  index error in radar_bufr_read_all -- program stops --            0 KPAH
 ****STOP2****  ABORTING EXECUTION w/code=          99

The bug was found in building radar master table and finding the radar name index. In a special case, radar PAHG is ha

[2022-07-25 14:43] MichaelLueken commented on #298
These changes were merged to the authoritative develop branch at [ad2a3c0](https://github.com/NOAA-EMC/GSI/commit/ad2a3c081e295c89a9c66aa3385f8e4c4779ff1a) and [1d475c8](https://github.com/NOAA-EMC/GSI/commit/1d475c88ed381f19e596c83bfa7f949ced789329).  Closing issue.

[2022-07-25 14:43] #298 closed

[2022-07-25 14:43] MichaelLueken commented on #246
These changes were merged to the authoritative develop branch at [ad2a3c0](https://github.com/NOAA-EMC/GSI/commit/ad2a3c081e295c89a9c66aa3385f8e4c4779ff1a) and [1d475c8](https://github.com/NOAA-EMC/GSI/commit/1d475c88ed381f19e596c83bfa7f949ced789329).  Closing issue.

[2022-07-25 14:43] #246 closed

[2022-07-25 17:24] jderber-NOAA commented on #375
Regression tests were run.

As expected, there were small differences when radiance data were used.  This is because of the small changes to the calculation of the simulated brightness temperatures and the jacobian.  The optconv changes should not have had any impact since the default values for optconv is 0.00.

The regression tests are as expected and passed.

[2022-07-26 18:28] AndrewEichmann-NOAA opened #444 "Addition of EFSOI block to anavinfo"
When the EFSOI task runs the executable reads in anavinfo and expects the following block:

[code]
Presently a version of global_anavinfo.l127.txt  is kept in my fork of GSI-utils, but at some point this should be part of the regular fix files. What needs to be done to get this into at least global_anavinfo.l127.txt (and ideally probably all of the global anavinfo files)?

[2022-07-27 10:23] MichaelLueken commented on #444
@AndrewEichmann-NOAA To add or update fix files for the GSI, please see:

https://vlab.noaa.gov/redmine/projects/comgsi/wiki/Updating_fix_files_in_ProdGSI

After cloning your GSI fork:

- cd fix
- git checkout rev2
- git checkout -b feature/efsoi_anavinfo

Copy your updated `global_anavinfo.l127.txt` file to the new fix branch and apply modifications to the rest of the anavinfo files (if desired a

[2022-07-27 15:46] AndrewEichmann-NOAA commented on #444
@MichaelLueken-NOAA Thank you, done.

[2022-07-27 16:15] MichaelLueken commented on #444
@AndrewEichmann-NOAA I see `feature/efsoi_anavinfo` in the fix submodule, but it looks like the `global_anavinfo.l127.txt` file hasn't been updated (there is no `state_vector_efsoi` entry and there is no new entry in the commit log).  Please use git commit and then push back to `feature/efsoi_anavinfo` branch one more time.  I will then be able to merge `feature/efsoi_anavinfo` into `rev2` tomorro

[2022-07-27 16:27] AndrewEichmann-NOAA commented on #444
@MichaelLueken-NOAA Sorry, forgot to commit it. I did so and pushed it.

[2022-07-28 16:46] #337 closed

[2022-07-28 17:11] MichaelLueken commented on #444
The `feature/efsoi_anavinfo` branch was merged to `rev2` at `023f81d` of the fix submodule.  This was pushed to the authoritative `develop` branch at [e23204e](https://github.com/NOAA-EMC/GSI/commit/e23204e5ea8f73056ffb2d181ff340deaa0d2163).  I will now close this issue.

[2022-07-28 17:11] #444 closed, assigned to MichaelLueken

[2022-07-28 18:56] AndrewEichmann-NOAA commented on #444
Thank you!

[2022-07-29 13:59] aerorahul commented on #53
closing issue.  This was merged in the gsi-utils repository https://github.com/NOAA-EMC/GSI-utils/pull/1

[2022-07-29 13:59] #53 closed

[2022-07-29 14:03] aerorahul commented on #241
@CatherineThomas-NOAA @RussTreadon-NOAA
I imagine this is still an issue.  Can we move this to the global-workflow since the jobs and scripts now live there?

[2022-07-29 14:10] RussTreadon-NOAA commented on #241
@aerorahul , this is ancient history to me.   We should confirm that this is still a problem.  If it isn't, we close this GSI issue and we're done.   If it remains a problem, we still close this GSI issue and open a g-w issue as you note.

[2022-07-29 14:12] aerorahul commented on #241
Thanks @RussTreadon-NOAA
I will close this issue and if this problem persists, please open one in global-workflow.

[2022-07-29 14:12] #241 closed

[2022-07-29 15:15] aerorahul commented on #347
@EdwardSafford-NOAA Is this issue still relevant here? or can it be moved to GSI-Monitor?
If not, could you please close it?

[2022-07-29 15:20] aerorahul commented on #357
There have been several reports of this issue when parallel netcdf is used to write the model backgrounds.
I believe it is fixed in the current `develop` of the global-workflow by switching to use serial netcdf.
It is also being investigated as part of series of issues exposed in the WCOSS2 transition.

Regardless, I do not think this is an issue in the GSI or EnKF, but rather an issue with the HD

[2022-07-29 15:21] aerorahul commented on #399
@EdwardSafford-NOAA Is this issue relevant in the GSI anymore?

[2022-07-29 15:22] aerorahul commented on #296
@XuLi-NOAA @ADCollard Is this issue still relevant?  I believe it was fixed in the global workflow.
If so, please close.
Regardless, these jobs are now in the global-workflow.  If the issue persists, please open/move this issue to global-workflow

[2022-07-29 15:28] aerorahul commented on #93
@pmspire
Would your team be willing to use the `develop` version of the GSI?
There has been a significant update in the build system of this package.
Please refer to instructions in [INSTALL.md](https://github.com/NOAA-EMC/GSI/blob/develop/INSTALL.md)

[2022-07-29 15:32] aerorahul commented on #48
@XiujuanSu-NOAA
The monitoring components have been moved to [NOAA-EMC/GSI-utils](https://github.com/noaa-emc/gsi-utils).

[2022-07-29 15:54] XuLi-NOAA commented on #296
It was closed by Mike in February.

On Fri, Jul 29, 2022 at 11:22 AM Rahul Mahajan ***@***.***>
wrote:

[2022-07-29 15:55] #296 closed

[2022-07-29 16:11] EdwardSafford-NOAA commented on #347
With the GSI-monitor reorder this issue is no longer relevant.  Closing issue.

[2022-07-29 16:11] #347 closed

[2022-07-29 16:13] EdwardSafford-NOAA commented on #352
With the GSI-monitor reorganization it's not clear this remains an issue.  Any required work will be done on a new issue in the GSI-monitor repo.

[2022-07-29 16:13] #352 closed

[2022-07-29 16:13] EdwardSafford-NOAA commented on #399
This issue is no longer relevant.  Closing.

[2022-07-29 16:13] #399 closed, assigned to EdwardSafford-NOAA

[2022-07-29 16:14] aerorahul commented on #256
@RussTreadon-NOAA
The discussion on the issue suggests that changes were proposed.
Were they merged?  Can this issue be closed?  I don't see any PR tagging this issue.

[2022-07-29 16:14] MichaelLueken opened #447 "GSI fails to run using newer Intel compilers (i.e, Intel 2022)"
The GSI and EnKF compiles without issue using Intel 2022 and the hpc-stack built Intel 2022 libraries.  However, while running the executable built using Intel 2022, the jobs fail:

[code]

Looking at the output:

[code]

From the traceback:

[code]

Line 555 in src/gsi/setuprad.f90 is:
https://github.com/NOAA-EMC/GSI/blob/e23204e5ea8f73056ffb2d181ff340deaa0d2163/src/gsi/setuprad.f90#L555

Either

[2022-07-29 16:20] MichaelLueken commented on #13
Closing obsolete issue.

[2022-07-29 16:20] #13 closed

[2022-07-29 16:24] RussTreadon-NOAA commented on #256
@aerorahul , I looked at `src/write_incr.f90` in `develop`   The section of code in question is unaltered from what it was in the past

https://github.com/NOAA-EMC/GSI/blob/e23204e5ea8f73056ffb2d181ff340deaa0d2163/src/gsi/write_incr.f90#L361-L375

@MichaelLueken-NOAA , are you aware of the changes mentioned in this issue ever entering develop?

[2022-07-29 16:45] MichaelLueken commented on #256
@RussTreadon-NOAA, looking at `feature/gfsda.v16.1.5_wcoss2_port` branch, I don't see any indication that these changes were applied.  Also, I don't see any indication that these changes were applied to the develop branch via a PR.  So, I don't think the changes described in this issue were ever applied to the authoritative develop branch.

[2022-07-29 16:53] RussTreadon-NOAA commented on #256
Thank you, @Michael Lueken - NOAA Affiliate ***@***.***> .
 Your reply reminds me of the context for this issue.   Yes, we had a few
WCOSS2 port changes which were not accepted because there were considered
code enhancements.   We also had a bug fix which was denied.

On Fri, Jul 29, 2022 at 12:45 PM MichaelLueken-NOAA <
***@***.***> wrote:

[2022-07-29 17:39] aerorahul commented on #256
Ok. Safe to assume that neither the bugfix nor the enhancement is included in GFSv16.3.0 candidate.

[2022-08-01 15:14] emilyhcliu opened #449 "gfs.v16.3.0 Implementation: Increasing NSST biases observed in gfs.v16.3.0 retrospective parallel - issue, diagnostics, solution, and test"
### **Issue and Diagnostics**:

gfsv16.3.0 retrospective parallel is running on Cactus starting from 20211015 18Z

**- After 3-week assimilation, the Northern Hemisphere anomaly correlation score shows significant negative impact.**

![acc_valid00Z_HGT_P500_fhrmean_G002NHX](https://user-images.githubusercontent.com/36091766/182199575-5388393e-095c-47ad-921f-4e0ecce49156.png)

**- Increasing bias a

[2022-08-02 02:17] emilyhcliu commented on #449
Note that in the real-time parallel, the TMBR (radiance) values in the BUFR are all missing values.
Please see ObsProc [Issue #64](https://github.com/NOAA-EMC/obsproc/issues/64)

As a result, no VIIRS data is currently assimilated in the real-time parallel (v163ctl).

[2022-08-03 17:21] TingLei-daprediction opened #450 "Using global and regional ensembles simultaneously for fv3-lam GSI EnVar"
Up to now, in the EMC regional (FV3-LAM) DA parallel runs,  the pre-set global ensembles (80) are used as the sampling covariances in the GSI EnVAR.  This is mainly for the resources required for a self-cycled FV3-LAM regional ensembles.    With the emerging computational resources,  EMC and collaborators are developing self-cycled FV3-LAM (regional) ensembles based GSI EnVAR with smaller ensemble

[2022-08-03 18:04] XuLi-NOAA commented on #449
Based on the RMS and Bias of the NSST  Tf analysis in v163ctl to OSTIA one, it is as expected now (better than operational NSST Tf analysis) globally, but is less significant than the cycling runs previously done, probably due to the missing of VIIRS.  Note the RMS and Bias of CMC to OSTIA is shown as well.

![series_rms_bias_map_4exps_2022062000_2022062718_Global](https://user-images.githubuserco

[2022-08-03 18:14] XuLi-NOAA commented on #449
However, over northern high latitude area, v163ctl becomes slightly further away from OSTIA than the operational one. It maybe caused by the missing of VIIRS data, which helps a better observation coverage, particularly near Northern pole area, where the water body may have a small spatial scale due to the complicated water, sea ice and land surface pattern, and often requires smaller thinning box

[2022-08-04 15:37] #442 closed, assigned to ShunLiu-NOAA

[2022-08-11 10:02] MichaelLueken opened #453 "Correcting bug encountered in read_airs.f90"
The debug tests don't assimilate Aqua AMSUA data.  A test was run assimilating Aqua AMSUA in debug and the job failed due to a floating invalid on line 778:
https://github.com/NOAA-EMC/GSI/blob/5f020214e8f6ee29c14d85c66cfea5620c7e99d0/src/gsi/read_airs.f90#L778
Printing out values for tsavg and chsst showed NaNs for chsst.  Further investigation pointed to chsst values for AMSUA.  Looking in the c

[2022-08-11 15:08] #375 closed, assigned to jderber-NOAA

[2022-08-16 21:00] RussTreadon-NOAA commented on #356
@dtkleist , @CoryMartin-NOAA , @CatherineThomas-NOAA  - for your awareness.

GFS v17 can **NOT** use links in working directories.   In case you do not have access to bugzilla, here's the content of bugzilla [1301](http://www2.spa.ncep.noaa.gov/bugzilla/show_bug.cgi?id=1301)

[code]

[code]

We need to address this for both the GSI- and JEDI- based pieces of GFS v17 DA.

[2022-08-17 13:54] RussTreadon-NOAA commented on #137
Update this issue with a review of the above 12 DA related bugzillas with respect to [release/gfsda.v16.3.0](https://github.com/NOAA-EMC/GSI/tree/release/gfsda.v16.3.0)

**Bugzilla [216](http://www2.spa.ncep.noaa.gov/bugzilla/show_bug.cgi?id=216)**
A check of `release/gfsda.v16.3.0` using NCO's _go to_ check finds 806 occurrences.
  Application of the prune script reduces this to 73 occurrences.

[2022-08-18 22:03] RussTreadon-NOAA commented on #256
Tests of `release/gfsda.v16.3.0` built with `-check all` on WCOSS2 have replicated the problem reported in this issue.  This is not surprising since we didn't resolve the issue last fall.

When `gsi.x` is built and run with `-check all`, a shape mismatch is detected in `write_incr.f90`.    The same line as noted in this issue is identified as the line on which the mismatch occurs.  I'll continue t

[2022-08-22 15:42] RussTreadon-NOAA commented on #137
**Bugzilla 1196**

This bugzilla, _improve error message in gfs_atmos_analysis job for missing enkf input_, has been re-examined using release/gfsda.v16.3.0.   Previous statements regarding improved messaging when encountering missing or zero length input atmospheric and surface hi-res and enkf input files remain valid.

Below is a sample of tests run on WCOSS2 and the resulting error message:

mi

[2022-08-22 16:07] RussTreadon-NOAA commented on #137
**Bugzilla 1198**

This bugzilla, _Improve error handling to use err_chk/err_exit in gfs scripts_, has been re-examined using `release/gfsda.v16.3.0`.  Please note that this bugzilla refers to more than just DA components.   Only the DA aspect of this bugzilla has been examined in `release/gfsda.v16.3.0`.

The following gfsda.v16.3.0 scripts are found to reference `ERRSCRIPT`
[code]
None of these

[2022-08-22 17:29] RussTreadon-NOAA commented on #137
**Bugzillas 1205 and 1206**

These bugzillas,
- 1205:  _exec/global_gsi.x failed in job run with "check all" compilation flag_
- 1206:  _exec/global_enkf.x failed in job run with "check all" compilation flag_

have be re-examined in the context of `release/gfsda.v16.3.0`.

The following lines were added to `ush/build_4nco_global.sh`
[code]
As explained in bugzilla 1205, the `noarg_temp_created` op

[2022-08-22 21:30] RussTreadon-NOAA commented on #137
Bugzilla 1196

Given NCO feedback, add FATAL to error message string.   The previously run tests were rerun on WCOSS2 with the revised error message.  Below are the updated error messages:

missing `sigf04`
[code]

missing `sigf06`
[code]

zero length `sigf09`
[code]

missing `sfcf03`
[code]

missing `sfcf06`
[code]

zero length `sfcf08`
[code]

missing `sfcf06_anlgrid`
[code]

missing `sigf05_ens

[2022-08-23 12:36] RussTreadon-NOAA commented on #137
**Bugzilla 1210**

While GFS DA is not mentioned in this bugzilla, the request made in this bugzilla is good for DA developers to be aware of and adhere to.

A check of DA jobs in [`release/gfsda.v16.3.0`](https://github.com/NOAA-EMC/GSI/tree/release/gfsda.v16.3.0) finds that `compath.py` is in the following jobs:
[code]

The uses of `compath.py` in DA `jobs/` `JGDAS_ENKF*`, `JGDAS_ATMOS_ANALYSIS*

[2022-08-23 14:14] RussTreadon-NOAA commented on #137
**Bugzilla 1212**

Resolution of this bugzilla involves more than just GFS DA.   Resolution of the five items in this bugzilla requires a top down and bottom up sweep of all GFS `jobs`, `scripts`, and `ush`.  Efforts are currently underway to bring `jobs`, `scripts`, and `ush` from GFS component repositories into the global-workflow repository.   g-w PRs [#904](https://github.com/NOAA-EMC/global-w

[2022-08-23 14:30] RussTreadon-NOAA commented on #137
**Bugzilla 1214**

As mentioned[ above](https://github.com/NOAA-EMC/GSI/issues/137#issuecomment-806974932), GFS DA may be done with this bugzilla.   `release/gfsda.v16.3.0` continues the practice of extensively using dynamically allocated arrays in DA source code.   The nature of the changing observational database from cycle to cycle necessitates this approach.

`release/gfsda.v16.3.0` DA apps we

[2022-08-23 14:49] RussTreadon-NOAA commented on #137
**Bugzilla 1216**

The issue noted in this bugzilla, erroneous missing file warnings, has been addressed via issue NOAA-EMC/global-workflow#123 and PR [#144](https://github.com/NOAA-EMC/GSI/pull/144).

A check of `jgdas_atmos_verfozn` job log files from the EMC retrospective and real-time GFS v16.3.0 parallels running on WCOSS2 found that ozone satellite_sensor diagnostic files flagged as `missing

[2022-08-23 16:15] RussTreadon-NOAA commented on #137
**Bugzilla 1218**

This bugzilla addresses the  build for multiple GFS v16 applications. The initial DA response to this bugzilla found in [comments](https://github.com/NOAA-EMC/GSI/issues/137#issuecomment-807055683) earlier in this issue.

The build and installation of `release/gfsda.v16.3.0` is invoked at the g-w level via `sorc/build_all.sh`.  This script executes `sorc/build_gsi.sh` to build a

[2022-08-23 18:40] RussTreadon-NOAA commented on #137
**Bugzilla 1221**

As described in [comments](https://github.com/NOAA-EMC/GSI/issues/137#issuecomment-807114627) above, issue NOAA-EMC/global-workflow#123 addressed the DA aspect of this bugzilla.

A check of the offending DA scripts, `exgdas_atmos_verf*`, in `release/gfsda.v16.3.0` confirms that these scripts no longer contain hard coded paths to `NDATE`.   Each script simply refers to `$NDATE` w

[2022-08-23 19:45] RussTreadon-NOAA commented on #137
**Bugzilla 1222**

[Comments](https://github.com/NOAA-EMC/GSI/issues/137#issuecomment-815107147) pertaining to this bugzilla are found above in this issue.

`release/gfsda.v16.3.0` has been examined with respect to the issues identified in bugzilla 1222.   Neither strings `MOD_PATH` nor `USE_PREINST_LIBS ` occur in `release/gfsda.v16.3.0`.
No occurrences of `COREINC` or `CORELIB` were found in the

[2022-08-24 11:55] MichaelLueken commented on #190
Hi @ilianagenkova.  It looks like the changes associated with this issue were merged to the authoritative repository at [affe4ed](https://github.com/NOAA-EMC/GSI/commit/affe4eda1dac1c5b3c9e5c9fd53c2751ecace4fc) through PR #294.  Is it safe to close this issue?

[2022-08-24 12:38] MichaelLueken commented on #170
Hi @jderber-NOAA.  Looking through the updates made to the authoritative repository, it looks like changes associated with this issue were merged at [d13b3f8](https://github.com/NOAA-EMC/GSI/commit/d13b3f82d1e140f15b248b7c5ea651ec8cd82b80) from PR #242.  Is it safe to close this issue?

[2022-08-24 13:44] MichaelLueken commented on #68
Hi @ScottSieron-NOAA.  Since these changes were merged to the authoritative repository at [c13361c](https://github.com/NOAA-EMC/GSI/commit/c13361c587503298907480d14ef5c92ecb0be3f7) with PR #350, I am checking to see if it is alright to close this issue.

[2022-08-24 18:11] ADCollard commented on #68
@MichaelLueken-NOAA, @ScottSieron-NOAA is not longer with EMC.  Please feel free to close this issue.

[2022-08-24 19:38] emilyhcliu opened #457 "gfsda.v16.3.0: found missing AVHRRs for radmon sattype fix file"
AVHRR MetOp-C and AVHRR MetOp-A are missing from the radmon fix file under:
util/Radiance_Monitor/nwprod/gdas_radmon/fix/gdas_radmon_satupe.txt

[2022-08-24 20:04] shoyokota opened #459 "Add Scale/Variable/Time-Dependent Localization for EnVar"
Scale-Dependent Localization (SDL) is developed here. In SDL, ensemble perturbations structuring ensemble B are divided into multiple scales, and different localization scales are applied to the divided ensemble perturbations. It is expected to be able to use the larger localization scale for large-scale ensemble perturbations even with limited ensemble size. To this end, the dimension of arrays o

[2022-08-25 10:02] MichaelLueken commented on #68
@ADCollard Thanks for the update.  Closing issue now.

[2022-08-25 10:02] #68 closed

[2022-08-25 14:41] jderber-NOAA commented on #170
Mike,

Yes!  You are correct this issue can be closed.

John

On Wed, Aug 24, 2022 at 8:39 AM MichaelLueken-NOAA ***@***.***>
wrote:

[2022-08-25 14:43] MichaelLueken commented on #170
@jderber-NOAA Thanks for the confirmation!  Will close this issue now.

[2022-08-25 14:43] #170 closed

[2022-08-25 18:53] ilianagenkova opened #463 "Resolve "nreal" differences for conventional data"
See email: "data(iamvg,i) out of bounds for some uv obs types" (Russ Treadon, 25 Aug 2022)

**R.T.**
Part of NCO's IT testing is to build and run apps with "-check all".   I've done so for release/gfsda.v16.3.0.  gsi.x fails with an out of bounds array error
[nid001207.cactus.wcoss2.ncep.noaa.gov](http://nid001207.cactus.wcoss2.ncep.noaa.gov/) 369: forrtl: severe (408): fort: (2): Subscript #1 of

[2022-08-25 19:14] ilianagenkova commented on #463
Also see PR #456

[2022-08-25 19:24] #190 closed

[2022-08-26 18:10] #450 closed, assigned to TingLei-daprediction

[2022-08-29 15:22] RussTreadon-NOAA opened #465 "Fix restore function in prune_4nco_global.sh"
The `restore` function of `ush/prune_4nco_global.sh` was broken with 36481a2db.  This issue is opened to report this problem and document the fix.   The fix will be made in fork [RussTreadon-NOAA/GSI/release/gfsda.v16.3.0](https://github.com/RussTreadon-NOAA/GSI/tree/release/gfsda.v16.3.0)

[2022-08-29 15:42] RussTreadon-NOAA commented on #465
The following changes have been made to `ush/prune_4nco_global.sh`

- add logic to separate `prune` function from `restore` function
- add missing keywords in the git commands used in the `restore` option
- specify full directory and file names

These changes were committed to the forked `release/gfsda.v16.3.0` at [f79daf6](https://github.com/RussTreadon-NOAA/GSI/commit/f79daf67b9f0916b8a3500fbab7

[2022-08-29 18:30] RussTreadon-NOAA commented on #137
PR NOAA-EMC/global-workflow#456 was merged into the authoritative [`release/gfsda.v16.3.0`](https://github.com/NOAA-EMC/GSI/tree/release/gfsda.v16.3.0) at [733629](https://github.com/NOAA-EMC/GSI/commit/733629e44d8b72499b3cac924db2d302bd1c3eb4).  As such, this issue may be closed.   Closing this issue, however, does **NOT** close the NCO bugzillas.   EIB, the GFS v16.3.0 DA POC, and the NCO SPA wo

[2022-08-29 19:34] RussTreadon-NOAA commented on #137
Closing this issue given the merger of PR NOAA-EMC/global-workflow#456 into [`release/gfsda.v16.3.0`](https://github.com/NOAA-EMC/GSI/tree/release/gfsda.v16.3.0)

[2022-08-29 19:34] #137 closed

[2022-08-31 13:36] RussTreadon-NOAA commented on #465
Close with completion of PR #466

[2022-08-31 13:36] #465 closed, assigned to RussTreadon-NOAA

[2022-08-31 13:37] RussTreadon-NOAA commented on #457
Close with completion of PR #458

[2022-08-31 13:37] #457 closed, assigned to nobody

[2022-08-31 18:57] RussTreadon-NOAA commented on #433
`crtm/2.4.0` is now a production module on WCOSS2

[code]

The lines specifying the `para` `crtm/2.4.0` in `gsi_wcoss2.lua` are no longer needed.   it is sufficient to specify 2.4.0 in `gsi_common.lua` via
[code]

This change was committed to [`release/gfsda.v16.3.0`](https://github.com/NOAA-EMC/GSI/tree/release/gfsda.v16.3.0) at [51edc2](https://github.com/NOAA-EMC/GSI/commit/51edc24a348b715dfb2c

[2022-08-31 18:57] #433 closed, assigned to emilyhcliu

[2022-09-01 13:34] ShunLiu-NOAA opened #467 "read VAD wind bug fix"
Russ found gsi.x s aborts in read_prepbufr.f90 with the "-check all" compiler option. This issue has been traced to the code section of reading in VAD wind. The observation counter "iout" is not properly incremented. This causes the "-check all" gsi.x to fail. A potential fix to the issue is to move the VAD wind check prior to incrementing "iout".

[2022-09-01 22:43] Wangy1111 opened #468 "Enhancements to simultaneous multiscale EnVar using scale- and variable-dependent localization for the global and regional predictions and parallel ensemble IO for EnVar"
The rapid advancement of new computational resources and technologies permits the global and regional NWP models to resolve a much wider range of scales. Such advancement also allows observations sampling a variety of scales to be ingested in the NWP models. Data assimilation (DA) algorithms, therefore, are required to appropriately analyze the state and its uncertainties across multiple scales.

[2022-09-02 17:21] aerorahul opened #470 "Bump bufr version to 11.6.0+"
It was found that the GSI produces warnings such as these, when compiled w/ bufr 11.4.0 statically allocated library.

[code]

Updating to 11.6.0+ will result in no such warning.  Also using the 11.4.0 `_DA` library would be acceptable.

[2022-09-02 17:23] aerorahul opened #471 "Remove deprecated WCOSS platforms"
WCOSS Phase 1 (Tide and Gyre)
WCOSS Cray (Luna and Surge)
WCOSS Dell (Mars and Venus)

have been decommissioned.

Remove references to these platforms.

[2022-09-06 16:00] RussTreadon-NOAA opened #474 "release/gfsda.v16.30 updates"
This issue is opened to document two updates in forked branch [`RussTreadon-NOAA/GSI/release/gfsda.v16.3.0`](https://github.com/RussTreadon-NOAA/GSI/tree/release/gfsda.v16.3.0):
1. NCO requested that GFS v16.3.0 use `bufr/11.7.0`
2. Tests of `gsi.x` compiled with `-check all` seg faulted in `read_prepbufr.f90` due to VADWND quality control

**bufr/11.7.0**
The GSI references bufr routine `isetprm`

[2022-09-07 10:34] RussTreadon-NOAA commented on #474
**getsigensmeanp_smooth_ncep.f90 bug**

Examination of parallel output found that `getsigensmeanp_smooth.x` is **NOT** generating atmfXXX ensemble spread files.   This is due to a bug reported in GSI issue [#419](https://github.com/NOAA-EMC/GSI/issues/419).  PR [#420](https://github.com/NOAA-EMC/GSI/pull/420) merged the bug fix into `develop` on June 23, 2022.  This bug fix did not make it into `r

[2022-09-07 20:34] RussTreadon-NOAA commented on #474
Close this issue with merge of PR #475 into authoritative `release/gfsda.v16.3.0`

[2022-09-07 20:34] #474 closed, assigned to RussTreadon-NOAA

[2022-09-14 19:29] climbfuji opened #476 "GSI license"
This project doesn't seem to have a license, can you add the correct one please?

[2022-09-21 20:55] BrettHoover-NOAA opened #477 "Potential divide-by-zero error in setupw.f90 for LNVD check"
The LNVD check in `setupw.f90` is used to quality control satellite winds of Type 244, 247, and 257–260. The check involves computing a ratio of the OmF residual to the log of the wind speed, and checking that ratio against a threshold value. If larger than the threshold value, the observation is rejected. e.g. `setupw.f90` [L 993–1002](https://github.com/NOAA-EMC/GSI/blob/develop/src/gsi/setupw.f

[2022-09-27 16:32] RussTreadon-NOAA opened #478 "Incorrect analysis date in calc_analysis.x atmanl.nc file"
NCO testing of GFS v16.3.0 found that `pgrb2.1p00.anl` contained the wrong analysis time.    Investigation by EIB found the wrong analysis date encoded in the `atmanl.nc` file created by `calc_analysis.x`.

The wrong `w3emc` library is used to build `calc_analysis.x`.   `CMakeLists.txt` incorrectly references

   `target_link_libraries(calc_analysis.x PRIVATE w3emc::w3emc_d)`

This line should rea